<div class="form-inner cod-note-lt" *ngIf="allowCOD; else warning" hidden>
    <div class="payment-method-content" ></div>
</div>
<ng-template #warning>
    <div class="form-inner code-note-lt">
        <div class="note-lt">
            Quý khách không thể sử dụng hình thức này.
            <span *ngIf="cartTotal?.base_subtotal_with_discount >= codMaximumPrice">
                Nhằm để đảm bảo an toàn cho thanh toán tiền mặt của bạn, chúng tôi giới hạn thanh toán dưới {{codMaximumPrice?.toString().toVndCurrency()}} cho hình thức thanh toán COD. Vui lòng chọn hình thức thanh toán "Thẻ tín dụng/Thẻ ghi nợ"; "Thẻ ATM nội địa" hoặc các hình thức thanh toán khác để tiếp tục mua sắm
            </span>
                <!--fixme: hard code samsung note 9 product --- MD request-->
            <span *ngIf="!(cartTotal?.base_subtotal_with_discount >= codMaximumPrice)">
                Sản phẩm Samsung Galaxy Note 9 chỉ chấp nhận thanh toán trả trước
            </span>
        </div>
    </div>
</ng-template>
<button (click)="submitPayment()" class="action primary checkout"
    [disabled]="!allowCOD || (cartIsLoading$ | async)" >
</button>
