<div class="page-wrapper checkout-index-index checkout-cart-index lt-checkout">
    <header class="page-header">
        <div class="header-panel">
            <div class="custom-header-cart">
                <ul class="header-cart">
                    <li class="home">
                        <div class="links">
                            <div class="img">
                                <a (click)="backToHome()" href="/">
                                    <img src="{{(commonStoreLogos$ | async)}}">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="phone-number">
                        <p class="phone-number-txt">Hotline: 1900 1907</p>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="main-wrapper">
        <div id="maincontent" class="l-container page-main lt-checkout-onepage">
            <div class="page-title-wrapper" >
                <h1 class="page-title">
                    <span class="base" data-ui-id="page-title-wrapper">Đơn hàng thanh toán không thành công</span>
                </h1>
            </div>
            <div class="columns">
                <ng-container>
                    <div class="checkout-onepage-failure lt-checkout-failure">
                    <div class="message message-error error" style="margin-top: 20px;">Thanh toán không thành công. Quay về Thanh Toán
                        <a href="javascript:void(0)" (click)="goToRechargeCheckout()">tại đây</a> hoặc hệ thống tự động chuyển về trang Thanh Toán trong vòng
                        <span>{{ COUNTDOWN_SECONDS }}</span>s.</div>
                    <div class="head-error">
                        <h2>Có lỗi xảy ra</h2>
                        <p>Vui lòng kiểm tra thông tin thanh toán và thử lại</p>
                    </div>

                    <div class="clearfix">
                        <div class="pull-right lt-checkout-failure__banner">
                            <div class="success-banner">
                                <a>
                                    <img title="Lotte.vn" [src]="'wysiwyg/CARTADS_1.jpg'.toMediaUrl()"
                                         alt="Cám ơn quý khách"
                                         width="280"></a>
                            </div>
                        </div>
                        <div class="middle-content lt-checkout-failure__content">
                            <div class="list-products">
                                <h2>Mã đơn hàng:
                                    <a *ngIf="(authIsLoggedIn$ | async) && rechargeOrderSuccess?.increment_id"
                                       routerLink="/account/orders/{{rechargeOrderSuccess?.increment_id}}"><span> {{rechargeOrderSuccess?.increment_id}}</span></a>
                                    <span *ngIf="!(authIsLoggedIn$ | async) || !rechargeOrderSuccess?.increment_id"
                                          href="javascript:void(0)"> {{rechargeOrderSuccess?.increment_id}}</span>
                                </h2>
                                <ul>
                                    <li>
                                        <p>{{ rechargeCart?.product_name }}</p>
                                        <p>Số lượng: {{ rechargeCart?.product_qty }}</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="order-info">
                                <p>Thẻ cào/nạp tiền dịch vụ sẽ được gửi qua số điện thoại {{rechargeCart?.user_phone_number}} đã sử dụng mua hàng trong thời gian sớm nhất. Trong trường hợp
                                    chưa nhận được thẻ cào/nạp tiền dịch vụ sau 5 phút, vui lòng liên hệ với Trung tâm Hỗ trợ Khách hàng của LOTTE.vn để được hỗ trợ.</p>
                            </div>
                        </div>
                    </div>

                    <div class="end-success">
                        <p>* Không áp dụng đổi trả cho các sản phẩm thẻ cào, thẻ game hoặc dịch vụ nạp tiền điện thoại</p>
                        <div class="return-home">
                            <a (click)="backToHome()" href="/">Quay lại trang chủ LOTTE.vn</a>
                        </div>
                    </div>
                </div>
                </ng-container>
            </div>
        </div>
    </div>

    <footer class="page-footer">
        <div class="footer content" [innerHTML]="footerHtml" runScripts>

        </div>
    </footer>
</div>