<div class="catalog-product-view product-purchase-recipe lt-modal-dialog lt-modal-product-size">
    <div class="lt-modal-dialog__header lt-modal-product-size__header">
        <h1 class="lt-modal-dialog__header--title">BẢNG KÍCH CỠ</h1>
        <button class="lt-modal-dialog__header--close" type="button" (click)="closeModal()">
        </button>
    </div>
    <div class="popup-size-chart">
        <div class="tabs-size-chart">
            <ul class="tab">
                <li [ngClass]="{'ui-state-active': selectedType === type}" (click)="selectedType = type; selectedSub = selectedType.children[0]"
                    *ngFor="let type of types"><a>{{type.cat}}</a></li>
            </ul>

            <div class="tab-container current active">
                <div class="subtab-size-chart sub-category">
                    <ul class="sub-tab">
                        <li [ngClass]="{'ui-state-active': selectedSub === sub}" (click)="selectedSub = sub" *ngFor="let sub of selectedType.children"><a>{{sub.sub}}</a></li>
                    </ul>

                    <div class="subtab-container active" style="display: flex" *ngIf="selectedSub">
                        <div class="size-images">
                            <div class="component">
                                <div class="items">
                                    <div class="item">
                                        <div class="image">
                                            <img title="Product recipe" [src]="selectedSub.image" alt="" width="237" height="410">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div slimScroll [options]="slimScrollOptions">
                            <div class="table-size" *ngIf="selectedSub">
                                <div class="tables-block table-standard" *ngIf="selectedSub.sizes">
                                    <ul class="tables-grid tables-title">
                                        <li *ngFor="let key of getKeys(selectedSub.size_headers)" class="col {{ key }}">{{ selectedSub.size_headers[key] }}</li>
                                    </ul>

                                    <ul class="tables-grid tables-content">
                                        <li *ngFor="let size of selectedSub.sizes">
                                            <div *ngFor="let key of getKeys(size)" class="col {{ key }}">{{ size[key] }}</div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="tables-block table-standard" *ngIf="selectedSub.notes">
                                    <ul class="tables-grid tables-title">
                                        <li *ngFor="let key of getKeys(selectedSub.note_headers)" class="col {{ key }}">{{ selectedSub.note_headers[key] }}</li>
                                    </ul>

                                    <ul class="tables-grid tables-content">
                                        <li *ngFor="let note of selectedSub.notes">
                                                <div *ngFor="let key of getKeys(note)" class="col {{ key }}">{{ note[key] }}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
