<ng-container *ngIf="!isLandingStyle else lotteria_style">
    <section class="page-title-lt">
        <div class="container-lt">
            <h1>{{sellerName}}</h1>
            <!--<div class="rating-block-lt">-->
            <!--<div class="rate-inner">-->
            <!--<div class="unit active"></div>-->
            <!--<div class="unit active"></div>-->
            <!--<div class="unit active"></div>-->
            <!--<div class="unit"></div>-->
            <!--<div class="unit"></div>-->
            <!--</div>-->
            <!--<div class="rate-text">(14 đánh giá)</div>-->
            <!--</div>-->
        </div>
    </section>

<!--<app-common-fs-category-tree></app-common-fs-category-tree>-->
<!--<app-common-fs-product-filter-category></app-common-fs-product-filter-category>-->
<app-common-fs-product-filter></app-common-fs-product-filter>
<!--<app-cfs-tpo></app-cfs-tpo>-->
<app-common-fs-products></app-common-fs-products>
</ng-container>

<ng-template #lotteria_style>
    <main class="main">
        <div class="lot-page">
            <!-- top banner -->
            <div *ngIf="vendorLandingSetting?.top_banner_html" [innerHtml]="vendorLandingSetting.top_banner_html | safeHtml" runScripts></div>
            <!-- end top banner -->
            <app-seller-lotteria-products></app-seller-lotteria-products>
        </div>
    </main>
</ng-template>