<div class="bigbang-game-popup bigbang-game-term-popup bigbang-game-thanhtich-popup">
    <div class="modal-dialog-lt">
        <div class="modal-content-wrap-lt">
            <div class="modal-content-lt">
                <div class="modal-body">
                    <button type="button" class="close" (click)="closeModal()">
                        <span>×</span>
                    </button>
                    <div class="term-content">
                        <h2>Thành tích cá nhân</h2>
                        <div class="content">
                            <div class="table-responsive">
                                <table width="100%">
                                        <tbody><tr>
                                            <th>Ngày tháng</th>
                                            <th>Lượt click</th>
                                            <th>Quà</th>
                                        </tr>
                                        <ng-container *ngIf="history.length > 0">
                                            <tr  *ngFor="let historyd of history">
                                                <td>{{formatDate(historyd.startedAt)}}</td>
                                                <td>{{historyd.score}}</td>
                                                <td>{{historyd?.prize?.description}}</td>
                                            </tr>
                                        </ng-container>
                                    </tbody></table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
