<div class="messages" *ngIf="!order?.items">
    <div class="message message-error error">
        <div data-ui-id="sm-message-message-error">Đơn hàng không tồn tại hoặc bạn không có quyền xem đơn hàng này</div>
    </div>
</div>
<div class="order-details-items ordered" *ngIf="order?.items">
    <div class="order-title">
        <strong>Sản phẩm đã đặt hàng</strong>
    </div>

    <div class="order-details-items ordered">
        <h2 class="block-title">
            <span>Chi tiết đơn hàng</span>
        </h2>
        <div class="order-items">
            <div class="table-account" id="my-orders-table" summary="Sản phẩm đã đặt hàng">
                <h3 class="block-title">
                    <span>Sản phẩm đã đặt hàng</span>
                </h3>
                <ul class="table-account-title">
                    <li class="col order"></li>
                    <li class="col name">Sản phẩm</li>
                    <li class="col supplier">Người bán</li>
                    <li class="col shipper">Mã vận đơn</li>
                    <li class="col qty">Số lượng</li>
                    <li class="col price">Giá</li>
                    <li class="col subtotal">Thành tiền</li>
                </ul>
                <ul class="table-account-content">
                    <li *ngFor="let product of order?.items; let idx = index">
                        <div class="col order" data-th="187946">
                            <span>{{idx+1}}</span>
                        </div>
                        <div class="col name" data-th="Tên sản phẩm">
                            <span class="product name product-item-name">
                                <span class="brand-name">
                                    <a routerLink="/brand/{{product.brand_id}}/{{product?.brand_path?.replace('/brand/','')}}" title="{{product?.brand_name}}">
                                        {{product?.brand_name}}</a>
                                </span>
                                <a (click)="goToProductDetail(product)" title="{{product.name}}" class="product-item-link">
                                    <p class="name">
                                        {{product.name}}</p>
                                </a>

                                <dl class="item-options" *ngIf="false">
                                    <dt>Màu Sắc: Nhiều màu</dt>
                                    <dt>Kích thước: M</dt>
                                </dl>

                            </span>
                        </div>
                        <div class="col supplier">
                            <a routerLink="/brand/{{product.vendor_id}}{{product.vendor_path}}" title="{{product.vendor_name}}">
                                {{product.vendor_name}} </a>
                        </div>
                        <div class="col code-shiping">
                        </div>
                        <div class="col qty" data-th="Số lượng">
                            <ul class="items-qty">
                                <li class="item">
                                    <span class="title">Đặt hàng</span>
                                    <span class="content">
                                        <strong>{{product.qty}}</strong>
                                    </span>
                                </li>

                            </ul>
                        </div>
                        <div class="col price">
                            <span class="price-excluding-tax">
                                <span class="cart-price">
                                    <span class="price">
                                        <span class="price">{{product.price?.toString().toVndCurrency()}}</span>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div class="col subtotal">
                            <span class="price-excluding-tax">
                                <span class="cart-price">
                                    <span class="price">
                                        <strong>
                                            <span class="price">{{product.row_total?.toString().toVndCurrency()}}</span>
                                        </strong>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </li>
                </ul>
                <ul class="table-account-footer">
                    <li class="subtotal">
                        <div class="content">
                            <div colspan="6" class="mark" scope="row">
                                <span>Thành tiền</span>
                            </div>
                            <div class="amount" data-th="Thành tiền">
                                <span class="price">
                                    <span class="price">{{order?.base_subtotal?.toString().toVndCurrency()}}</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="shipping">
                        <div class="content">
                            <div colspan="6" class="mark" scope="row">
                                <span>Phí vận chuyển</span>
                            </div>
                            <div class="amount" data-th="Phí vận chuyển">
                                <span class="price">
                                    <span class="price">{{order?.shipping_amount?.toString().toVndCurrency()}}</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="discount" *ngIf="!order?.base_discount_amount">
                        <div class="content">
                            <div colspan="6" class="mark" scope="row">
                                <span>Giảm giá</span>
                            </div>
                            <div class="amount">
                                <span class="price">
                                    <span class="price">{{order?.base_discount_amount?.toString()?.toVndCurrency()}}</span>
                                </span>
                            </div>
                        </div>
                    </li>

                    <li class="grand_total">
                        <div class="content">
                            <div colspan="6" class="mark" scope="row">
                                <span>Tổng cộng</span>
                            </div>
                            <div class="amount">
                                <span class="price">
                                    <span class="price">{{order?.grand_total?.toString().toVndCurrency()}}</span>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="actions-toolbar order-action">
        <a class="action back" routerLink="/account/orders">
            <span>Quay lại danh sách đơn hàng</span>
        </a>
    </div>
</div>