<div class="inner">
    <div class="field-img">
        <div class="thumb-img">
            <img [src]="curImgUrl" width="234" height="304" alt="{{product.name}}">
        </div>
        <div class="field-badge-bottom">
            <div class="gift-info" *ngIf="product.gift_messages?.length > 0">
                <button class="btn-gift"><span>Quà tặng</span></button>
                <div class="gift-tips">
                    <div class="inner">
                        <ng-container *ngFor="let gift of product.gift_messages | array_sort:'priority':'desc':3;">
                            <p *ngIf="gift?.display_category_page">•{{gift.title}}</p>
                        </ng-container>
                        <ng-container *ngIf="product.gift_messages?.length > 3"><p>+ Nhiều quà tặng khác</p></ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="field-badge-bottom">
                <div class="gift-info" *ngIf="product.gift_messages?.length > 0">
                    <button class="btn-gift"><span>Quà tặng</span></button>
                    <div class="gift-tips">
                        <div class="inner">
                            <ng-container *ngFor="let gift of product.gift_messages | array_sort:'priority':'desc':3;">
                                <p *ngIf="gift?.display_category_page">•{{gift.title}}</p>
                            </ng-container>
                            <ng-container *ngIf="product.gift_messages?.length > 3"><p>+ Nhiều quà tặng khác</p></ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sort-desc" [innerHtml]="product?.short_description">
            </div>
            <div class="group-cart-action clearfix">
                <div class="field-qty-col clearfix">
                    <button class="btn-minute" type="button" (click)="changeQty(-1)"><span>-</span></button>
                    <input type="number" [(ngModel)]="addedQty" maxlength="2" min="1" (keyup)="validateProductQty($event)">
                    <button class="btn-plus" type="button" (click)="changeQty(1)"><span>+</span></button>
                </div>
                <button class="btn-addtocard" (click)="addToCart(product, $event)" title="Thêm vào giỏ hàng"><span>Thêm vào giỏ hàng</span></button>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="field-name">{{product.name}}</div>
        <div class="field-price">
            <span class="old-price" *ngIf="curPrice?.VND?.default !== curPrice?.VND?.price">{{curPrice?.VND?.price_formated}}</span>
            <span class="current-price">{{curPrice?.VND?.default_formated}}</span>
        </div>
    </div>
</div>
