<div [ngClass]="{'cart-content' : currentStep > 1} ">
    <div class="cart-table">
        <div class="checkout-final-result checkout-empty">
            <div class="checkout-status">&nbsp;</div>
            <p class="msg-text">Chưa có sản phẩm nào trong giỏ hàng của bạn</p>
            <p>Hãy nhanh tay sở hữu những sản phẩm ưa thích của bạn.</p>
            <div class="btn-group">
                <a href="/" class="btn-continue-shopping" title="Tiếp tục mua sắm">Tiếp tục mua sắm &gt;</a>
            </div>
        </div>
    </div>
    <div  class="cart-right-info" *ngIf="currentStep > 1">
        <div  class="content">
            <div  class="aside-head">
                <h3 >Thông tin đơn hàng</h3>
            </div>
            <div  class="cart-total-content">
                <div  class="info-row">
                    <span  class="lbl-text">Tổng cộng</span>
                    <span  class="lbl-number">0 ₫</span>
                </div>
                <!--
                <div  class="info-row">
                    <span  class="lbl-text">Phí giao hàng (tạm tính)</span>
                    <span  class="lbl-number">+0 ₫</span>
                </div>
                <div  class="info-row">
                    <span  class="lbl-text">Mã giảm giá</span>
                    <span  class="lbl-number">-0 ₫</span>
                </div>
                <div  class="info-row">
                    <span  class="lbl-text">l.Point</span>
                    <span  class="lbl-number">-0 ₫</span>
                </div>
                -->
                <div  class="info-row total">
                    <span  class="lbl-text">Thanh toán</span>
                    <span  class="lbl-number">0 ₫</span>
                </div>
            </div>
        </div>
    </div>
</div>
