<div id="sociallogin_button">
    <ul class="left">
        <li class="button left">
            <button class="bt-login-social bt-loginfb" title="Login by Facebook" (click)="loginViaFacebook()">
                <span>
                    <span>Đăng ký qua facebook</span>
                </span>
            </button>
        </li>
    </ul>
</div>
<div class="clear"></div>
<div class="login-container">
    <div class="block block-customer-login">
        <div class="block-title">
            <span id="block-customer-login-heading" role="heading" aria-level="2">Khách hàng đã đăng ký</span>
        </div>
        <div class="block-content" aria-labelledby="block-customer-login-heading">
            <form class="form form-login" #loginForm="ngForm" (ngSubmit)="login(loginForm)" id="login-form" novalidate="novalidate">
                <fieldset class="fieldset login">
                    <div class="field note">Nếu bạn có tài khoản, đăng nhập bằng địa chị email.</div>
                    <div class="field email required">
                        <label class="label" for="email">
                            <b><span>E-mail</span></b>
                        </label>
                        <div class="control">
                            <input name="username"
                                   [ngClass]="{'mage-error': username.invalid && (username.touched || username.dirty || loginForm.submitted)}"
                                   #username="ngModel" [pattern]="appConstants.REGEX.EMAIL" ngModel autocomplete="off"
                                   id="email" type="email" class="input-text" title="E-mail" required>
                            <div for="email"
                                 *ngIf="username.invalid && (username.touched || username.dirty || loginForm.submitted) && username.errors.pattern"
                                 class="mage-error">Vui lòng nhập Email hợp lệ.
                            </div>
                            <div for="email"
                                 *ngIf="username.invalid && (username.touched || username.dirty || loginForm.submitted) && username.errors.required"
                                 class="mage-error">Vui lòng nhập địa chỉ Email.
                            </div>
                        </div>
                    </div>
                    <div class="field password required">
                        <label for="password" class="label">
                            <b><span>Mật khẩu</span></b>
                        </label>
                        <div class="control">
                            <input name="password"
                                   [ngClass]="{'mage-error': password.invalid && (password.touched || password.dirty || loginForm.submitted)}"
                                   #password="ngModel" ngModel type="password" id="password" autocomplete="off"
                                   class="input-text mage-error" required>
                            <div for="password"
                                 *ngIf="password.invalid && (password.touched || password.dirty || loginForm.submitted) && password.errors.required"
                                 class="mage-error">Vui lòng nhập mật khẩu
                            </div>
                        </div>
                    </div>
                    <div class="mage-error" style="display:block; position: relative; font-size: 13px" *ngIf="(authErrorMessage$ | async)">
                        Email hoặc mật khẩu không đúng
                    </div>
                    <div class="actions-toolbar">
                        <div class="primary"></div>
                        <div class="secondary">
                            <a class="action remind" (click)="showForgotPasswordModal()">
                                <span>Quên mật khẩu?</span>
                            </a>
                        </div>
                    </div>
                    <button type="submit" class="action login primary large" name="send" id="send2">
                        <span>Đăng nhập</span>
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="block block-new-customer">
        <div class="block-title">
            <span id="block-new-customer-heading" role="heading">Khách hàng mới</span>
        </div>
        <div class="block-content">
            <p>Tạo tài khoản giúp bạn có thêm nhiều lợi ích: Thanh toán nhanh, lưu địa chỉ giao hàng, tích lũy điểm thưởng và
                nhiều hơn thế nữa...</p>
            <div class="actions-toolbar">
                <div>
                    <a (click)="showRegisterModal()" href="javascript:void(0);" class="action create primary large">
                        <span>Tạo tài khoản</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
