<div class="signup-popup wrapper-popup lt-modal-dialog lt-login-modal">
    <div class="lt-login-modal__content">
        <ul class="lt-login-modal__content--tabs">
            <li [ngClass]="{'active': !isRegisterTab}"><a (click)="isRegisterTab = false" title="Đăng nhập">Đăng
                nhập</a></li>
            <li [ngClass]="{'active': isRegisterTab}"><a (click)="isRegisterTab = true" title="Đăng ký tài khoản">Đăng
                ký tài khoản</a></li>
        </ul>

        <button class="lt-modal-dialog__header--close lt-login-modal__close" type="button" (click)="closeModal()">

        </button>

        <div class="lt-login-modal__login" *ngIf="!isRegisterTab">
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="fieldset form-content" novalidate>
                <div class="form-row">
                    <label class="form-label" [ngClass]="{'form-label-active': username.focus || username.value}">
                        <span class="form-name">E-mail</span>
                        <input name="username"
                               [ngClass]="{'mage-error': username.invalid && (username.touched || username.dirty || loginForm.submitted)}"
                               (focus)="username.focus = true" (blur)="username.focus = false"
                               #username="ngModel" [(ngModel)]="rememberEmail" [pattern]="appConstants.REGEX.EMAIL" ngModel autocomplete="off"
                               id="email" type="email" class="input-text" title="E-mail" required>
                        <div for="email"
                             *ngIf="username.invalid && (username.touched || username.dirty || loginForm.submitted) && username.errors.pattern"
                             class="mage-error">Vui lòng nhập Email hợp lệ.
                        </div>
                        <div for="email"
                             *ngIf="username.invalid && (username.touched || username.dirty || loginForm.submitted) && username.errors.required"
                             class="mage-error">Vui lòng nhập địa chỉ Email.
                        </div>
                    </label>
                </div>

                <div class="form-row">
                    <label class="form-label" [ngClass]="{'form-label-active': password.focus || password.value}">
                        <span class="form-name">Mật khẩu</span>
                        <input name="password"
                               [ngClass]="{'mage-error': password.invalid && (password.touched || password.dirty || loginForm.submitted)}"
                               (focus)="password.focus = true" (blur)="password.focus = false"
                               #password="ngModel" ngModel type="password" id="password" autocomplete="off"
                               class="input-text mage-error" required>
                        <div for="password"
                             *ngIf="password.invalid && (password.touched || password.dirty || loginForm.submitted) && password.errors.required"
                             class="mage-error">Vui lòng nhập mật khẩu
                        </div>
                    </label>
                </div>

                <div class="mage-error" style="display:block; position: relative; font-size: 13px" *ngIf="(authErrorMessage$ | async)">
                    Email hoặc mật khẩu không chính xác.
                </div>

                <div class="actions-toolbar form-row">
                    <div class="remember-box">
                        <input name="hasRememberEmail" [(ngModel)]="hasRememberEmail" id="hasRememberEmail" [checked]="hasRememberEmail" type="checkbox" aria-checked="true">
                        <label for="hasRememberEmail">Nhớ địa chỉ Email</label></div>
                    <div class="secondary forgot-password-btn">
                        <a class="action remind" (click)="showForgotPasswordModal()">
                            <span>Quên mật khẩu?</span>
                        </a>
                    </div>
                </div>

                <div class="form-row btn-groups">
                    <button type="submit" class="btn-action btn-submit" name="send" title="Đăng nhập">
                        <span>Đăng nhập</span>
                    </button>
                </div>

                <div class="line-break">
                    <span>hoặc</span>
                </div>

                <button type="button" class="lt-btn lt-btn--blue" (click)="loginViaFacebook()">
                    <span class="lt-icon lt-icon--facebook"> </span>
                    <span>Đăng nhập bằng facebook</span>
                </button>

                <p class="lt-login-modal__login--notes">LOTTE.vn cam kết bảo mật và sẽ không bao giờ đăng <br>hay chia
                    sẻ thông tin mà chưa có được sự đồng ý của
                    bạn.
                </p>
            </form>
        </div>

        <div class="lt-login-modal__register" *ngIf="isRegisterTab">
            <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" class="fieldset form-content" novalidate>
                <div class="form-row">
                    <label class="form-label" [ngClass]="{'form-label-active': email.focus || email.value}">
                        <span class="form-name">E-mail</span>
                        <input name="email"
                               [ngClass]="{'mage-error': email.invalid && (email.touched || email.dirty || registerForm.submitted)}"
                               (focus)="email.focus = true" (blur)="email.focus = false"
                               #email="ngModel" [pattern]="appConstants.REGEX.EMAIL" ngModel autocomplete="off"
                               id="email" type="email" class="input-text" title="E-mail" required>
                        <div for="email"
                             *ngIf="email.invalid && (email.touched || email.dirty || registerForm.submitted) && email.errors.pattern"
                             class="mage-error">Vui lòng nhập email.
                        </div>
                        <div for="email"
                             *ngIf="email.invalid && (email.touched || email.dirty || registerForm.submitted) && email.errors.required"
                             class="mage-error">Vui lòng nhập dữ liệu.
                        </div>
                    </label>
                </div>
                <div class="form-row">
                    <label class="form-label" [ngClass]="{'form-label-active': password.focus || password.value}">
                        <span class="form-name">Mật khẩu từ 6-20 ký tự, bao gồm cả chữ & số</span>
                        <input name="password"
                               [ngClass]="{'mage-error': password.invalid && (password.touched || password.dirty || registerForm.submitted)}"
                               (focus)="password.focus = true" (blur)="password.focus = false"
                               #password="ngModel" [pattern]="appConstants.REGEX.PASSWORD" ngModel type="password"
                               id="password" autocomplete="off" class="input-text" minlength="6" maxlength="20" required>
                        <div for="password"
                             *ngIf="password.invalid && (password.touched || password.dirty || registerForm.submitted) && password.errors.required"
                             class="mage-error">Vui lòng nhập dữ liệu.
                        </div>

                        <div for="password"
                             *ngIf="password.invalid && (password.touched || password.dirty || registerForm.submitted) && password.errors.minlength"
                             class="mage-error">Vui lòng nhập ít nhất 6 ký tự.
                        </div>
                    </label>
                </div>

                <div class="form-row">
                    <label class="form-label"
                           [ngClass]="{'form-label-active': passwordRetype.focus || passwordRetype.value}">
                        <span class="form-name">Nhập lại mật khẩu</span>
                        <input name="passwordRetype"
                               [ngClass]="{'mage-error': passwordRetype.invalid && (passwordRetype.touched || passwordRetype.dirty || registerForm.submitted)}"
                               (focus)="passwordRetype.focus = true" (blur)="passwordRetype.focus = false"
                               #passwordRetype="ngModel" ngModel type="password" id="passwordRetype" autocomplete="off"
                               class="input-text" maxlength="20" required
                               validateEqual="password">
                        <div for="passwordRetype"
                             *ngIf="passwordRetype.invalid && !passwordRetype.errors.required && (passwordRetype.touched || passwordRetype.dirty || registerForm.submitted)"
                             class="mage-error">Thông tin không trùng khớp, bạn vui lòng nhập lại.
                        </div>

                        <div for="passwordRetype"
                             *ngIf="passwordRetype.invalid && passwordRetype.errors.required && (passwordRetype.touched || passwordRetype.dirty || registerForm.submitted)"
                             class="mage-error">Vui lòng nhập dữ liệu.
                        </div>
                    </label>
                </div>

                <div class="form-row form-row-10">
                    <input class="checkbox-type" id="promotion-email" name="agree-field" type="checkbox" [(ngModel)]="isSubscribe">
                    <label class="agree-field" for="promotion-email">Nhận thông tin khuyến mãi sớm nhất từ LOTTE.vn
                    </label>
                </div>

                <div class="form-row">
                    <input name="othes-info" id="othes-info" type="checkbox" [(ngModel)]="isOtherInfoChecked">
                    <label class="agree-field other-info-label" for="othes-info">Đăng ký tích điểm L.POINT (không bắt buộc):
                    </label>

                    <div class="others-info-field" *ngIf="isOtherInfoChecked">
                        <p style="font-size:11px;color:#999;">Để đăng ký L.POINT thành công, quý khách phải điền đủ các thông tin bên dưới.</p>
                        <div class="form-row-col">
                            <div class="form-row">
                                <label class="form-label" [class.form-label-active]="lastname.focus || lastname.value">
                                    <span style="left: 10px" class="form-name">Họ</span>
                                    <input name="lastname" #lastname="ngModel" ngModel
                                        [ngClass]="{'mage-error': lastname.invalid && (lastname.touched || lastname.dirty || registerForm.submitted)}"
                                        (focus)="lastname.focus = true" (blur)="lastname.focus = false"
                                        class="input-text" required>
                                </label>
                            </div>

                            <div class="form-row">
                                <label class="form-label" [class.form-label-active]="firstname.focus || firstname.value">
                                    <span style="left: 10px" class="form-name">Tên</span>
                                    <input name="firstname" #firstname="ngModel" ngModel
                                        [ngClass]="{'mage-error': firstname.invalid && (firstname.touched || firstname.dirty || registerForm.submitted)}"
                                        (focus)="firstname.focus = true" (blur)="firstname.focus = false"
                                        class="input-text" required>
                                </label>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="form-label" [ngClass]="{'form-label-active': telephone.focus || telephone.value}">
                                <span class="form-name">Số điện thoại</span>
                                <input name="telephone"
                                        [ngClass]="{'mage-error': telephone.invalid && (telephone.touched || telephone.dirty || registerForm.submitted)}"
                                        (focus)="telephone.focus = true" (blur)="telephone.focus = false"
                                        #telephone="ngModel" ngModel autocomplete="off"
                                        type="text" class="input-text" [pattern]="phonePattern" required>
                                <div for="telephone"
                                        *ngIf="telephone.invalid && (telephone.touched || telephone.dirty || registerForm.submitted)"
                                        class="mage-error">
                                        Vui lòng nhập số điện thoại hợp lệ, Ví dụ: 0981234567, +84981234567. Lưu ý theo thông báo của nhà mạng, vui lòng nhập đầu số điện thoại mới từ ngày 14/11/2018.
                                </div>
                            </label>
                        </div>
                        <div class="form-row-col form-row-col-last">
                            <div class="form-row">
                                <label for="birthday-input">Ngày sinh:</label>
                                <span class="date-field">
                                    <input name="dob" id="birthday-input" #dob="ngModel" ngModel
                                        [ngClass]="{'mage-error': dob.invalid && registerForm.submitted}"
                                        class="birthday-input datepicker" type="text"
                                        placeholder="DD / MM / YYYY" (click)="openDatePicker()" [readonly]="true" required>
                                </span>
                            </div>
                            <div class="form-row">
                                <label>Giới tính:</label>
                                <span class="gender-field">
                                    <input class="input_radio radio-type" id="married-1" name="gender" [(ngModel)]="defaultForm.gender"
                                            [value]="4" type="radio" checked>
                                    <label for="married-1">Nữ</label>
                                    <input class="input_radio radio-type" id="married-2" name="gender" [(ngModel)]="defaultForm.gender"
                                            [value]="2" type="radio">
                                    <label for="married-2">Nam</label>
                                </span>
                            </div>

                        </div>

                    </div>
                </div>
                <div *ngIf="(accountErrorMessage$ | async) && registerForm.submitted" class="mage-error register-err msg-error">
                    {{ accountErrorMessage$ | async }}
                </div>

                <div for="password"
                        *ngIf="password.invalid && (password.touched || password.dirty || registerForm.submitted) && (password.errors.pattern && !password.errors.minlength)"
                        class="mage-error register-err msg-error">Mật khẩu phải bao gồm cả số lẫn chữ.
                </div>
                <div class="form-row btn-groups">
                    <button type="submit" class="btn-action btn-submit" title="Hoàn tất"><span>Hoàn tất</span></button>
                </div>

                <p class="notes">
                    Bằng cách đăng ký tài khoản, bạn đã đồng ý với các <br><a href="/dieu-kien-va-dieu-khoan">Điều khoản &amp; Điều kiện</a> và
                    <a href="/chinh-sach-bao-mat">Chính sách bảo mật</a> của LOTTE.vn
                </p>

                <div class="line-break">
                    <span>hoặc</span>
                </div>

                <button type="button" class="lt-btn lt-btn--blue" (click)="loginViaFacebook()">
                    <span class="lt-icon lt-icon--facebook"> </span>
                    <span>Đăng ký bằng facebook</span>
                </button>


            </form>
        </div>
    </div>

    <div class="login-right-content lt-login-modal__message">
        <h3>TRỞ THÀNH <br>thành viên LOTTE.vn để</h3>
        <ul>
            <li><span class="icon icon-lpoint">&nbsp;</span>Tích điểm L-point &amp; sử dụng như tiền mặt cho mỗi lần mua
                hàng
            </li>
            <li><span class="icon icon-email">&nbsp;</span>Nhận những thông tin khuyến mãi và ưu đãi độc quyền chỉ dành
                cho thành
                viên
            </li>
        </ul>
    </div>
</div>
