<div class="content-method">
    <form ngForm #creditCardForm="ngForm">

    <div class="form-row">
            <label for="credit_card_number">Số thẻ</label>
            <div class="inner card_number">
                <input class="input-text"
                       name="credit_card_number"
                       id="credit_card_number"
                       [ngClass]="{'mage-error' : (credit_card_number.invalid && (credit_card_number.touched || credit_card_number.dirty || creditCardForm.submitted))}"
                       type="text" [pattern]="regexCardNumber" #credit_card_number="ngModel"
                       [(ngModel)]="selectedPayment.additional_data.credit_card_number"
                       value="{{selectedPayment.additional_data.credit_card_number}}"  required>
            </div>
            <div class="mage-error" *ngIf="credit_card_number.invalid && (credit_card_number.touched || credit_card_number.dirty || creditCardForm.submitted)" >Vui lòng nhập số thẻ hợp lệ</div>
        </div>
        <div class="form-row">
            <label for="credit_card_owner">Chủ thẻ</label>
            <div class="inner">
                <input class="input-text"
                       name="credit_card_owner"
                       id="credit_card_owner"
                       [ngClass]="{'mage-error' : (credit_card_owner.invalid && (credit_card_owner.touched || credit_card_owner.dirty || creditCardForm.submitted))}"
                       type="text" #credit_card_owner="ngModel"
                       [(ngModel)]="selectedPayment.additional_data.credit_card_owner"
                       value="{{selectedPayment.additional_data.credit_card_owner}}"  required>
            </div>
            <div class="mage-error" *ngIf="credit_card_owner.invalid && (credit_card_owner.touched || credit_card_owner.dirty || creditCardForm.submitted)" >Vui lòng nhập tên chủ thẻ</div>
        </div>
        <div class="form-row form-row-col clearfix">
            <div class="form-col">
                <label for="credit_card_month">Ngày hết hạn</label>
                <select name="credit_card_month"
                        id="credit_card_month" #credit_card_month="ngModel"
                        [pattern]="regexNumber"
                        [ngClass]="{'mage-error' : ((credit_card_month.invalid) && (credit_card_month.touched || credit_card_month.dirty || creditCardForm.submitted))}"
                        [(ngModel)]="selectedPayment.additional_data.credit_card_month" required>
                    <option value=0 selected>Chọn tháng</option>
                    <option *ngFor="let month of months" value="{{month}}">{{ month }}</option>
                </select>
                <div class="mage-error" *ngIf="(credit_card_month.invalid) && (credit_card_month.touched || credit_card_month.dirty || creditCardForm.submitted)" >Vui lòng chọn tháng hợp lệ</div>
            </div>
            <div class="form-col">
                <label for="credit_card_year"><br></label>
                <div class="inner">
                    <select name="credit_card_year" id="credit_card_year" #credit_card_year="ngModel"
                            [pattern]="regexNumber"
                            [ngClass]="{'mage-error' : ((credit_card_year.invalid) && (credit_card_year.touched || credit_card_year.dirty || creditCardForm.submitted))}"
                            [(ngModel)]="selectedPayment.additional_data.credit_card_year" required>
                        <option value=0>Chọn năm</option>
                        <option *ngFor="let year of years" value="{{year}}">{{ year }}</option>
                    </select>
                    <div class="mage-error" *ngIf="(credit_card_year.invalid) && (credit_card_year.touched || credit_card_year.dirty || creditCardForm.submitted)" >Vui lòng chọn năm hợp lệ</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <label for="credit_card_ccv">CCV / CVV</label>
            <div class="inner ccv_card">
                <input class="input-text"
                       name="credit_card_ccv"
                       id="credit_card_ccv"
                       type="text"  #credit_card_ccv="ngModel"
                       [ngClass]="{'mage-error' : (credit_card_ccv.invalid && (credit_card_ccv.touched || credit_card_ccv.dirty || creditCardForm.submitted))}"
                       [(ngModel)]="selectedPayment.additional_data.credit_card_ccv"
                       value="{{selectedPayment.additional_data.credit_card_ccv}}" required>
            </div>
            <div class="mage-error" *ngIf="credit_card_ccv.invalid && (credit_card_ccv.touched || credit_card_ccv.dirty || creditCardForm.submitted)" >Vui lòng nhập số xác nhận thẻ hợp lệ</div>
        </div>

        <p class="noted">Dịch vụ được cung cấp và chứng nhận bởi <span class="icon-bank">VietinBank</span></p>
        <button style="display: none;" class="btn-action" id="submit_{{selectedPayment.payment_method}}" title="Thanh Toán" (click)="placeOrder()" type="submit">Thanh Toán</button>
    </form>
</div>