<div class="addressBook">
    <div class="actions-toolbar addressBook-toolbar">
        <div class="primary">
            <button type="button" routerLink="/account/address/new" role="add-address" title="Thêm địa chỉ mới" class="action primary add">
                <span>Thêm địa chỉ mới</span>
            </button>
        </div>
    </div>

    <div class="block block-addresses-default">
        <div class="block-title">
            <strong>Địa chỉ mặc định</strong>
        </div>
        <div class="block-content">
            <div class="items box-address-billing">
                <strong class="box-title">
                    <span>Địa chỉ thanh toán mặc định</span>
                </strong>
                <div class="box-content">
                    <address *ngIf="defaultBilling">
                        <p>
                            <label>Tên:</label>
                            <span>{{defaultBilling?.firstname + ' ' + defaultBilling?.lastname}}</span>
                        </p>
                        <p>
                            <label>Điện thoại:</label>
                            <span>{{defaultBilling?.telephone}}</span>
                        </p>
                        <p>
                            <label>Email:</label>
                            <span>{{defaultBilling?.extension_attributes?.email_address}}</span>
                        </p>
                        <p>
                            <label>Địa chỉ:</label>
                            <span *ngIf="defaultBilling?.street">{{defaultBilling?.street[0]}}, {{defaultBilling?.ward}}, {{defaultBilling?.district}}, {{defaultBilling?.region?.region}},
                                Việt Nam</span>
                        </p>
                    </address>
                    <p *ngIf="!defaultBilling">Bạn không có vị trí thanh toán mặc định trong danh bạ địa chỉ.</p>
                </div>
                <div class="box-actions" *ngIf="defaultBilling">
                    <p>
                        <a class="action edit" routerLink="/account/address/edit/{{defaultBilling?.id}}">
                            <span>Thay đổi vị trí thanh toán</span>
                        </a>
                    </p>
                </div>
            </div>

            <div class="items box-address-shipping">
                <strong class="box-title">
                    <span>Địa chỉ giao hàng mặc định</span>
                </strong>
                <div class="box-content">
                    <address *ngIf="defaultShipping">
                        <p>
                            <label>Tên:</label>
                            <span>{{defaultShipping?.firstname + ' ' + defaultShipping?.lastname}}</span>
                        </p>
                        <p>
                            <label>Điện thoại:</label>
                            <span>{{defaultShipping?.telephone}}</span>
                        </p>
                        <p>
                            <label>Email:</label>
                            <span>{{defaultShipping?.extension_attributes?.email_address}}</span>
                        </p>
                        <p>
                            <label>Địa chỉ:</label>
                            <span *ngIf="defaultShipping?.street">{{defaultShipping?.street[0]}}, {{defaultShipping?.ward}}, {{defaultShipping?.district}}, {{defaultShipping?.region?.region}},
                                Việt Nam</span>
                        </p>
                    </address>

                    <p *ngIf="!defaultShipping">Bạn không có vị trí giao hàng mặc định trong danh bạ địa chỉ.</p>
                </div>
                <div class="box-actions" *ngIf="defaultShipping">
                    <p>
                        <a class="action edit" routerLink="/account/address/edit/{{defaultShipping?.id}}">
                            <span>Thay đổi</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="block block-addresses-list">
        <div class="block-title">
            <strong>Cổng địa chỉ bổ sung</strong>
        </div>
        <div class="block-content">
            <div class="items" *ngFor="let address of addresses; let idx = index">
                <div class="box-content">
                    <address>
                        <p>
                            <label>Tên:</label>
                            <span>{{address?.firstname + ' ' + address?.lastname}}</span>
                        </p>
                        <p>
                            <label>Điện thoại:</label>
                            <span>{{address?.telephone}}</span>
                        </p>
                        <p>
                            <label>Email:</label>
                            <span>{{address?.extension_attributes?.email_address}}</span>
                        </p>
                        <p>
                            <label>Địa chỉ:</label>
                            <span *ngIf="address?.street">{{address?.street[0]}}, {{address?.ward}}, {{address?.district}}, {{address?.region?.region}},
                                Việt Nam</span>
                        </p>
                        <br>
                    </address>
                </div>
                <div class="actions box-actions">
                    <p>
                        <a class="action edit" routerLink="/account/address/edit/{{address?.id}}">
                            <span>Sửa địa chỉ</span>
                        </a>
                    </p>
                    <p>
                        <a class="action delete" (click)="deleteAddress(address)">
                            <span>Xóa địa chỉ</span>
                        </a>
                    </p>
                </div>
            </div>

            <div class="items" *ngIf="!addresses?.length">
                <div class="box-content">
                    <p>Bạn không có cổng địa chỉ khác trong danh bạ địa chỉ.</p>
                </div>
            </div>

        </div>
    </div>
</div>