<div class="order_search_form">
    <label>Hiển thị đơn hàng trong:</label>
    <div class="search_form">
        <div class="block-search-item">
            <form id="search-form" name="search_form" novalidate="novalidate">
                <select class="search_type" name="m" (change)="onSelectPeriod(selectedPeriod)" [(ngModel)]="selectedPeriod">
                    <option [value]="1">1 Tháng Trước</option>
                    <option [value]="3">3 Tháng Trước</option>
                    <option [value]="6">6 Tháng Trước</option>
                    <option [value]="12">1 Năm Trước</option>
                    <option [value]="0">Chọn khoảng thời gian</option>
                </select>
            </form>
        </div>
        <div class="date-item">
            <div class="date_from">
                <input type="text" (click)="openDatePicker('#date_f', true)" name="f" [(ngModel)]="fromDate" id="date_f" value="" [readonly]="true"
                    class="order_search_date  datepicker" placeholder="Từ">
                <label for="date_f">Chọn ngày</label>
            </div>
            <span>~</span>
            <div class="date_to" (click)="openDatePicker('#date_t', false)">
                <input type="text" name="t" id="date_t" [(ngModel)]="toDate" [readonly]="true" value="" class="order_search_date  datepicker"
                    placeholder="Đến">
                <label for="date_t">Chọn ngày</label>
            </div>
        </div>
        <button class="btnOrderSearch" type="button" (click)="searchOrder()">Tìm kiếm</button>

        <div class="compare_date_message" *ngIf="msgError">Ngày bắt đầu phải nhỏ hơn hoặc bằng ngày kết thúc</div>
    </div>
</div>

<div class="message info empty" *ngIf="!(accountOrderLoading$ | async) && !accountOrder?.orders?.length">
    <span>Bạn chưa đặt đơn hàng nào.</span>
</div>

<div class="my_orders" *ngIf="accountOrder?.orders?.length">
    <div class="result_info">
        Đơn hàng của tôi
        <span class="result">Tìm thấy {{accountOrder?.total}} kết quả</span>
    </div>
    <div class="result_list">
        <div class="order_item" *ngFor="let order of accountOrder?.orders">
            <div class="quick_view">
                <span class="toggle-icon" [class.active]="isShowOrderDetail[order?.increment_id]" (click)="toggleViewListProduct(order?.increment_id)"></span>
                <ul>
                    <li class="order_id_n_date column-1">
                        <p class="order_id">
                            <a routerLink="{{order?.entity_id}}">
                                Đơn hàng: {{order?.increment_id}} </a>
                        </p>
                        <p class="order_date">Ngày đặt: {{order?.created_at | date:'dd/MM/yyyy' }}</p>
                    </li>
                    <li class="column-2">
                        <label>Tổng đơn hàng</label>
                        <p>
                            <span class="price">{{order?.grand_total?.toString().toVndCurrency()}}</span>
                        </p>
                    </li>
                    <li class="column-3">
                        <label>Thanh toán</label>
                        <p>{{order?.payment_method}}</p>
                    </li>
                    <li class="column-4">
                        <label>Trạng thái</label>
                        <span class="status status_{{order?.status}}">{{order?.status_label}}</span>
                    </li>
                    <li class="column-5">
                        <a class="order_detail" title="Theo dõi đơn hàng" (click)="trackOrders(order)">Theo dõi đơn hàng</a>
                        <button name="btn_cancel" id="btn_cancel" *ngIf="order?.can_cancel" (click)="cancelOrder(order)" class="btn-cancel-order order_detail">Hủy đơn hàng</button>
                    </li>
                </ul>
            </div>
            <div class="detail_view" [class.hidden]="!isShowOrderDetail[order?.increment_id]">
                <span class="toggle-icon"></span>
                <ul>
                    <li class="product_item" *ngFor="let product of order?.items">
                        <div class="table-item">
                            <div class="group-item">
                                <div class="name_attr">
                                    <div class="product-image">
                                        <img src="{{product?.product_thumbnail_image}}" alt="{{product.name}}" title="{{product.name}}">
                                    </div>
                                    <div class="product-description">
                                        <a (click)="goToProductDetail(product)" href="product/{{product?.product_id}}/{{product?.url_key}}" title="{{product.name}}"
                                            class="product-item-link">
                                            <p class="name">{{product.name}}</p>
                                        </a>
                                        <a (click)="goToBrand(product)" href="brand/{{product?.brand_id}}/{{product?.brand_path?.replace('/brand/', '')}}" title="{{product?.brand_name}}">{{product?.brand_name}}</a>
                                        <span class="attr">
                                            <dl class="item-options" *ngIf="false">
                                                <dt>Màu Sắc: Nhiều màu</dt>
                                                <dt>Kích thước: M</dt>
                                            </dl>
                                        </span>
                                        <div *ngIf="product?.chosen_options" class="options">
                                            <ng-container *ngFor="let option of product.chosen_options ; let i = index;">
                                                <span *ngIf="i > 0"> / </span>
                                                <span>{{ option.value }}</span>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="qty">{{product.qty}}</div>
                                    <div class="price">
                                        <span class="price">{{product?.price?.toString().toVndCurrency()}}</span>
                                    </div>
                                </div>
                                <div class="shipping_status">
                                    <ul>
                                        <li class="active ordered">
                                            <span class="text-item">Đặt hàng hoàn tất</span>
                                        </li>
                                        <li class="{{product.class_s}}">
                                            <span class="text-item">{{product.label_s}}</span>
                                            <span class="line"> </span>
                                        </li>
                                        <li class="{{product.class_d}}">
                                            <span class="text-item">Hoàn tất</span>
                                            <span class="line"> </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="order-products-toolbar toolbar bottom" *ngIf="accountOrder?.orders?.length && accountOrder?.pagesArray?.length > 1">
    <div class="toolbar toolbar-products">
        <div class="pager">
            <div class="limiter">
                <select id="limiter" (change)="searchOrder()" [(ngModel)]="selectedLimit" class="limiter-options">
                    <option value="10">
                        10 trên một trang </option>
                    <option value="20">
                        20 trên một trang </option>
                    <option value="50">
                        50 trên một trang </option>
                </select>
            </div>

            <div class="pages">
                <strong class="label pages-label" id="paging-label">Page</strong>
                <ul class="items pages-items">
                    <li class="item current pages-item-first pages-item-previous next-last-item <" (click)="searchOrder()">
                        <strong class="page action">
                            <span class="label">Bạn đang đọc trang này</span>
                            <span>1</span>
                        </strong>
                    </li>

                    <li class="item current pages-item-previous" (click)="searchOrder(accountOrder.current_page - 1)">
                        <strong class="page action">
                            <span class="label">Bạn đang đọc trang này</span>
                            <span>&lt;</span>
                        </strong>
                    </li>

                    <li class="item" *ngFor="let page of accountOrder?.pagesArray" (click)="searchOrder(page)">
                        <strong class="page action" [class.active]="page === accountOrder?.current_page">
                            <span class="label">Bạn đang đọc trang này</span>
                            <span>{{page}}</span>
                        </strong>
                    </li>

                    <li class="item pages-item-next" (click)="searchOrder(accountOrder.current_page + 1)">
                        <a class="action  next" title="Tiếp tục">
                            <span class="label">Page</span>
                            <span>&gt;</span>
                        </a>
                    </li>

                    <li class="item pages-item-last next-last-item" (click)="searchOrder(accountOrder?.page_count)">
                        <a class="action last" title="Last Page">
                            <span class="label">Page</span>
                            <span>877</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="delivery_process">
    <h3>Quy trình giao hàng</h3>
    <div class="cms_block">
        <span class="button">Đây là nội dung quá trình giao hàng</span>
    </div>
</div>
