<form class="form-horizontal" #loginForm="ngForm" (ngSubmit)="saveForm(loginForm)" id="loginForm" novalidate>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="px-3">
                <p>{{fieldLabel.lbl_patent}}<span class="required">*</span></p>
                <fieldset class="form-group position-relative">
                    <input [disabled]="isEdit" type="text" id="patent" (clickOutside)="showPatentList(false)" (click)="showPatentList(true)" 
                    name="patent" [(ngModel)]="currentMedicine.patent_medicine_name" #patent="ngModel" ngModel
                     class="form-control" required data-validation-required-message="Vui lòng nhập họ tên"
                     (keyup)="filterValue('patent', currentMedicine.patent_medicine_name)">

                    <div class="dropdown-menu dropdown-below-input" [ngStyle]="{'display': showPatent? 'block': 'none'}">
                        <a href="javascript:void(0);" (click)="selectPatentMedicine(patent)" class="dropdown-item" 
                        *ngFor="let patent of filterPatent">{{patent?.name}}</a>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="px-3">
                <p>{{fieldLabel.lbl_unit}}<span class="required">*</span></p>
                <fieldset class="form-group position-relative">
                    <select class="form-control" id="unit" name="unit" #unit="ngModel" [(ngModel)]="currentMedicine.unit_id">
                        <option [ngValue]="unit.id" *ngFor="let unit of listUnitMedicine">{{unit?.name}}</option>                        
                    </select>
                </fieldset>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="px-3">
                <p>{{fieldLabel.lbl_drug}}<span class="required">*</span></p>
                <fieldset class="form-group position-relative">
                    <input [disabled]="isEdit" type="text" id="drug" name="drug" (clickOutside)="showDrugList(false)" (click)="showDrugList(true)"
                    [(ngModel)]="currentMedicine.drug_name" #drug="ngModel" ngModel class="form-control" required data-validation-required-message="Vui lòng nhập địa chỉ">
                     <div class="dropdown-menu dropdown-below-input" [ngStyle]="showDrug && {'display':'block'}">
                        <a href="javascript:void(0);" (click)="selectDrugMedicine(drug)" class="dropdown-item" 
                        *ngFor="let drug of listDrugMedicine">{{drug?.name}}</a>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="px-3">
                <p>{{fieldLabel.lbl_behaviour}}<span class="required">*</span></p>
                <fieldset class="form-group position-relative">
                    <select class="form-control" id="behaviour_medicine" name="behaviour_medicine" #behaviour_medicine="ngModel" [(ngModel)]="currentMedicine.behaviourmedicine_id">
                        <option [ngValue]="behaviour.id" *ngFor="let behaviour of listBehaviourMedicine">{{behaviour?.name}}</option>
                    </select>
                </fieldset>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="px-3">
                <p>{{fieldLabel.lbl_sellprice}}<span class="required">*</span></p>
                <fieldset class="form-group position-relative">
                    <input type="text" id="sellprice" name="sellprice"
                     #sellprice="ngModel" [(ngModel)]="currentMedicine.sellprice" ngModel class="form-control" required data-validation-required-message="Vui lòng nhập địa chỉ">
                </fieldset>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="px-3">
                <p>{{fieldLabel.lbl_type}}<span class="required">*</span></p>
                <fieldset class="form-group position-relative">
                    <select class="form-control" id="type_medicine" name="type_medicine" #type_medicine="ngModel" [(ngModel)]="currentMedicine.typemedicine_id">
                        <option [ngValue]="type.id" *ngFor="let type of listTypeMedicine">{{type?.name}}</option>
                    </select>
                </fieldset>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="px-3">
                <p>{{fieldLabel.lbl_description}}<span class="required">*</span></p>
                <fieldset class="form-group position-relative">
                    <input type="text" id="description" name="description"
                     #description="ngModel" [(ngModel)]="currentMedicine.description" ngModel class="form-control" required data-validation-required-message="Vui lòng nhập địa chỉ">
                </fieldset>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="px-3">
                <div class="text-right">
                    <button type="submit" class="btn btn-success">{{textLabel.submit_txt}}</button>
                </div>
            </div>
        </div>
        
    </div>   
</form>