<div class="qna_contain">
    <div class="actions-toolbar">
        <div class="primary">
            <a class="action question" target="_blank" href="/zendesk/sso/login/return_url/aHR0cDovL3N1cHBvcnQubG90dGUudm4vaGMvcmVxdWVzdHMvbmV3/">
                <span>
                    <span>Đặt câu hỏi</span>
                </span>
            </a>
            <a class="action login" target="_blank" href="/zendesk/sso/login/">
                <span>
                    <span>Đăng nhập vào Zendesk</span>
                </span>
            </a>
        </div>
    </div>
    <div class="message info empty" *ngIf="!(accountQALoading$ | async) && !(accountQA$ | async)?.length">Không có câu hỏi</div>
    <div class="entry-edit" *ngIf="(accountQA$ | async)?.length">
        <div class="table-account">
            <ul class="table-account-title">
                <li class="col count"></li>
                <li class="col question">Tiêu đề câu hỏi</li>
                <li class="col time-post">Thời gian gửi câu hỏi</li>
                <li class="col time-updates">Thời gian cập nhật</li>
                <li class="col status">Tình Trạng</li>
            </ul>
            <ul class="table-account-content" *ngFor="let myqa of (accountQA$ | async); let no = index">
                <li>
                    <div class="col count">
                        <span>{{no+1}}</span>
                    </div>
                    <div class="col question">
                        <a href="{{ myqa.id?.toString().toSupportUrl() }}" target="_blank">{{myqa.subject}}</a>
                    </div>
                    <div class="col time-post">
                        <span>{{myqa.created_at | date:'H:mm'}}</span> - {{myqa.created_at | date:'dd/MM/yyyy'}}</div>
                    <div class="col time-updates">
                        <span>{{myqa.updated_at | date:'H:mm'}}</span> - {{myqa.updated_at | date:'dd/MM/yyyy'}}</div>
                    <div class="col status">{{myqa.status}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>
