<li [ngClass]="{opened:isChecked}" *ngIf="facets?.price?.max && priceRange && priceMax">
    <a href="javascript:void(0);" class="filter-item">{{_facet.label}}</a>
    <div class="dropdown-options">

        <div class="items">

            <div class="price-filter-bar">
                <div class="price-input">
                    <input class="input-text" [(ngModel)]="priceRange[0]" type="text" (keyup)="validatePrice($event, false)" currencyMask [options]="currencyMaskOptions">
                    <span class="sep">&nbsp;</span>
                    <input class="input-text" [(ngModel)]="priceRange[1]" type="text" (keyup)="validatePrice($event, false)" currencyMask [options]="currencyMaskOptions">
                </div>
                <div class="bar-content">
                    <nouislider #mySlider [config]="uiSliderConfig" [step]="1000" [max]="priceMax" [min]="0" [(ngModel)]="priceRange"></nouislider>
                </div>
                <div class="price-filter-submit">
                    <button type="button" title="Áp dụng" (click)="addFilter('price', priceRange)">Áp dụng</button>
                </div>

            </div>
        </div>
    </div>
</li>

<!--<li [ngClass]="{opened:isChecked}" *ngIf="facets?.price?.max && priceRange && priceMax">-->
    <!--<a href="javascript:void(0);" class="filter-item">Giá</a>-->
    <!--<div class="dropdown-options">-->
        <!--&lt;!&ndash;<div class="selected-info clearfix">&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="selected-inner">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="number">Price range selected</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="text">199.000₫ - 5.590.000₫</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="javascript:void(0);" class="btn-clear">Xóa</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div class="items">-->
            <!--<div class="price-filter-bar">-->
                <!--&lt;!&ndash;<img src="../demo/price-bar.jpg" alt="">&ndash;&gt;-->
                <!--<nouislider #mySlider [config]="uiSliderConfig" [step]="1000" [max]="priceMax" [min]="0" [(ngModel)]="priceRange" (change)="addFilter('price', priceRange)"></nouislider>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</li>-->