<ng-container *ngIf="validateSddRegionSupport() else sdd_not_support">
    <!--<p class="time-delivery-est" *ngIf="validateTime()">Thời gian giao hàng dự kiến:  <strong>{{validTime | date: 'HH:mm':'+0700'}} hôm nay</strong></p>-->
    <!--<p class="time-delivery-est" *ngIf="!validateTime()">Lotteria không giao hàng cho đơn hàng đặt từ 20:30. Quý khách vui lòng đặt hàng từ hôm sau.</p>-->
    <ng-container *ngIf="isValidTime">
        <p class="time-delivery-est" style="color:#14af64;">{{delivery_note}}</p>
        <p class="time-delivery-est">{{policy_note}} <a href="/shoppingguide/seller/chinh-sach-van-chuyen/{{_vendorInfo.url_key}}" target="_blank">Chi tiết</a></p>
    </ng-container>
    <p class="time-delivery-est" *ngIf="!isValidTime">{{_vendorInfo?.name}} tạm ngưng giao hàng sau {{getStringTime(closeTime)}}. Đơn hàng của bạn sẽ được xử lý khi cửa hàng hoạt động lại vào {{getStringTime(openTime)}}.</p>
</ng-container>

<ng-template #sdd_not_support>
    <p class="time-delivery-est red-color">{{_vendorInfo?.name}} chưa phục vụ đến vị trí của bạn. <br> Vui lòng chọn vị trí khác. <a (click)="openDeliveryAreaModal()" class="link-type" title="Lý do">Lý do</a></p>
</ng-template>