<div class="wbtab_instead_native lt-product-related" lazy-load-images *ngIf="(products$ | async).length">
    <div class="block aw_wbtab" id="interested-wbtab">
        <div class="block-title title">
            <strong id="block-aw_wbtab-heading">Bạn cũng sẽ thích</strong>
        </div>

        <div class="block-content content">
            <div class="products-list clearfix products-aw_wbtab">
                <ul class="product-items owl-carousel owl-loaded owl-drag">
                    <owl-carousel [options]="owlCarouselOptions" [items]="products$ | async" [carouselClasses]="['', 'row', 'sliding']">
                        <div class="item" *ngFor="let product of products$ | async; let i = index">
                            <li class="item">
                                <div class="item-product">
                                    <div class="inner ">
                                        <div class="product-image">
                                            <a href="{{'/product/' + product.entity_id + '/' + product.url_key}}" (click)="goProductDetail(product)" title="{{ product?.name }}">
                                                <img src="{{ product?.thumbnail?.toProductUrl() }}" style="max-height: 198px; width: auto;" width="152" height="198" alt="{{ product?.name }}">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <p class="product-name">
                                                <a class="product-item-link" href="{{'/product/' + product.entity_id + '/' + product.url_key}}" (click)="goProductDetail(product)" title="{{ product?.name }}">{{ product?.name }}</a>
                                            </p>
                                            <div class="price-box price-final_price">
                                                <p class="special-price">
                                                    <span class="current-price">
                                                        <span class="final-price">
                                                            {{ product?.final_price.toString().toVndCurrency() }}
                                                        </span>
                                                    </span>
                                                    <span class="discount-label" *ngIf="product?.price > product?.final_price">-{{ product?.final_price | percentize:product?.price }}</span>
                                                </p>
                                                <p class="old-price" *ngIf="product?.price > product?.final_price">
                                                    <span class="final-price">
                                                        {{ product?.price.toString().toVndCurrency() }}
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </owl-carousel>
                </ul>
            </div>
        </div>
    </div>
</div>