<main class="main">
<div class="bigbang-page">
    <div class="container-lt">
        <div class="illus-top">
            <img class="zoom-img" src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/illus.png" alt="">
            <img src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/illus-6.png" class="img-3" alt="">
        </div>
<!--
        <div class="ticker" id="ticker">
            <ul>
                <ng-container *ngIf="slideResults.length > 0">
                    <ng-container *ngFor="let slide of slideResults; let idx = index">
                        <li>{{ formatDate(slide.created) + ' - ' + slide.email + ' vừa trúng '+ slide.gift }}</li>
                    </ng-container>
                </ng-container>
            </ul>
        </div>
-->

        <div class="dp-scroll-text">
            <ng-container *ngIf="slideResults.length > 0">
                <ng-container *ngFor="let slide of slideResults; let idx = index">
                    <p [ngClass]="{ 'dp-animate-hide' : idx == 0 }" class="dp-run-script {{ 'dp-animate-'+idx }}">
                        {{ formatDate(slide.created) + ' - ' + slide.email + ' vừa trúng '+ slide.gift }}
                    </p>
                </ng-container>
            </ng-container>
        </div>

        <div class="group-actions clearfix">
            <p class="btn-play-mobile">
                <a href="javascript:void(0)" *ngIf="!isLogged" (click)="loginPopup()">
                    <img src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/btn-2.png" alt=""></a>
                <a href="javascript:void(0)" *ngIf="isLogged" (click)="playGame()">
                    <img src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/btn-2.png" alt="">
                    <span class="count">
                        {{ profile?.remainSession > 0 ? 'Bạn còn ' + profile?.remainSession + ' lượt chơi' : 'Bạn đã hết lượt chơi' }}</span>
                </a>
            </p>
            <ul>
                <li class="btn-term"><a href="javascript:void(0)" (click)="rulePopup()" title="Thể lệ chương trình">
                    <img src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/btn-1-1.png" alt=""></a>
                </li>
                <li class="btn-play">

                    <a href="javascript:void(0)" *ngIf="!isLogged" (click)="loginPopup()"><img src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/btn-2.png" alt=""></a>
                    <a href="javascript:void(0)" *ngIf="isLogged" (click)="playGame()">
                        <img src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/btn-2.png" alt="">
                        <span class="count">
                            {{ profile?.remainSession > 0 ? 'Bạn còn ' + profile?.remainSession + ' lượt chơi' : 'Bạn đã hết lượt chơi' }}</span>
                    </a>

                </li>
                <li class="btn-share"><a href="javascript:void(0)" (click)="shareFB()" title="Chia sẻ facebook">
                    <img src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/btn-3.png" alt="">
                </a></li>
            </ul>
        </div>
        <p *ngIf="!isLogged" class="text-type-2">
            <a href="javascript:void(0)" (click)="loginPopup()">
                Đăng nhập để xem thành tích và số lượt chơi còn lại
            </a>
        </p>
        <p *ngIf="isLogged" class="text-type" >
            <span class="note-txt"><a href="javascript:void(0)" (click)="logOut()">Đăng xuất</a></span>
            <a (click)="historyPopup()" href="javascript:void(0)" class="btn-your-result" title="Thành tích của bạn">Thành tích của bạn</a>
        </p>
        <div class="share-text">
                <strong>Tip tăng cơ hội nhận quà giá trị:</strong><br>
                Chuẩn bị chuột thật tốt và luyện tập click nhanh liên tục.<br>
                Truy cập game mỗi ngày (sau 12:00 AM) để nhận thêm 1 lượt chơi.<br>
                Nhấn nút CHIA SẺ FACEBOOK và bắt đầu chia sẻ để có thêm 1 lượt chơi/ngày.
        </div>
        <div class="slider-game-wrap">
            <h2>
                <img src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/title-1.png" alt="">
                <span class="title-mobile">Danh sách quà tặng</span>
            </h2>
            <div class="slider-game">
                <div class="swiper-wrapper">
                    <ng-container *ngIf="gifts.length>0">
                        <div class="swiper-slide" *ngFor="let gift of gifts">
                            <div class="inner">
                                <img src="{{ gift.imageUrl }} ">
                                <div class="field-number"><span>x{{gift.limit}}</span></div>
                            </div>
                            <div class="field-text">{{gift.name}} •</div>
                        </div>
                    </ng-container>
                </div>
                <!-- Add Nav  -->
                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false">
                    <div class="inner"><span></span></div>
                </div>
                <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false">
                    <div class="inner"><span></span></div>
                </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
        <div class="table-content-game">
            <ul class="tab-table clearfix">
                <li class="active">
                    <a href="#table-tab-1">
                        <img src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/btn-tab-3.png" alt="">
                        <img class="hide" src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/btn-tab-1.png" alt="">
                        <img class="tab-mobile" src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/btn-tab-5.png" alt="">
                        <img class="tab-mobile tab-mobile-hide" src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/btn-tab-6.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#table-tab-2">
                        <img src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/btn-tab-2.png" alt="">
                        <img class="hide" src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/btn-tab-4.png" alt="">
                        <img class="tab-mobile" src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/btn-tab-7.png" alt="">
                        <img class="tab-mobile tab-mobile-hide" src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/btn-tab-8.png" alt="">
                    </a>
                </li>
            </ul>
            <div class="tab-table-content">
                <div class="content active" id="table-tab-1">
                    <div class="table-content-inner">
                        <div class="table-responsive">
                            <div class="table">
                                <div class="thead">
                                    <div class="tbl-row clearfix" *ngIf="isLogged">
                                        <div class="col-1">
                                            <div class="your-level">
                                                <strong>vị trí</strong> của bạn
                                            </div>
                                        </div>
                                        <div class="col-2">{{mineRanking?.rank}}</div>
                                        <div class="col-3">{{profile?.email}}</div>
                                        <div class="col-4">{{mineRanking?.score + ' click'}}</div>
                                        <div class="col-5">{{formatDate(mineRanking?.finishedAt)}}</div>
                                        <div class="col-6">{{mineRanking?.gift}}</div>
                                    </div>
                                </div>
                                <div class="tbody">
                                    <ng-container *ngIf="ranking.length > 0">
                                        <div class="tbl-row clearfix" *ngFor="let mranking of ranking; let idx = index">
                                            <div class="col-1">
                                                <img *ngIf="idx==0" src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/icon-1.png" width="50" height="42 alt=" >
                                                <img *ngIf="idx==1" src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/icon-2.png" width="50" height="42 alt=" >
                                                <img *ngIf="idx==2" src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/icon-3.png" width="50" height="42 alt=" >
                                            </div>
                                            <div class="col-2">{{'Top '+ (idx+1)}}</div>
                                            <div class="col-3">{{mranking.email}}</div>
                                            <div class="col-4">{{mranking.score}}</div>
                                            <div class="col-5">{{formatDate(mranking.created)}}</div>
                                            <div class="col-6">{{mranking.gift}}</div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content" id="table-tab-2">
                    <div class="table-content-inner">
                        <div class="table-responsive tbl-customer-list">
                            <div class="table">
                                <div class="thead">
                                    <div class="tbl-row clearfix">
                                        <div class="col-4">Thời gian</div>
                                        <div class="col-3">Email</div>
                                        <div class="col-5">Số điện thoại</div>
                                        <div class="col-6">Quà tặng</div>
                                    </div>
                                </div>
                                <div class="tbody">
                                    <ng-container *ngIf="results.length > 0">
                                        <div class="tbl-row clearfix" *ngFor="let result of results; let idx = index">
                                            <div class="col-4">{{formatDate(result.created)}}</div>
                                            <div class="col-3">{{result.email}}</div>
                                            <div class="col-5">{{result.phone}}</div>
                                            <div class="col-6">{{result.gift}}</div>
                                        </div>
                                    </ng-container>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
</main>
