<div class="checkout-final-result checkout-success">
    <div class="checkout-status">&nbsp;</div>
    <p class="msg-text">Đặt hàng thành công !</p>
    <hr class="break-line">
    <div class="content">
        <p class="order-number">MÃ ĐƠN HÀNG:
            <a *ngIf="(authIsLoggedIn$ | async) && orderSuccess?.order_id" routerLink="/account/orders/{{orderSuccess?.order_id}}"><span> {{orderSuccess?.increment_id}}</span></a>
            <span *ngIf="!(authIsLoggedIn$ | async) || !orderSuccess?.order_id" href="javascript:void(0)"> {{orderSuccess?.increment_id}}</span>
        </p>
        <div class="item-row">
            <div class="lbl-left">
                <strong>Tổng tiền</strong>
            </div>
            <div class="lbl-right">
                <strong>{{ orderSuccess && orderSuccess.grand_total ? orderSuccess.grand_total.toString().toVndCurrency() : (cart?.total?.grand_total - cart?.total?.shipping_amount + shippingFee)?.toString().toVndCurrency() }}</strong>
            </div>
        </div>
        <div class="item-row">
            <div class="lbl-left">
                Ngày đặt
            </div>
            <div class="lbl-right">
                {{currentDate}}
            </div>
        </div>
        <div class="item-row">
            <div class="lbl-left">
                Thanh toán bằng
            </div>
            <div class="lbl-right">
                {{ paymentType }}
            </div>
        </div>
        <!--
        <div class="item-row">
            <div class="lbl-left">
                Điểm thưởng
            </div>
            <div class="lbl-right">
                +3.600 điểm
            </div>
        </div>
        -->
        <hr class="break-line">
        <div class="custom-info">
            <h3>Thông tin người nhận hàng </h3>
            <p class="name"><strong>{{ shippingAddress?.lastname }} {{ shippingAddress?.firstname }}</strong></p>
            <p>{{ shippingAddress?.street[0] }}, {{ shippingAddress?._ward.name }}, {{ shippingAddress?._district.name }}, {{ shippingAddress?._city.name }}</p>
            <p> <label>Email : </label>{{ shippingAddress?.extension_attributes?.email_address }}</p>
            <p><label>Điện thoại: </label>{{ shippingAddress?.telephone }}</p>
        </div>
        <ng-container *ngIf="hasPickupInStore">
            <hr class="break-line">
            <div class="others-address">
                <h3>THÔNG TIN ĐẾN NHẬN HÀNG</h3>
                <ng-container *ngFor="let info of shippingVendors?.by_group">
                    <div class="item" *ngIf="info.pickupInfo.isActive">
                        <h4>{{info.vendor_name}}:</h4>
                        <p><strong>Địa chỉ: {{info.pickupInfo.vendor_location}}</strong></p>
                        <p>Thời gian nhận hàng: {{info.pickupInfo.duration_standard}}</p>
                        <p>Người đến nhận: {{info.pickupInfo.customer_name}} - {{info.pickupInfo.customer_email}}
                            - {{info.pickupInfo.customer_phone}}</p>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
    <!--
    <div class="note-2">
        <span>i</span>Bạn đã tiết kiệm được 1.200.000₫
    </div>
    -->
    <div class="btn-group">
        <a (click)="backToHome()" href="/" class="button-bg" title="Tiếp tục mua sắm">Tiếp tục mua sắm</a>
        <a (click)="goToOrders()" href="/account/orders" class="button-bg btn-backtohome" title="Chi tiết đơn hàng">Chi tiết đơn hàng</a>
    </div>
</div>
