<form class="form-horizontal" #loginForm="ngForm" (ngSubmit)="update(loginForm)" id="loginForm" novalidate>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="px-3">
                <p>Biệt dược<span class="required">*</span></p>
                <fieldset class="form-group position-relative">
                    <input type="text" id="patent" (clickOutside)="showPatentList(false)" (click)="showPatentList(true)" 
                    name="patent" #patent="ngModel" ngModel
                     class="form-control" required data-validation-required-message="Vui lòng nhập họ tên">
                    <div class="dropdown-menu dropdown-below-input" [ngStyle]="{'display': showPatent? 'block': 'none'}">
                        <a href="javascript:void(0);" (click)="selectPatentMedicine(patent)" class="dropdown-item" 
                        *ngFor="let patent of listPatentMedicine">{{patent.name}}</a>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="px-3">
                <p>Đơn vị thuốc<span class="required">*</span></p>
                <fieldset class="form-group position-relative">
                    <select class="form-control" id="DefaultSelect">
                        <option value="{{unit.id}}" *ngFor="let unit of listUnitMedicine">{{unit.name}}</option>                        
                    </select>
                </fieldset>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="px-3">
                <p>Dược chất<span class="required">*</span></p>
                <fieldset class="form-group position-relative">
                    <input type="text" id="drug" name="drug" (clickOutside)="showDrugList(false)" (click)="showDrugList(true)"
                     #drug="ngModel" ngModel class="form-control" required data-validation-required-message="Vui lòng nhập địa chỉ">
                     <div class="dropdown-menu dropdown-below-input" [ngStyle]="showDrug && {'display':'block'}">
                        <a href="javascript:void(0);" (click)="selectDrugMedicine(drug)" class="dropdown-item" 
                        *ngFor="let drug of listDrugMedicine">{{drug.name}}</a>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="px-3">
                <p>Cách sử dụng<span class="required">*</span></p>
                <fieldset class="form-group position-relative">
                    <select class="form-control" id="DefaultSelect">
                        <option value="{{behaviour.id}}" *ngFor="let behaviour of listBehaviourMedicine">{{behaviour.name}}</option>
                    </select>
                </fieldset>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="px-3">
                <p>Đơn giá bán<span class="required">*</span></p>
                <fieldset class="form-group position-relative">
                    <input type="text" id="sellprice" name="sellprice"
                     #sellprice="ngModel" ngModel class="form-control" required data-validation-required-message="Vui lòng nhập địa chỉ">
                </fieldset>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="px-3">
                <p>Phân loại<span class="required">*</span></p>
                <fieldset class="form-group position-relative">
                    <select class="form-control" id="DefaultSelect">
                        <option value="{{type.id}}" *ngFor="let type of listTypeMedicine">{{type.name}}</option>
                    </select>
                </fieldset>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="px-3">
                <p>Hướng dẫn/lưu ý<span class="required">*</span></p>
                <fieldset class="form-group position-relative">
                    <input type="text" id="sellprice" name="sellprice"
                     #sellprice="ngModel" ngModel class="form-control" required data-validation-required-message="Vui lòng nhập địa chỉ">
                </fieldset>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="px-3">
                <div class="text-right">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
        
    </div>   
</form>