
    <div class="wrap-other-form" *ngIf="uid === 'shipping'">
        <div class="other-form-item" *ngIf="userInfo && userInfo.id && displayedAddresses?.length > 0">
            <div class="address-list" >
                <ng-container *ngFor="let userAddress of displayedAddresses; let idx = index">
                    <div class="address-item " *ngIf="(authIsLoggedIn$ | async) && userInfo && userInfo.id"
                            [ngClass]="{'current':userAddress.default_shipping && !address.isOther}" id="{{'add-item-' + userAddress.id}}">
                        <a title="Chỉnh sửa" class="btn-edit" id="{{'btn-'+userAddress.id}}" (click)="editAddress(userAddress.id)">Chỉnh sửa</a>
                        <span *ngIf="userAddress.default_shipping" class="btn-default">Mặc định</span>
                        <label class="checked-content" >
                            {{userAddress.lastname + ' ' + userAddress.firstname}}
                            <input type="radio" [checked]="userAddress.default_shipping && !address.isOther" (change)="selectAddress(userAddress)"
                                id="{{uid}}-shipping-address-{{idx}}" name="{{uid}}-shipping-address" class="radio_address" >
                            <span class="radiobtn"></span>
                            <address>
                                {{ userAddress.telephone + ' - ' + userAddress?.extension_attributes?.email_address }}
                                <br>
                                {{ userAddress.street[0] + ', ' + userAddress.ward + ', ' + userAddress.district + ', ' + userAddress?.region?.region }}
                            </address>
                        </label>
                    </div>
                    <div class="form-inner useraddress {{'add-' + userAddress.id}}" [hidden]="selectedId !== userAddress.id"></div>
                </ng-container>
                <div class="address-item" [ngClass]="{current: address.isOther}" id="add-item-new" >
                    <label class="checked-content" >
                        Thêm địa chỉ mới
                        <input type="radio" [checked]="address.isOther" (change)="selectAddress(false)" name="{{uid}}-shipping-address" id="{{uid}}-shipping-address-add-new">
                        <span class="radiobtn"></span>
                    </label>
                </div>
                <div class="12344 form-inner useraddress {{'add-' + 'new'}} " [hidden]="selectedId !== 'new'" id="att"></div>
            </div>
        </div>
    </div>


    <form #addressForm="ngForm" novalidate class="form " id="{{uid}}-form"
        [ngClass]="{
            'form-shipping-address':(authIsLoggedIn$ | async) && userInfo && userInfo.id && uid==='shipping',
            'padding-top':(authIsLoggedIn$ | async) && displayedAddresses?.length <= 0 && uid==='shipping'
        }"
        [hidden]="( (authIsLoggedIn$ | async)  && displayedAddresses?.length > 0 && uid==='shipping') "
    >
        <fieldset class="fieldset address form-group lt-checkout-shipping-form__form-group">
            <!-- [disabled]="address.id && (authIsLoggedIn$ | async)" -->
            <div class="form-row-lt">
                <!-- firstname -->
                <div class="form-col required">
                    <label class="form-label"
                    [ngClass]="{'active': firstName.focus || firstName.value, 'focus-lt': firstName.focus, 'error-lt': firstName.invalid && (firstName.dirty || firstName.touched) && firstName.errors.required }">
                        <span class="form-text">Tên</span>
                        <input class="input-text mage-error" [ngClass]="{'mage-error': firstName.invalid && (firstName.dirty || firstName.touched) && firstName.errors.required}"
                            name="firstName" #firstName="ngModel" type="text" [(ngModel)]="address.firstname" required maxlength="100"
                            (focus)="firstName.focus = true" (blur)="firstName.focus = false"
                        >
                    </label>
                    <div class="mage-error" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched) && firstName?.errors.required">
                        Vui lòng nhập dữ liệu
                    </div>
                    <div class="mage-error" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched) && firstName?.errors.maxlength">
                        Tên không dài quá 100 ký tự
                    </div>
                </div>
                <!-- end firstname -->
                <!-- lastname -->
                <div class="form-col required">
                    <label class="form-label" [ngClass]="{'active':lastName.value || lastName.focus, 'focus-lt': lastName.focus, 'error-lt': lastName.invalid && (lastName.dirty || lastName.touched) && lastName?.errors.required }">
                        <span class="form-text">Họ</span>
                        <input class="input-text" [ngClass]="{'mage-error': lastName.invalid && (lastName.dirty || lastName.touched) && lastName.errors.required}"
                            name="lastName" #lastName="ngModel" type="text" [(ngModel)]="address.lastname" required maxlength="100"
                            (focus)="lastName.focus = true" (blur)="lastName.focus = false"
                        >
                    </label>
                    <div class="mage-error" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched) && lastName?.errors.required">
                            Vui lòng nhập dữ liệu
                        </div>
                    <div class="mage-error" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched) && lastName?.errors.maxlength">
                        Tên không dài quá 100 ký tự
                    </div>
                </div>
                <!-- end lastname -->
            </div>

            <div class="form-row-lt">
                <!-- phone -->
                <div class="form-col required">
                    <label class="form-label" [ngClass]="{'active': phoneNumber.value || phoneNumber.focus ,'focus-lt': phoneNumber.focus, 'error-lt': phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched) && phoneNumber?.errors.required }">
                        <span class="form-text">Số điện thoại</span>
                        <input class="input-text" [ngClass]="{'mage-error': phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)}" name="phoneNumber"
                            minlength="10" maxlength="16" #phoneNumber="ngModel" [pattern]="regexPhoneNumber" type="text" [(ngModel)]="address.telephone" required
                            (focus)="phoneNumber.focus = true" (blur)="phoneNumber.focus = false"
                        >
                    </label>
                    <span class="note-txt">Nhân viên giao nhận LOTTE.vn sẽ liên hệ với SĐT này.</span>
                    <div class="mage-error" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched) && phoneNumber?.errors.pattern">
                        Vui lòng nhập số điện thoại hợp lệ, Ví dụ: 0981234567, +84981234567. Lưu ý theo thông báo của nhà mạng, vui lòng nhập đầu số điện thoại mới từ ngày 14/11/2018.
                    </div>
                    <div class="mage-error" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched) && phoneNumber?.errors.minlength">
                        Vui lòng nhập nhiều hơn hoặc bằng 10 ký tự.
                    </div>
                    <div class="mage-error" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched) && phoneNumber?.errors.required">
                        Vui lòng nhập dữ liệu
                    </div>

                </div>
                <!-- end phone -->
                <!-- Email -->
                <div class="form-col required">
                    <label class="form-label" [ngClass]="{'active': email.value || email.focus, 'focus-lt': email.focus, 'error-lt': email.invalid && (email.dirty || email.touched) && email?.errors.required }">
                        <span class="form-text">Email</span>
                        <input class="input-text" (focus)="email.focus = true" (blur)="email.focus = false" [ngClass]="{'mage-error': email.invalid && (email.dirty || email.touched)}"
                            name="email" type="text" maxlength="200" #email="ngModel" [pattern]="regexEmail" [(ngModel)]="address.extension_attributes.email_address" required
                            (focus)="email.focus = true" (blur)="email.focus = false"
                        >
                    </label>
                    <div class="mage-error" *ngIf="email.invalid && (email.dirty || email.touched) && email?.errors.required">
                        Vui lòng nhập dữ liệu
                    </div>
                    <div class="mage-error" *ngIf="email.invalid && (email.dirty || email.touched) && email?.errors.pattern">
                        Vui lòng nhập 1 địa chỉ email hợp lệ (Ví dụ: johndoe@domain.com).
                    </div>
                </div>
                <!-- end Email -->
            </div>

            <div class="form-row-lt">
                <!-- street -->
                <div class="form-col required " name="shippingAddress.street.0">
                    <label class="form-label"
                        [ngClass]="{'active' : street.value || street.focus, 'focus-lt': street.focus, 'error-lt': street.invalid && (street.dirty || street.touched) && street?.errors.required }">
                        <span class="form-text">Địa chỉ (tầng, số nhà, đường)</span>
                        <input class="input-text" [ngClass]="{'mage-error': street.invalid && (street.dirty || street.touched) && street.errors.required}"
                            type="text" #street="ngModel" name="street" [(ngModel)]="address.street[0]" required maxlength="200"
                            (focus)="street.focus = true" (blur)="street.focus = false"
                        >
                    </label>
                    <div class="mage-error" *ngIf="street.invalid && (street.dirty || street.touched) && street?.errors.required">
                        Vui lòng nhập dữ liệu
                    </div>
                </div>
                <!-- end street -->
                <!-- city -->
                <div class="form-col required " name="shippingAddress.region_id">
                    <label class="form-label" [ngClass]="{'active focus-lt': city.focus}">
                        <select class="select" [compareWith]="equals" [ngClass]="{'mage-error': city.invalid && (city.dirty || city.touched) && city.errors.required}"
                            name="city" #city="ngModel" [(ngModel)]="address._city" (change)="selectArea(address._city, false)" required
                            (focus)="city.focus = true" (blur)="city.focus = false"
                            >
                            <option [value]="null" disabled>Tỉnh/ Thành Phố</option>
                            <option [ngValue]="city" *ngFor="let city of regions">{{city.name}}</option>
                        </select>
                    </label>
                    <div class="mage-error" *ngIf="city.invalid && (city.dirty || city.touched) && city?.errors.required">
                        Vui lòng nhập dữ liệu
                    </div>
                </div>
                <!-- end city -->
            </div>

            <div class="form-row-lt">
                <!-- district -->
                <div class="form-col required " name="shippingAddress.region_id">
                    <label class="form-label" [ngClass]="{'active focus-lt': district.focus}">
                        <select [compareWith]="equals" class="select" [ngClass]="{'mage-error': district.invalid && (district.dirty || district.touched) && district.errors.required}"
                            name="district" #district="ngModel" [disabled]="!address._city || !address._city?.districts?.length"
                            (change)="selectArea(false, address._district)" [(ngModel)]="address._district" required
                            (focus)="district.focus = true" (blur)="district.focus = false"
                            >
                            <option [value]="null" selected disabled>Quận / Huyện</option>
                            <option [ngValue]="district" *ngFor="let district of address._city?.districts">
                                {{district.name}}
                            </option>
                        </select>
                    </label>
                    <div class="mage-error" *ngIf="district.invalid && (district.dirty || district.touched) && district?.errors.required">
                        Vui lòng nhập dữ liệu
                    </div>
                </div>
                <!-- end district -->
                <!-- ward -->
                <div class="form-col required " name="shippingAddress.region_id">
                        <label class="form-label" [ngClass]="{'active focus-lt': ward.focus}">
                            <select [compareWith]="equals" class="select" [ngClass]="{'mage-error': ward.invalid && (ward.dirty || ward.touched) && ward.errors.required}"
                                name="ward" #ward="ngModel" [disabled]="!address._district || !address._district?.wards.length" [(ngModel)]="address._ward"
                                (change)="selectArea(false, address._district, address._ward)"
                                required (focus)="ward.focus = true" (blur)="ward.focus = false" >
                                <option [value]="null" selected disabled>Vui lòng chọn</option>
                                <option [ngValue]="ward" *ngFor="let ward of address._district?.wards">
                                    {{ward.name}}
                                </option>
                            </select>
                        </label>
                    <div class="mage-error" *ngIf="ward.invalid && (ward.dirty || ward.touched) && ward?.errors.required">
                        Vui lòng nhập dữ liệu
                    </div>
                </div>
                <!-- end ward -->
            </div>

            <div class="form-row-lt">
                <div *ngIf="uid === 'shipping'" class="form-col form-col-full" name="shippingAddress.shipping_comments">
                        <label class="form-label"
                        [ngClass]="{'active': note.value || note.focus, 'focus-lt': note.focus }"
                        >
                            <span class="form-text">Ghi chú giao hàng (không bắt buộc)</span>
                            <textarea maxlength="50" name="note" #note="ngModel" [(ngModel)]="address.shipping_comments"
                                (focus)="note.focus = true" (blur)="note.focus = false"> </textarea>
                        </label>
                        <div class="limit-characters">
                            <span class="note-txt">{{address?.shipping_comments?.length ? address?.shipping_comments?.length: 0}}/50 ký tự</span>
                        </div>
                </div>
            </div>

        </fieldset>

    </form>



