<div class="right-content-outner">
    <div class="right-content-inner">
        <form ngForm #summaryForm="ngForm">
            <div class="form-row">
                <label for="quantity">Số lượng</label>
                <select id="quantity" name="qty" [(ngModel)]="cartRequest.product_qty" (change)="selectProductQty(cartRequest.product_qty)" >
                    <option *ngFor="let qty of qtyOptionsList" value="{{qty}}">{{qty}}</option>
                </select>
            </div>
            <div class="form-row">
                <label>Thông tin nhận thẻ</label>
                <input class="input-text" name="user_phone" [pattern]="regexPhoneNumber" #user_phone="ngModel" [(ngModel)]="cartRequest.user_phone_number" placeholder="Số điện thoại*" type="text" [ngClass]="{'mage-error' : ((!validatePrefixPhone() || user_phone.invalid) && (user_phone.touched || user_phone.dirty))}" required>
                <p class="noted">*Thông tin thẻ cào sẽ được gửi qua số điện thoại bạn đăng ký</p>
                <div class="mage-error" *ngIf="(!validatePrefixPhone() || user_phone.invalid) && (user_phone.touched || user_phone.dirty || summaryForm.submitted)" >Số điện thoại của Quý Khách không thuộc danh sách Nhà mạng hỗ trợ. Quý khách vui lòng cung cấp số điện thoại khác.</div>
            </div>
            <div class="form-row">
                <input class="input-text" name="user_email" [pattern]="regexEmail" #user_email="ngModel" [(ngModel)]="cartRequest.user_email" placeholder="Email*" type="email" [ngClass]="{'mage-error' : (user_email.invalid && (user_email.touched || user_email.dirty))}" required>
                <p class="noted">*Thông tin thẻ cào sẽ được gửi qua địa chỉ Email</p>
                <div class="mage-error" *ngIf="user_email.invalid && (user_email.touched || user_email.dirty || summaryForm.submitted)" >Vui lòng nhập email hợp lệ</div>
            </div>
            <button class="btn-action" style="display: none" id="summary_submit" title="Summary" type="submit">Summary</button>

        </form>
        <div class="total-block" *ngIf="cartRequest.product_id">
            <p class="payment-label" *ngIf="provider"><strong>Thanh toán:</strong> Thẻ cào <span [innerHTML]="provider?.label">Vinaphone</span></p>
            <div class="payment-row clearfix">
                <span class="field-label">Tạm tính</span>
                <span class="field-number">{{cartTotal?.subtotal.toString().toVndCurrency()}}</span>
            </div>
            <div class="payment-row clearfix">
                <span class="field-label">Giảm giá</span>
                <span class="field-number">{{cartTotal?.discount_amount.toString().toVndCurrency()}}</span>
            </div>
            <div class="payment-row clearfix">
                <span class="field-label">L.Point</span>
                <span class="field-number">{{cartTotal?.lpoint_amount.toString().toVndCurrency()}}</span>
            </div>
            <div class="payment-row payment-total clearfix">
                <span class="field-label">Tổng Cộng</span>
                <span class="field-number">{{cartTotal?.grand_total.toString().toVndCurrency()}}</span>
            </div>
        </div>
    </div>
    <span style="font-size: 13px;">Hướng dẫn và chính sách mua thẻ cào/ thẻ game/ nạp tiền điện thoại -
        <a href="/campaign/phone-chinh-sach-quy-dinh" target="_blank">Xem chi tiết</a>
    </span>
</div>