<ng-container *ngFor="let tpoGroup of tpoGroups">
    <div class="items-row" *ngIf="tpoGroup.children.length > 0">
        <h2>{{tpoGroup.group_name}}</h2>
        <p class="subtitle"><span>{{tpoGroup.short_description}}</span></p>
        <div class="content clearfix">
            <ng-container *ngFor="let item of tpoGroup.children">
                <div class="item">
                    <div class="inner">
                        <a [href]="'/xu-huong/chi-tiet/'+ item.url_key">
                            <span class="field-img">
                                <img [src]="item.image" alt="">
                                <span class="view-info"><strong>{{item.view}}</strong> Xem   |   <strong>{{item.like}}</strong> Thích</span>
                            </span>
                            <span class="field-text">#{{item.name}}</span>
                        </a>
                    </div>
                </div>
            </ng-container>
        </div>
        <!--<div class="footer-view">-->
            <!--<p class="total-items">Bạn đang xem 8 trên tổng số 12 sản phẩm</p>-->
            <!--<p class="btn-load-more"><a href="#">Xem thêm</a></p>-->
        <!--</div>-->
    </div>
</ng-container>
