<div class="page-title-wrapper">
    <h1 class="page-title">
        <span class="base" data-ui-id="page-title-wrapper">Đánh giá nhà cung cấp của tôi</span>
    </h1>
</div>

<div *ngIf="lpointBanner?.content" [innerHTML]="lpointBanner?.content | safeHtml"></div>
<!-- <div class="lpoint-info-banner">
    <img src="{{'wysiwyg/static/promotions/072017/lpoint/lpoint.png'.toMediaUrl()}}" alt="">
    <a [routerLink]="['/account/edit']" class="link-1" title="Cập nhật thông tin">Cập nhật thông tin</a>
    <a href="/campaign/l-point-launching/" target="_blank" class="link-2" title="Chi tiết chương trình L.Point">Chi tiết chương trình L.Point</a>
</div> -->
<div class="block-seller-reviews" *ngIf="!totals">
    <div class="message info empty">
        <span>Không có nhận xét</span>
    </div>
</div>
<div class="block-seller-reviews" *ngIf="totals">
    <div class="pending-seller-title">
        <span><span class="number">{{totals}}</span> đánh giá đã được gởi</span>
    </div>
    <div class="my-seller-reviews">
        <ol class="review-items">
            <li class="item" *ngFor="let rating of ratings; let no = index">
                <div class="seller-title">
                    <div class="count"><span>{{no}}</span></div>
                    <h3 class="title"><a href="{{rating.vendor_url}}">{{rating.vendor_name}}</a></h3>
                    <div class="review-ratings">
                        <div class="rating-summary">
                            <div class="rating-result" title="{{rating.vote_percent[0]}}%">
                                <meta itemprop="worstRating" content="1">
                                <meta itemprop="bestRating" content="100">
                                <span [ngStyle]="{'width':rating.vote_percent[0]+'%'}">
                                    <span itemprop="ratingValue">{{rating.vote_percent[0]}}%</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="seller-content">
                    <div class="review-title">{{ rating.title }}</div>
                    <div class="review-content">{{ rating.detail }}</div>
                </div>
                <div class="review-details">
                    <p class="review-date">
                        <span class="review-details-label">Đăng vào</span>
                        <time class="review-details-value">{{rating.created_at | date:'dd/MM/yyyy'}}</time>
                    </p>
                </div>
            </li>
        </ol>
    </div>
</div>
