<div class="right-content-outner">
    <div class="right-content-inner">
        <form ngForm #summaryForm="ngForm">
            <div class="form-row">
                <input class="input-text" name="user_email" [pattern]="regexEmail" #user_email="ngModel" [(ngModel)]="cartRequest.user_email" placeholder="Email*" type="email" [ngClass]="{'mage-error' : (user_email.invalid && (user_email.touched || user_email.dirty))}" required>
                <p class="noted">*Thông tin đơn hàng sẽ được gửi qua địa chỉ Email</p>
                <div class="mage-error" *ngIf="user_email.invalid && (user_email.touched || user_email.dirty)" >Vui lòng nhập email hợp lệ</div>
            </div>
        </form>
        <div class="total-block" *ngIf="cartRequest.product_id">
            <p class="payment-label" *ngIf="validatePrefixPhone()"><strong>Thanh toán:</strong> nạp tiền cho <span [innerHTML]="getUserPhoneValid()"></span></p>
            <div class="payment-row clearfix">
                <span class="field-label">Tạm tính</span>
                <span class="field-number">{{cartTotal.subtotal.toString().toVndCurrency()}}</span>
            </div>
            <div class="payment-row clearfix">
                <span class="field-label">Mã giảm giá</span>
                <span class="field-number">{{cartTotal?.discount_amount.toString().toVndCurrency()}}</span>
            </div>
            <div class="payment-row clearfix">
                <span class="field-label">L.Point</span>
                <span class="field-number">{{cartTotal?.lpoint_amount.toString().toVndCurrency()}}</span>
            </div>
            <div class="payment-row payment-total clearfix" *ngIf="cartRequest.product_id">
                <span class="field-label">Tổng Cộng</span>
                <span class="field-number">{{cartTotal.grand_total.toString().toVndCurrency()}}</span>
            </div>
        </div>
    </div>
    <span style="font-size: 13px;">Hướng dẫn và chính sách mua thẻ cào/ thẻ game/ nạp tiền điện thoại -
        <a href="/campaign/phone-chinh-sach-quy-dinh" target="_blank">Xem chi tiết</a>
    </span>
</div>