<div class="product-detail-lt" *ngIf="productDetail?.id" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ productDetail?.url }}">
    <meta itemprop="productID" content="{{ curSelected?.simpleId ? curSelected.simpleId : curSelected.id }}">
    <meta itemprop="category" content="{{ productDetail?.categoryMeta }}">
    <div class="product-detail-content">
        <div class="product-detail-images">
            <div class="product-thumb-imgs">
                <div class="content" *ngIf="mediaGallery?.thumb?.length > 0">
                    <ng-container *ngFor="let thumb of mediaGallery?.thumb; let idx = index" >
                        <a class="thumb-item" [ngClass]="{current: curThumbIdx === idx}" (click)="changeMedia(idx)" *ngIf="idx < 4">
                            <img src="{{thumb}}" alt="" width="86" height="112">
                        </a>
                    </ng-container>
                </div>
                <div class="share-block-lt" #shareBlock [ngClass]="{active: socialTog}">
                    <span class="icon" (click)="socialTog = !socialTog">&nbsp;</span>
                    <div class="share-dropdown" >
                        <div class="inner">
                            <!--<p><strong>Share!</strong></p>-->
                            <p>Đừng mua 1 mình, share để mọi người cùng mua!</p>
                            <div class="social-list">
                                <a (click)="share('facebook')" href="{{getShareUrl('facebook')}}" class="icon-fb" title="facebook" target="_blank"><span>facebook</span></a>
                                <a (click)="share('google')" href="{{getShareUrl('google')}}" class="icon-gl" title="google plus" target="_blank"><span>google plus</span></a>
                                <a (click)="share('twitter')" href="{{getShareUrl('twitter')}}" class="icon-twitter" title="twitter" target="_blank"><span>twitter</span></a>
                                <!--<a href="#" class="icon-instagram" title="instagram" target="_blank"><span>instagram</span></a>-->
                                <!--<a href="#" class="icon-pinterest" title="pintereslt" target="_blank"><span>pinterest</span></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-large-imgs">
                <div class="field-badge-top" *ngIf="isNew || productDetail?.label?.length > 0">
                    <span class="lbl" *ngIf="isNew">Mới</span>
                    <ng-container *ngFor="let label of productDetail?.label">
                        <img *ngIf="label.cat_img_url && label.label_position === 'left' && !isExpiredProductLabel(label)" src="{{label.cat_img_url}}">
                    </ng-container>
                </div>
                <div class="field-badge-top-right" *ngIf="productDetail?.label?.length > 0">
                    <ng-container *ngFor="let label of productDetail?.label">
                        <img *ngIf="label.cat_img_url && label.label_position === 'right' && !isExpiredProductLabel(label)" src="{{label.cat_img_url}}">
                    </ng-container>
                </div>
                <div class="field-badge-bottom">
                    <button class="btn-save" title="Yêu thích" *ngIf="isLoggedIn" (click)="addOrRemoveWishlist(productDetail?.id)" [ngClass]="{'saved':wishListSaved}"><span>Yêu thích</span></button>
                </div>
                <div class="field-img-bottom" *ngIf="productDetail?.label?.length > 0">
                    <ng-container *ngFor="let label of productDetail?.label">
                        <img *ngIf="label.cat_img_url && label.label_position === 'bottom' && !isExpiredProductLabel(label)" src="{{label.cat_img_url}}">
                    </ng-container>
                </div>
                <div class="product-large-inner">
                    <img src="{{curImgUrl}}" alt="" width="510" height="664" itemprop="image">
                </div>
            </div>
            <div class="other-info" *ngIf="productDetail?.hashtags?.length > 0">
                <div class="lbl">Từ khoá liên quan:</div>
                <div class="keywords-list">
                    <a routerLink="/xu-huong/chi-tiet/{{tpo.slug}}" *ngFor="let tpo of productDetail.hashtags">#{{tpo.name}}</a>
                </div>
            </div>
        </div>
        <div class="product-detail-info">
            <div class="field-brand" itemprop="brand" itemscope="" itemtype="http://schema.org/Brand">
                <meta itemprop="name" content="{{ productDetail?.product_brand }}" />
                <meta itemprop="url" content="{{ productDetail?.product_brand_info?.url }}" />
                <span class="field-omni-tag" *ngIf="isMart">OMNI</span>
                <a routerLink="/brand/{{productDetail?.product_brand_id}}/{{productDetail?.product_brand_info?.url_key}}" title="{{productDetail?.product_brand}}">{{productDetail?.product_brand}}</a>
            </div>
            <div class="field-name" itemprop="name">
                {{ productDetail?.name }}
                <span *ngIf="productDetail?.is_evoucher" class="lbl-evoucher"><span>e-voucher</span></span>
            </div>
            <div class="field-old-price" *ngIf="curSelected?.price?.VND?.default !== curSelected?.price?.VND?.price">
                <span class="old-price">{{curSelected?.price?.VND?.price_formated}}</span>
                <span class="discount-lbl" *ngIf="curSelected.price?.VND?.price && curSelected.price?.VND?.default !== curSelected.price?.VND?.price">-{{curSelected.price?.VND?.default | percentize : curSelected.price?.VND?.price }}</span>
            </div>
            <div class="field-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <meta itemprop="priceCurrency" content="VND" />
                <meta itemprop="itemCondition" content="http://schema.org/NewCondition" />
                <meta itemprop="price" *ngIf="allPromotions && allPromotions.length > 0;else showdefault" content="{{ allPromotions[0]?.price_sort}}" />                
                <ng-template #showdefault><meta itemprop="price" content="{{ productDetail?.price?.VND?.default}}" /></ng-template>
                
                <link *ngIf="productDetail?.in_stock" itemprop="availability" href="http://schema.org/InStock" />
                <link *ngIf="!productDetail?.in_stock" itemprop="availability" href="https://schema.org/OutOfStock" />                
                <div class="current-price">{{curSelected?.price?.VND?.default_formated}}</div>
                <div class="sale_price" style="display: none">{{productDetail?.promotion?.final_price}}</div>
                <div class="installment-info" *ngIf="productDetail.accept_installment">
                    Trả góp <strong>0%</strong> lãi suất (từ {{ curSelected?.price?.VND?.installment_price_formatted }}/tháng)
                    <div class="tips-wrap"><span class="icon">?</span>
                        <div class="tips-block">
                            <div class="tips-content">
                                <div class="inner">Trả góp lãi suất 0% qua thẻ tín dụng của Citi Bank, Sacombank, Techcombank, VIB Bank, Shinhan Bank, VPBank, Standard Chartered, SCB Bank, TPBank & OCB Bank. <a href="/uu-dai-tu-ngan-hang" target="_blank">Chi tiết</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flashsale-lt" *ngIf="productDetail?.fake_sold_quantity">
                <div class="time-bar">
                    <div class="bar-info">
                        <span class="txt">{{productDetail.fake_sold_quantity}} người đã mua</span>
                        <lt-home-fashion-countdown (notifyExpiredEvent)="isExpired = true" [end]="productDetail?.sell_to"></lt-home-fashion-countdown>
                        <!--<div class="bar-timer">-->
                            <!--Kết thúc sau <strong>4</strong> ngày <strong>06:45:40</strong>-->
                        <!--</div>-->
                    </div>

                    <div class="bar-percent">
                        <span [ngStyle]="{'width': productDetail?.fake_sold_quantity | percentize : productDetail?.stock_qty}"></span>
                    </div>
                </div>
            </div>
            <div *ngIf="allPromotions && allPromotions.length > 0 "
                class="field-voucder-code" #promotionBlock [ngClass]="{'active':promotionTog}">
                <div class="inner-content" (click)="promotionTog = !promotionTog" >
                    <div class="content">
                        <span class="lbl">Ưu đãi</span> <span class="text"><strong>Giảm thêm {{allPromotions[0]?.discount}}</strong> nhập mã <strong class="code">{{allPromotions[0]?.coupon_code}}</strong></span>
                    </div>
                </div>
                <div class="voucher-dropdown">
                    <div class="voucher-content">
                        <ng-container *ngIf="allPromotions && allPromotions.length > 0">
                            <div class="item" *ngFor="let allpromotion of allPromotions">
                                <div class="voucher-info">
                                    <p><strong>Nhập mã {{allpromotion?.coupon_code}}</strong></p>
                                    <p>Giảm thêm {{allpromotion?.discount}}. Chỉ còn {{allpromotion?.final_price}}</p>
                                    <div class="note" [innerHtml]="allpromotion?.description"></div>
                                </div>
                                <div class="voucher-status">
                                    <div class="copied" *ngIf="copied && copiedCoupon == allpromotion.coupon_code">Dán mã này tại trang Thanh toán</div>
                                    <a *ngIf="!copied" (click)="copy2ClipBoard(allpromotion?.coupon_code); copied = true" class="btn-copy">Sao chép</a>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="field-lpoint">
                <div class="text">Tích luỹ <strong>{{curSelected?.price?.VND?.default * 0.2 / 100 | number}}</strong> điểm vào tài khoản L.POINT
                    <div class="tips-wrap"><span class="icon">?</span>
                        <div class="tips-block">
                            <div class="tips-content">
                                <div class="inner">
                                    <p>- Điểm L.POINT được nhận sau khi sản phẩm được giao thành công và không đổi/trả.</p>
                                    <p>- Điểm L.POINT được sử dụng như tiền mặt để thanh toán cho những đơn hàng sau.</p>
                                    <p><a href="/campaign/l-point-launching">Chi tiết xem thêm tại đây.</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p *ngIf="isLoggedIn && Lpoint">Hiện có <strong>{{Lpoint | number}}</strong> điểm. Sử dụng tại bước thanh toán để nhận thêm ưu đãi.</p>
                <p *ngIf="!isLoggedIn" class="notes">Để nhận thêm ưu đãi hãy <strong><a (click)="showLoginModal()">Đăng ký/Đăng nhập</a></strong> LPOINT</p>
            </div>
            <!--<div class="field-other-seller">-->
                <!--<span class="text">Giá từ các nhà cung cấp khác</span>-->
                <!--<div class="seller-dropdown">-->
                    <!--<div class="content">-->
                        <!--<ul>-->
                            <!--<li><a href="#">Allobuyvietnam</a> 500.000₫</li>-->
                            <!--<li><a href="#">Allobuyvietnam</a> 500.000₫</li>-->
                            <!--<li><a href="#">Allobuyvietnam</a> 500.000₫</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <hr class="break-line">

            <div class="field-sort-desc" *ngIf="productDetail?.is_evoucher" [innerHtml]="productDetail?.short_description">
                <!--<ul>-->
                    <!--<li>Trải Nghiệm Các Loại Lẩu Hấp Dẫn Nhất Của Các Nền Ẩm Thực Thái – Nhật – Hàn – Trung Với Tiệc Buffet Tinh Hoa Lẩu Hải Sản Hơn 100 Món Tại Hotpot Story.</li>-->
                    <!--<li>Voucher 252,000 VNĐ, Còn 179,000 VNĐ, Giảm 29%. Chỉ Có Tại Lotte.vn!</li>-->
                <!--</ul>-->
            </div>

            <div class="e-voucher-info-form" *ngIf="productDetail?.is_evoucher">
                <p class="clearfix">
                    <a href="javascript:void(0);" (click)="showAreaModal()" class="area-list">Khu vực áp dụng</a>
                </p>
            </div>

            <ng-container *ngIf="curSelected?.stock_qty && !isExpired else outOfStock">
                <!--<div class="field-sort-desc" *ngIf="productDetail?.custom_attributes?.length > 0">-->
                    <!--<ul>-->
                        <!--<li *ngFor="let attribute of productDetail?.custom_attributes">{{attribute.label}}: {{attribute.value}}</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="field-sort-desc" *ngIf="productDetail?.short_description" [innerHtml]="productDetail.short_description"></div>-->
                <ng-container *ngIf="productDetail?.type_id === 'configurable'">
                    <div class="field-options" [ngClass]="{'size-opt': !attribute.isColor}" *ngFor="let attribute of configurableAttributes | array_sort:'position'">
                        <div class="lbl" *ngIf="attribute.isColor">Màu sắc:</div>
                        <div class="lbl" *ngIf="!attribute.isColor">Kích thước:</div>
                        <div class="content">
                            <a [ngClass]="{active:curSelected[attribute.attr_id] === value}" *ngFor="let value of attribute?.values;let idx = index" title="{{value}}" (click)="selectOption(attribute, value)">{{value}}</a>
                            <!--<a href="#" title="Xanh dương">Xanh dương</a>-->
                            <!--<a href="#" title="Vàng">Vàng</a>-->
                            <!--<a href="#" title="Vàng hồng">Vàng hồng</a>-->
                            <a class="size-chart" *ngIf="!attribute.isColor && isShowSizeChart" title="Biều đồ kích thước" (click)="showModalSize()">Biều đồ kích thước</a>
                        </div>
                    </div>
                </ng-container>
                <p class="product-note" *ngIf="curSelected?.stock_qty < 10">
                    Chỉ còn <strong>{{curSelected?.stock_qty | number}}</strong> sản phẩm. Nhanh tay mua ngay!
                </p>
                <div class="group-cart-action">
                    <div class="field-qty-col">
                        <button class="btn-minute" type="button" (click)="changeQty(-1)"><span>-</span></button>
                        <input type="number" name="qty" [(ngModel)]="addedProduct.cartItem.qty" maxlength="2">
                        <button class="btn-plus" type="button" (click)="changeQty(1)"><span>+</span></button>
                    </div>
                    <button class="button-bg btn-buynow" [ngClass]="{'disabled': isProductCheckedOut && (cartIsLoading$ | async)}" title="Mua ngay" type="button" (click)="checkout();"><span>Mua ngay</span></button>
                    <button class="btn-addtocard" title="Thêm vào giỏ hàng" (click)="addToCart();isProductCheckedOut = false;"><span>Thêm vào giỏ hàng</span></button>
                </div>

                <ng-container *ngIf="productDetail.is_fresh" >
                    <p class="fresh-weight">
                        Giá tổng cộng: <strong>{{formatPrice(productFreshWeight.price)}}đ/{{productFreshWeight.weight}}{{productFreshWeight.measuring}}</strong> | Đơn giá: {{formatPrice(productFreshWeight.pricePerKg)}}đ/kg
                    </p>
                </ng-container>

                <ng-container *ngIf="!productDetail?.is_evoucher">
                    <div class="field-delivery-content" *ngIf="shipTypeSelected === shipTypeOptions.express">
                        <p><strong>Kiểm tra khi nhận hàng. Không áp dụng đổi trả sau khi nhận.</strong></p>
                        <div class="content">
                            <div class="inner">Xem chính sách đổi trả/ kiểm tra hàng của nhà cung cấp. <a [routerLink]="" class="link-type" title="Chi tiết" (click)="showRMAExpressModal()">Chi tiết</a>
                            </div>
                        </div>
                    </div>

                    <div class="field-delivery-content" *ngIf="!vendorInfo?.is_sdd else sdd_info">
                        <p *ngIf="productDetail?.number_returned_days === -1"><strong>Đổi trả theo chính sách của nhà cung cấp</strong></p>
                        <p *ngIf="productDetail?.number_returned_days !== -1 && [shipTypeOptions.standard].includes(shipTypeSelected)">
                            <strong>{{ productDetail?.number_returned_days }} ngày đổi{{productDetail?.is_returnable === 'Refund & Exchange'?' trả ':' '}}hàng miễn phí</strong>
                        </p>
                        <p *ngIf="vendorInfo?.pickup_enable  && shipTypeSelected === shipTypeOptions.pickup"><strong>Sản phẩm đổi trả tại chỗ. Không hỗ trợ đổi trả sau khi nhận hàng.</strong></p>
                        <!--delivery options-->
                        <div class="deli-options" *ngIf="vendorInfo?.pickup_enable">
                            <label class="checked-content" *ngIf="!(vendorInfo?.carrier_code === shipCarriers.SIXTY && vendorInfo?.shipping_service === shipTypeOptions.express)">
                                <input name="radio_delivery_opt" [value]="shipTypeOptions.standard" type="radio"  [(ngModel)]="shipTypeSelected">
                                <span class="txt">Giao tiêu chuẩn</span>
                                <span class="radiobtn"></span>
                            </label>
                            <label class="checked-content" *ngIf="vendorInfo?.pickup_enable">
                                <input name="radio_delivery_opt" [value]="shipTypeOptions.pickup" type="radio"  [(ngModel)]="shipTypeSelected">
                                <span class="txt">Nhận tại cửa hàng</span>
                                <span class="radiobtn"></span>
                            </label>
                            <label class="checked-content" *ngIf="vendorInfo?.carrier_code === shipCarriers.SIXTY && vendorInfo?.shipping_service === shipTypeOptions.express">
                                <input name="radio_delivery_opt" [value]="shipTypeOptions.express" type="radio"  [(ngModel)]="shipTypeSelected">
                                <span class="txt">Giao nhanh {{(shippingRules$ | async)?.duration_express}}</span>
                                <span class="radiobtn"></span>
                            </label>
                        </div>
                        <!--end delivery options-->
                        <p *ngIf="!vendorInfo?.pickup_enable && shipTypeSelected === shipTypeOptions.standard"><strong>Giao tiêu chuẩn:</strong></p>
                        <p *ngIf="!vendorInfo?.pickup_enable && shipTypeSelected === shipTypeOptions.express"><strong>Chỉ giao hàng cho một số khu vực.</strong> <a [routerLink]="" (click)="showExpressDeliveryAreaModal()" class="link-type" title="Chi tiết">Chi tiết</a></p>
                        <div class="content" [ngClass]="{'content-opts': vendorInfo?.pickup_enable}" [ngSwitch]="shipTypeSelected" >
                            <ng-container *ngSwitchCase="shipTypeOptions.standard">
                                <div class="inner">
                                    <ng-container *ngIf="selectedRegion?.city">
                                    <span class="txt">
                                        <ng-container *ngIf="(shippingRules$ | async)?.customer_fee_standard > 0">
                                            {{ (shippingRules$ | async)?.customer_fee_standard?.toString()?.toVndCurrency()}}
                                        </ng-container>
                                        <ng-container *ngIf="!(shippingRules$ | async)?.customer_fee_standard">
                                            Miễn phí
                                        </ng-container>
                                    </span> - giao đến
                                    </ng-container>
                                    <ng-container *ngIf="!selectedRegion?.city">
                                        Bạn muốn giao đến
                                    </ng-container>
                                    <app-common-fs-shipping-ap-product [product]="curSelected"></app-common-fs-shipping-ap-product>
                                </div>
                                <div class="delivery-time">
                                    <ng-container *ngIf="selectedRegion?.city && (shippingRules$ | async)?.zone_fee">
                                        <!--<p><ng-container *ngTemplateOutlet="shipping_duration"></ng-container></p>-->
                                        <p>{{ (shippingRules$ | async)?.duration_standard }}</p>
                                        <p *ngIf="!isMart">Giao hàng miễn phí khi mua đơn hàng trên <strong>{{ (shippingRules$ | async)?.zone_fee?.toString().toVndCurrency() }}</strong></p>
                                    </ng-container>
                                    <ng-container  *ngIf="!selectedRegion?.city && !isMart">
                                        <p>Giao hàng miễn phí khi mua đơn hàng trên <strong>200.000₫</strong> hoặc trên <strong>300.000₫</strong> tùy theo địa chỉ giao hàng</p>
                                    </ng-container>
                                    <p><a href="/shoppingguide/guide/chinh-sach-van-chuyen/" target="_blank" *ngIf="isMart">Điều kiện giao hàng miễn phí.</a></p>

                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="shipTypeOptions.pickup">
                                <div class="inner">
                                    Nơi nhận hàng - <strong>Trung tâm nhận hàng LOTTE.vn Smart Pick Station: Tầng 3, LOTTE Department Store, 54 Liễu Giai, Ngọc Khánh, Ba Đình, Hà Nội.</strong>
                                    <a href="https://goo.gl/maps/Y4Qqd1T4vCp" target="_blank">Hướng dẫn đường đi</a>
                                </div>
                                <div class="delivery-time">
                                    <p>{{pickupDurationTime?.detail_text}}</p>
                                    <p>Chi phí nhận hàng - <span class="txt">Miễn phí</span>. <span class="red-color">Chỉ chấp nhận thanh toán trả trước.</span></p>
                                    <p>Chính sách giao hàng khi mua sản phẩm tự lấy hàng Smart Pick. <a href="/chinh-sach-giao-hang-smart-pick-department-store/" target="_blank">Chi tiết.</a></p>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="shipTypeOptions.express">
                                <div class="inner">
                                    <!--<ng-container *ngIf="selectedRegion?.city">-->
                                    <!--<span class="txt" *ngIf="(shippingRules$ | async)?.Cost">-->
                                    <!--{{ (expressShippingRules$ | async)?.Cost?.toString()?.toVndCurrency()}}-->
                                    <!--</span>-->
                                    <!--<span class="txt mess-note" *ngIf="!(shippingRules$ | async)?.Cost">-->
                                    <!--Giao nhanh không hỗ trợ-->
                                    <!--</span> - giao đến-->
                                    <!--</ng-container>-->
                                    <!--<ng-container *ngIf="!selectedRegion?.city">-->
                                    <!--Bạn muốn giao đến-->
                                    <!--</ng-container>-->
                                    <span *ngIf="!selectedRegion?.district && !selectedRegion?.ward; else fail_message">Bạn muốn giao đến</span>
                                    <ng-template #fail_message>
                                        <span class="txt mess-note" *ngIf="!(shippingRules$ | async)?.shipable && (shippingRules$ | async)?.fail_message">{{(shippingRules$ | async).fail_message}}</span>
                                    </ng-template>

                                    <ng-container *ngIf="selectedRegion?.city && (shippingRules$ | async)?.shipable">
                                    <span class="price-old" *ngIf="(shippingRules$ | async)?.customer_fee_standard > 0">
                                        {{ ((shippingRules$ | async)?.customer_fee_express > 50000 ?
                                        (shippingRules$ | async)?.customer_fee_express + 50000: (shippingRules$ | async)?.customer_fee_express * 2)
                                        .toString()?.toVndCurrency()}}
                                    </span>
                                        <span class="txt">
                                        <ng-container *ngIf="(shippingRules$ | async)?.customer_fee_standard > 0">
                                            {{ ((shippingRules$ | async)?.customer_fee_express)?.toString()?.toVndCurrency()}}
                                        </ng-container>
                                        <ng-container *ngIf="!(shippingRules$ | async)?.customer_fee_express">
                                            Miễn phí
                                        </ng-container>
                                    </span> - giao đến
                                    </ng-container>
                                    <ng-container *ngIf="!selectedRegion?.city">
                                        Bạn muốn giao đến
                                    </ng-container>
                                    <app-common-fs-shipping-ap-product [product]="curSelected"></app-common-fs-shipping-ap-product>
                                </div>
                                <div>
                                    {{expressDurationTime?.detail_text}}
                                    <div class="tips-wrap"><span class="icon">?</span>
                                        <div class="tips-block">
                                            <div class="tips-content">
                                                <div class="inner">
                                                    Sau 4h chiều từ thứ 2 đến thứ 6, đơn hàng của quý khách sẽ được ưu tiên xử lý vào 8h sáng hôm sau. Thời gian dự kiến nhận hàng là 2 tiếng - 5 tiếng.
                                                    Nếu quý khách đặt hàng sau 12h trưa ngày thứ 7 đến hết ngày Chủ Nhật, đơn hàng sẽ được ưu tiên xử lý vào 8h sáng ngày thứ hai tuần kế tiếp. Thời gian dự kiến giống như trên.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="padding-top: 15px;">
                                    <p>Giảm ngay 50% phí ship cho tất cả đơn hàng từ nhà cung cấp LOTTE MartFresh Food tươi sống (tối đa 50.000đ) từ 5/12/2018 đến 4/11/2019</p>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
                <!--<ng-template #address_picker>-->
                    <!--<div class="area-content" #areaContent [ngClass]="{active: toogleShip}">-->
                        <!--<strong (click)="toogleShip = !toogleShip" *ngIf="selectedRegion?.city">-->
                            <!--{{selectedRegion.city.name}}-->
                            <!--<ng-container *ngIf="selectedRegion?.district?.name">-->
                                <!--{{' - ' + selectedRegion.district.name}}-->
                            <!--</ng-container>-->
                        <!--</strong>-->
                        <!--<strong (click)="toogleShip = !toogleShip"  *ngIf="!selectedRegion?.city">-->
                            <!--Thành phố / Quận huyện-->
                        <!--</strong>-->
                        <!--<div class="address-picker">-->
                            <!--<div class="address-picker-search">-->
                                <!--<input (input)="searchRegion()" [(ngModel)]="keyword" placeholder="Tìm" value="">-->
                            <!--</div>-->
                            <!--<div class="address-picker-selected" *ngIf="tempCity" (click)="tempCity = null">-->
                                <!--{{tempCity.name}}-->
                            <!--</div>-->
                            <!--<div class="address-picker-list">-->
                                <!--<ul>-->
                                    <!--<ng-container *ngIf="!tempCity else district_info">-->
                                        <!--<li *ngFor="let city of regionsSearch" (click)="onChangeLocation(city, false)">{{city.name}}</li>-->
                                    <!--</ng-container>-->
                                    <!--<ng-template #district_info>-->
                                        <!--<li *ngFor="let district of districtsSearch" (click)="onChangeLocation(null, district)">{{district.name}}</li>-->
                                    <!--</ng-template>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</ng-template>-->
                <!--<ng-template #shipping_duration>-->
                    <!--<ng-container *ngIf="productDetail?.mkt_delivery_time === mktDeliveryTime.standard">-->
                        <!--{{ (shippingRules$ | async)?.ship_duration }}-->
                    <!--</ng-container>-->
                    <!--<ng-container *ngIf="productDetail?.mkt_delivery_time && productDetail?.mkt_delivery_time !== mktDeliveryTime.standard">-->
                        <!--{{ productDetail?.mkt_delivery_time }}-->
                    <!--</ng-container>-->
                <!--</ng-template>-->
                <ng-template #sdd_info>
                    <app-common-fs-shipping-sdd-product [vendorInfo]="vendorInfo" [blinkInfo]="getBlinkInfo()"></app-common-fs-shipping-sdd-product>
                </ng-template>

                <div *ngIf="productDetail?.is_evoucher" class="e-voucher-text">
                    <p><strong>Sản phẩm không áp dụng đổi trả hoặc hủy đơn hàng</strong></p>
                    <p><strong>Giao e-voucher</strong> <span>(Nhận ngay mã voucher sau khi thanh toán.)</span></p>
                    <p><span class="red-color">Chỉ chấp nhận thanh toán trả trước.</span></p>
                </div>


                <ng-container *ngIf="productDetail?.gift_messages?.length > 0">
                    <hr class="break-line">
                    <div class="collapse-content">
                        <!--<div class="item">-->
                        <!--<input id="radio_collapse_1" type="checkbox">-->
                        <!--<label for="radio_collapse_1">Dịch vụ gói quà tặng</label>-->
                        <!--<div class="content">-->
                        <!--<div class="gift-box">-->
                        <!--<label class="checked-content">-->
                        <!--<input name="radio_gift_opt" checked="" type="radio">-->
                        <!--<span class="radiobtn"></span>-->
                        <!--<span class="txt">Không chọn</span>-->
                        <!--</label>-->
                        <!--<label class="checked-content">-->
                        <!--<input name="radio_gift_opt" checked="" type="radio">-->
                        <!--<span class="radiobtn"></span>-->
                        <!--<span class="txt">Gói quà miễn phí. <a href="#" target="_blank">Chi tiết</a></span>-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="item">
                            <input id="radio_collapse_2" type="checkbox" checked>
                            <label for="radio_collapse_2">Quà tặng khuyến mãi</label>
                            <div class="content">
                                <div class="product-gifts-lt">
                                    <ul>
                                        <li class="clearfix" *ngFor="let gift of productDetail?.gift_messages">
                                            <div class="img">
                                                <img src="{{gift?.image}}" alt="{{gift?.title}}">
                                                <div class="tooltip-info">
                                                    <div class="tooltip-inner">
                                                        <div class="tooltip-img"><img src="{{gift?.image}}" alt="{{gift?.title}}"></div>
                                                        <p class="noted"><span>i</span>Lưu ý</p>
                                                        <p>{{gift?.note}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info">
                                                <p class="gift-tag"><span>Tặng</span></p>
                                                <div class="txt" [innerHtml]="gift?.description | safeHtml">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </ng-container>
            <ng-template #outOfStock>
                <div class="outofstock-content-lt" [hidden]="curSelected?.stock_qty && !isExpired">
                    <h3 *ngIf="!isExpired">Sản phẩm hiện hết hàng!</h3>
                    <h3 *ngIf="isExpired">Ưu đãi đã kết thúc!</h3>
                    <ng-container *ngIf="!hasRegisteredStockAlert; else registerAlertSuccess">
                        <p>Nhập ngay email để LOTTE.vn nhắc bạn khi có hàng.</p>
                        <form (submit)="registerStockEmail(stockAlertForm)" #stockAlertForm="ngForm" novalidate>
                            <div class="form-row-lt full-border-lt">
                                <div class="form-col form-col-full">
                                    <label class="form-label active" [ngClass]="{'active': email.focus || email.value, 'focus-lt':email.focus, 'error-lt': email.invalid && (email.dirty || email.touched || stockAlertForm.submitted) && email?.errors.required}">
                                        <span class="form-text">E-mail <span>*</span></span>
                                        <input name="email" type="email" #email="ngModel" [(ngModel)]="stockAlertEmail" [pattern]="REGEX_EMAIL"
                                               class="input-text form-input" (blur)="email.focus = false" (focus)="email.focus = true" required>
                                    </label>
                                    <div for="email" *ngIf="email.invalid && (email.dirty || email.touched) && email?.errors.required" class="mage-error">Vui lòng nhập đúng email</div>
                                    <div class="mage-error" for="email" *ngIf="email.invalid && (email.dirty || email.touched) && email?.errors.pattern">
                                        Vui lòng nhập 1 địa chỉ email hợp lệ (Ví dụ: johndoe@domain.com).
                                    </div>
                                </div>
                            </div>

                            <p class="btn-type">
                                <button class="button-bg" type="submit" title="Gửi">Gửi</button>
                            </p>
                        </form>
                    </ng-container>
                    <ng-template #registerAlertSuccess>
                        <div class="form-message mage-success">{{ registerAlertSuccessMessage }}</div>
                    </ng-template>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="evoucher-detail" [ngClass]="{'hide-content': isVoucherReadMore}" #voucherDetail>
        <div class="content clearfix">
            <div class="left-info" *ngIf="productDetail?.company_intro">
                <h3>Đặc điểm nổi bật</h3>
                <div [innerHtml]="productDetail.company_intro | safeHtml"></div>
                <!--<ul>-->
                    <!--<li>Hotpot Story là chuỗi nhà hàng buffet lẩu Thái – Nhật – Hàn phục vụ các loại lẩu đặc trưng từ các nước khác nhau trên thế giới mang tinh hoa Lẩu Quốc Tế đến với thực khách Việt Nam.</li>-->
                    <!--<li>Hotpot Story được phát triển bởi Công ty Redsun ITI (Công ty sở hữu các thương hiệu ẩm thực nổi tiếng trong nước và quốc tế như King BBQ, King BBQ Buffet, Tasaki BBQ, ThaiExpress, Seoul Garden...).</li>-->
                    <!--<li>Thực đơn của Hotpot vô cùng phong phú với 8 vị lẩu tinh túy từ Thái Lan, Nhật Bản, Hàn Quốc, Trung Hoa bao gồm: nước lẩu thảo dược, nước lẩu Bulgogi, nước lẩu shabu, nước lẩu tomyum cay, lẩu tomyum không cay, nước lẩu Tứ Xuyên, nước lẩu Suki, lẩu đậu nành, lẩu miso.</li>-->
                    <!--<li>Hotpot Story được phát triển bởi Công ty Redsun ITI (Công ty sở hữu các thương hiệu ẩm thực nổi tiếng trong nước và quốc tế như King BBQ, King BBQ Buffet, Tasaki BBQ, ThaiExpress, Seoul Garden...).</li>-->
                    <!--<li>Thực đơn của Hotpot vô cùng phong phú với 8 vị lẩu tinh túy từ Thái Lan, Nhật Bản, Hàn Quốc, Trung Hoa bao gồm: nước lẩu thảo dược, nước lẩu Bulgogi, nước lẩu shabu, nước lẩu tomyum cay, lẩu tomyum không cay, nước lẩu Tứ Xuyên, nước lẩu Suki, lẩu đậu nành, lẩu miso.</li>-->
                <!--</ul>-->
            </div>
            <div class="right-info" *ngIf="productDetail?.usage_condition">
                <h3>Điều kiện sử dụng</h3>
                <p class="date-expired" *ngIf="productDetail?.valid_to">Hạn sử dụng: {{productDetail?.valid_to | date:'dd/MM/yyyy'}}</p>
                <div [innerHtml]="productDetail.usage_condition | safeHtml"></div>
                <!--<ul>-->
                    <!--<li>Thanh toán online nhận ngay voucher điện tử.</li>-->
                    <!--<li>Thanh toán trả sau (COD) nhận voucher điện tử: MIỄN PHÍ.</li>-->
                    <!--<li>Thanh toán trả sau nhận voucher giấy miễn phí cho đơn hàng từ 150.000vnđ trở lên, đơn hàng dưới 150.000vnđ thu phí giao hàng 9.000vnđ.</li>-->
                    <!--<li>Hotpot Story được phát triển bởi Công ty Redsun ITI (Công ty sở hữu các thương hiệu ẩm thực nổi tiếng trong nước và quốc tế như King BBQ, King BBQ Buffet, Tasaki BBQ, ThaiExpress, Seoul Garden...).</li>-->
                    <!--<li>Thực đơn của Hotpot vô cùng phong phú với 8 vị lẩu tinh túy từ Thái Lan, Nhật Bản, Hàn Quốc, Trung Hoa bao gồm: nước lẩu thảo dược, nước lẩu Bulgogi, nước lẩu shabu, nước lẩu tomyum cay, lẩu tomyum không cay, nước lẩu Tứ Xuyên, nước lẩu Suki, lẩu đậu nành, lẩu miso.</li>-->
                <!--</ul>-->
            </div>
        </div>
        <a class="readmore-bottom-lt" (click)="isVoucherReadMore = false"><span>Xem thêm</span></a>
    </div>

    <div class="area-list-applied " *ngIf="vendorInfo?.stores?.length > 0">
        <h3>Khu vực áp dụng</h3>
        <!--<div class="sort-text"><p>Hệ thống biệt thự tại Vinpearl Golf Land Resort &amp; Villa Nha Trang 5* đặc biệt phù hợp đối với các du khách đang tìm kiếm sự riêng tư, thoải mái như ở nhà cùng không gian nghỉ dưỡng đẳng cấp. Mỗi căn biệt thự đều có khu vực hồ bơi riêng; nhà bếp và khu vực ăn uống với đầu đủ các thiết bị cần thiết; khu vực sinh hoạt rộng rãi với ghế sofa, salon và TV HD, ban công với ghế ngồi thoải mái cùng danh sách gối nằm tiện lợi,...</p></div>-->
        <div class="content clearfix">
            <div class="address-list">
                <ul>
                    <li *ngFor="let store of vendorInfo?.stores;"
                        [ngClass]="{current: locationSelected === store.id}"
                        (click)="locationSelected = store.id"
                    >
                        <div class="item">
                            <p>{{store.name}}</p>
                            <p *ngIf="store?.address">{{store.address}}</p>
                            <p *ngIf="store?.phone">Điện thoại: {{store.phone}}</p>
                        </div>
                    </li>
                    <!--<li [ngClass]="{current: locationSelected === 0}" (click)="locationSelected = 0">-->
                        <!--<div class="item">-->
                            <!--<p>Hotpot Story Vincom Phan Văn Trị</p>-->
                            <!--<p>12 Phan Văn Trị, P.7, Quận Gò Vấp TP.HCM</p>-->
                            <!--<p>Điện thoại: (028) 3588. 8978</p>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li [ngClass]="{current: locationSelected === 1}" (click)="locationSelected = 1">-->
                        <!--<div class="item">-->
                            <!--<p>Hotpot Story Vincom Quận 7</p>-->
                            <!--<p>12 Tân Trào, phường Tân Phú, Quận 7 TP.HCM</p>-->
                            <!--<p>Điện thoại: (028) 3588. 8978</p>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
            <div class="map">
                <ng-container *ngFor="let store of vendorInfo?.stores;">
                    <iframe *ngIf="locationSelected === store.id" (click)="locationSelected = store.id"
                            [src]="'https://maps.google.com/maps?q='+ store?.address + '&t=&z=17&ie=UTF8&iwloc=&output=embed' | safeResourceHtml"
                            width="566" height="360" frameborder="0" style="border:0" allowfullscreen="">
                    </iframe>
                    <!--<iframe *ngIf="locationSelected === 1" [src]="'https://maps.google.com/maps?q=12 Tân Trào, phường Tân Phú, Quận 7 TP.HCM&t=&z=17&ie=UTF8&iwloc=&output=embed' | safeResourceHtml" width="566" height="360" frameborder="0" style="border:0" allowfullscreen=""></iframe>-->
                </ng-container>
            </div>
        </div>
    </div>
    <!-- seller info -->
    <div class="seller-info-block" *ngIf="vendorInfo">
        <ul>
            <li>
                <p>Được cung cấp bởi</p>
                <p class="seller-name">{{vendorInfo.name}}</p>
            </li>
            <li>
                <p>Sản phẩm hiện có</p>
                <p class="info-type">{{vendorInfo.product_count}} sản phẩm</p>
            </li>
            <li>
                <p>Thời gian tham gia</p>
                <p class="info-type">{{vendorInfo.joined_time}} tháng trên LOTTE.vn</p>
            </li>
            <li>
                <a href="{{vendorInfo.url}}" class="button-bg" title="Xem shop">Xem shop</a>
            </li>
        </ul>
    </div>
    <!-- end seller info -->
    <div class="banner-detail-block" *ngIf="isMart">
        <a href="/campaign/lotte-omni" target="_blank"><img src="https://cdn.lotte.vn/media/wysiwyg/static/ui/images/banner-omni.jpg" alt=""></a>
    </div>
    <!-- tab content -->
    <div class="product-detail-tabs">
        <div class="inner">
            <ul>
                <li [ngClass]="{current: curTab === 'info'}" (click)="scrollToTab()">Thông tin sản phẩm</li>
                <li [ngClass]="{current: curTab === 'review'}" (click)="scrollToTab('review')">Đánh giá &amp; nhận xét  <span>{{ (reviews$ | async)?.reviews ? '( ' + (reviews$ | async)?.reviews.length + ' )' : ''}}</span></li>
                <!--<li>Product Q &amp; A ( <span>14</span> )</li>-->
            </ul>
        </div>
    </div>
    <!-- end tab content -->

    <div class="product-attributes">
        <meta itemprop="sku" content="{{productDetail?.sku}}" />
        <div class="product-model"><ng-container *ngIf="productDetail?.sku">Mã SKU: {{productDetail?.sku}}</ng-container></div>
        <ng-container *ngIf="productDetail?.custom_attributes?.length > 0">
            <h3>Thông số sản phẩm</h3>
            <table cellpadding="0" cellspacing="0" width="100%" class="tbl-product-attribute-specs">
                <tbody>
                    <tr *ngFor="let attribute of productDetail?.custom_attributes">
                        <th>{{attribute.label}}</th>
                        <td *ngIf="attribute.is_html_allowed" [innerHtml]="attribute.value"></td>
                        <td *ngIf="!attribute.is_html_allowed">{{attribute.value}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </div>
    <div class="product-data-description" #detailDescription [ngClass]="{'hide-content': isReadMore}">
        <div style="display: none;" [innerHtml]="productDetail?.short_description" itemprop="disambiguatingDescription"></div>
        <div class="title">Thông tin sản phẩm</div>
        <div [innerHtml]="productDetail?.description" itemprop="description"></div>
        <a class="readmore-bottom-lt" (click)="isReadMore = false"><span>Xem thêm</span></a>
    </div>

    <!-- review -->
    <app-fs-product-review></app-fs-product-review>
    <!-- end review -->
</div>
