<div class="main-content">
    <div class="content-wrapper">
        <section class="input-validation">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">  
                            <h4 class="card-title">Cập nhật bệnh nhân
                                    <a routerLink="/benh-nhan" class="btn btn-raised btn-success round btn-min-width mr-1 mb-1 float-right">Trở về</a>
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="card-block">
                                <form class="form-horizontal" #loginForm="ngForm" (ngSubmit)="update(loginForm)" id="loginForm" novalidate>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-group">
                                                <h5>Họ tên<span class="required">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" name="name" [(ngModel)]="patient.name" #name="ngModel" ngModel
                                                     class="form-control" required data-validation-required-message="Vui lòng nhập họ tên">
                                                </div>
                                            </div>
                                           
                                            <div class="form-group">
                                                <h5>Địa chỉ<span class="required">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" name="address" [(ngModel)]="patient.address" #address="ngModel" ngModel class="form-control" required data-validation-required-message="Vui lòng nhập địa chỉ">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <h5>Ngày sinh <span class="required">*</span></h5>
                                                <div class="input-group">
                                             
                                                  <input type="text" name="birthday" [(ngModel)]="birthdaySet" #birthday="ngModel" ngModel (click)="selectDateTime()" class="form-control pickadate" placeholder="Chọn ngày sinh" />
                                                </div>
                                              </div>
                       

                                            <div class="form-group">
                                                <h5>Tiền căn <span class="required">*</span></h5>
                                                <div class="controls">
                                                    <textarea name="diagnosis" id="diagnosis"
                                                    [(ngModel)]="patient.diagnosis" #diagnosis="ngModel" ngModel class="form-control"  placeholder="Tiền căn" aria-invalid="false"></textarea>
                                                <div class="help-block"></div></div>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-group">
                                                <h5>Số điện thoại<span class="required">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" name="phone" [(ngModel)]="patient.phone" #phone="ngModel" ngModel class="form-control" 
                                                    required data-validation-containsnumber-regex="(\d)+" data-validation-containsnumber-message="Vui lòng nhập số">
                                                  </div>
                                            </div>
                                            <div class="form-group">
                                                <h5>Cân nặng<span class="required">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" name="weight" 
                                                    [(ngModel)]="patient.weight" #weight="ngModel" ngModel class="form-control" required data-validation-required-message="Vui lòng nhập cân nặng">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <h5>Giới tính <span class="required">*</span></h5>
                                                <div class="controls">
                                                    <select name="sex" id="sex" #sex="ngModel" ngModel [(ngModel)]="patient.sex" required class="form-control role-name">
                                                        <option [ngValue]="1">Nam</option>
                                                        <option [ngValue]="2">Nữ</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="text-right">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
  </div>