<div class="voucher-code-block">
        <div class="voucher-code">
            <div class="form-row-lt">
                <form ngForm #couponForm="ngForm" (submit)="applyCoupon()" >
                    <button class="button-bg" type="submit" [disabled]="!couponCode" *ngIf="!hasCoupon">Áp dụng</button>
                    <button class="button-bg" type="button" (click)="removeCoupon()" *ngIf="hasCoupon">Hủy bỏ</button>
                    <label class="form-label" [ngClass]="{'active focus-lt': coupon.focus || coupon.value , 'error-lt' : couponErrorMessage != null }">
                        <span class="form-text">Mã giảm giá</span>
                            <input maxlength="50" name="coupon" #coupon="ngModel" type="text" [(ngModel)]="couponCode" [readonly]="hasCoupon"
                                (focus)="coupon.focus = true" (blur)="coupon.focus = false" class="input-text"
                            >
                    </label>
                    <div class="mage-error" *ngIf="couponErrorMessage != null">{{ couponErrorMessage }}</div>
                    <div class="mage-success" *ngIf="couponCode != null && couponCode?.length > 0 && hasCoupon  ">Áp dụng mã thành công</div>
                </form>
            </div>
        </div>
        <div class="lpoint-code" *ngIf="(authIsLoggedIn$ | async) && !inLpointCampaign">
            <div class="lpoint-info">
                <label class="checked-content">
                    L.POINT
                    <input type="checkbox" name="useLPoint" [(ngModel)]="useLPoint" (change)="checkLpoint()" id="lt-checkout-sidebar__discount--lpoint">
                    <span class="checkmark"></span>
                </label>
                <span class="txt">khả dụng: {{ customerLPoint?.toString().toVndCurrency()}}</span>
            </div>
            <div class="form-row-lt">
                <form ngForm #lpointForm="ngForm" novalidate >
                    <button class="button-bg" type="button" (click)="updateLPoint()" *ngIf="!hasLPoint" [disabled]="!useLPoint || customerLPoint <= 0">Áp dụng</button>
                    <button class="button-bg" type="button" (click)="removeLPoint()" *ngIf="hasLPoint">Hủy bỏ</button>
                    <label class="form-label">
                        <input type="number" maxlength="15" name="lpointInput" #lpointInput="ngModel" [(ngModel)]="lpoint"
                            [readonly]="!useLPoint || customerLPoint <= minLpoint" required class="input-text">
                    </label>
                    <div class="mage-error" *ngIf="errorLpointMessage != null && !hasLPoint">{{ errorLpointMessage }}</div>
                    <div class="mage-success" *ngIf="useLPoint  && customerLPoint > 0 && hasLPoint  ">Áp dụng Lpoint thành công</div>
                </form>
            </div>
        </div>
    </div>
    <div class="cart-right-info">
        <div class="content">
            <div class="aside-head">
                <a (click)="backToPreviousStep()" class="btn-edit1">Chỉnh sửa</a>
                <h3>{{ uid=='payment' ? 'Giao đến' : 'Thông tin đơn hàng' }}  </h3>
            </div>
            <ng-container *ngIf="shippingAddress && uid=='payment'">
                <div class="delivery-to" >
                    <p class="customer-name">{{ shippingAddress?.firstname + ' ' + shippingAddress?.lastname }}</p>
                    <p>{{ shippingAddress?.telephone }} - {{ shippingAddress?.extension_attributes.email_address }}</p>
                    <p>{{ shippingAddress?.street[0] + ', ' + shippingAddress?._ward?.name + ', ' + shippingAddress?._district?.name
                        + ', ' + shippingAddress?._city?.name }}</p>
                </div>
                <div class="aside-head">
                    <h3>Thông tin đơn hàng</h3>
                </div>
            </ng-container>

            <div class="cart-list-content">
                <div class="inner">
                    <ng-container *ngFor="let vendor of cartVendors?.by_group">
                        <div class="group-head">
                            <div class="seller-name">{{ vendor.vendor_name}}</div>
                            <div class="deli-info" [ngClass]="{'note-type mess-text': !vendor.vendor_shippable}">
                                <ng-container *ngIf="!vendor?.pickupInfo?.isActive">
                                    <ng-container [ngSwitch]="vendor.shipping_type">
                                        <ng-container *ngSwitchCase="shipTypeOptions.standard">
                                            {{ vendor?.standard?.customer_fee == 0 ? 'Miễn Phí vận chuyển' : 'Phí vận chuyển ' + vendor?.standard?.customer_fee?.toString().toVndCurrency()}} -
                                            {{ vendor.shipping_name}} - {{vendor?.standard?.duration_standard}}
                                            <a *ngIf="!vendor.vendor_shippable" target="_blank" href="/shoppingguide/seller/chinh-sach-van-chuyen{{ vendor.vendor_path }}">Tìm hiểu lý do</a>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="shipTypeOptions.lvs">
                                            {{ vendor?.standard?.customer_fee == 0 ? 'Miễn Phí vận chuyển' : 'Phí vận chuyển ' + vendor?.standard?.customer_fee?.toString().toVndCurrency()}}
                                            - Giao e-voucher
                                        </ng-container>
                                        <ng-container *ngSwitchCase="shipTypeOptions.express">
                                            <ng-container *ngIf="vendor.express.vendor_shippable">
                                                {{ vendor?.express.customer_fee == 0 ? 'Miễn Phí vận chuyển' : 'Phí vận chuyển ' + vendor?.express?.customer_fee.toString().toVndCurrency()}} -
                                                {{vendorShippingTypeMgr?.getShippingDuration()?.cart_text}}
                                            </ng-container>
                                            <ng-container *ngIf="!vendor.express.vendor_shippable">
                                                {{vendor?.express?.fail_message}}
                                                <a target="_blank" href="/shoppingguide/seller/chinh-sach-van-chuyen{{ vendor.vendor_path }}">Tìm hiểu lý do</a>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="vendor?.pickupInfo?.isActive">
                                    <span class="txt">Nhận tại cửa hàng - {{vendorPickupMgr.getShippingDuration()?.cart_text}}</span>
                                </ng-container>
                            </div>
                        </div>
                        <ng-container *ngFor="let item of vendor?.products">
                            <div class="cart-item">
                                <div class="field-img">
                                    <img src="{{item.thumbnail}}" alt="" height="42" width="32">
                                    <!-- <a href="{{item.product_path}}"><img src="{{item.thumbnail}}" alt="" height="42" width="32"></a> -->
                                </div>
                                <div class="field-content">
                                    <div class="field-name">
                                        {{item.name}}
                                        <!-- <a href="{{item.product_path}}">{{item.name}}</a> -->
                                    </div>
                                    <div class="gift-block" *ngIf="item?.extension_attributes?.vec_gift_message !== 'false'">
                                        <span class="gift-text">Quà tặng</span>
                                        <div class="tips-block">
                                            <div class="tips-content">
                                                <div class="inner" *ngFor="let gift of parseGifts(item.extension_attributes?.vec_gift_message)" [innerHTML]="gift?.description"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field-price">
                                    <span class="text">{{item.row_total?.toString().toVndCurrency()}}</span>
                                    <span class="qty">x{{item.qty}}</span>
                                </div>
                            </div>

                        </ng-container>
                    </ng-container>
                </div>
            </div>

            <div class="cart-total-content">
                <div class="info-row">
                    <span class="lbl-text">Tổng cộng</span>
                    <span class="lbl-number">{{cartTotal?.subtotal?.toString().toVndCurrency()}}</span>
                </div>
                <div class="info-row">
                    <span class="lbl-text">Phí giao hàng {{ currentStep == 3 ? '' : '(tạm tính)' }} </span>
                    <span class="lbl-number">{{ shippingFee?.toString() === '0' ? 'Miễn Phí' : '+' + shippingFee?.toString()?.toVndCurrency()}}</span>
                </div>
                <div class="info-row" *ngIf="(-cartTotal?.base_discount_amount) > 0">
                    <span class="lbl-text">Giảm giá {{ couponCode?.length > 0 && hasCoupon ?  '(' + couponCode + ')' : '' }}</span>
                    <span class="lbl-number">{{ '-' + (-cartTotal?.base_discount_amount)?.toString()?.toVndCurrency() }}</span>
                </div>
                <div class="info-row" *ngIf="appliedLPoint && (authIsLoggedIn$ | async)">
                    <span class="lbl-text">L.POINT</span>
                    <span class="lbl-number">{{ (appliedLPoint) | number:'1.0-0' }} ₫</span>
                </div>
                <div class="info-row total">
                    <span class="lbl-text">Thanh toán</span>
                    <span class="lbl-number">{{ (cartTotal?.grand_total - cartTotal?.shipping_amount + shippingFee)?.toString()?.toVndCurrency()}}</span>
                </div>
            </div>

            <p class="btn-type" >
                <button (click)="onClickSubmit()" class="button-bg" type="button">
                    {{ currentStep < 3 ?  'Tiếp Tục' : 'Tiến hành thanh toán'}}
                </button>
            </p>
            <p *ngIf="currentStep === 3" class="terms">Bằng việc nhấn vào nút Tiến hành thanh toán, Quý khách cam kết đồng ý với: <a href="/customer_service/" target="_blank">Chính sách</a>, <a href="/dieu-kien-va-dieu-khoan" target="_blank">Điều khoản & Điều kiện</a> mua hàng và sử dụng dịch vụ trên website LOTTE.vn</p>
        </div>
    </div>
