<div class="column">
    <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm)" autocomplete="off" id="form-validate" class="form password reset"
        novalidate="novalidate">
        <fieldset class="fieldset" data-hasrequired="* Phần bắt buộc">
            <div class="field note">Vui lòng nhập mật khẩu mới</div>
            <div class="field password required">
                <label class="label" for="password">
                    <b>
                        <span>Mật khẩu mới</span>
                    </b>
                </label>
                <div class="control">
                    <input [ngClass]="{'mage-error': password.invalid && (password.touched || password.dirty || resetPasswordForm.submitted)}" #password="ngModel"
                        [pattern]="appConstants.REGEX.PASSWORD" ngModel placeholder="Mật khẩu từ 6-20 ký tự, bao gồm cả chữ &amp; số"
                        type="password" class="input-text" name="password" id="password" autocomplete="off" minlength="6" maxlength="20"
                        required>
                    <div for="password" *ngIf="password.invalid && (password.touched || password.dirty || resetPasswordForm.submitted) && password.errors.required"
                        class="mage-error">Vui lòng nhập dữ liệu.
                    </div>

                    <div for="password" *ngIf="password.invalid && (password.touched || password.dirty || resetPasswordForm.submitted) && password.errors.minlength"
                        class="mage-error">Vui lòng nhập ít nhất 6 ký tự.
                    </div>

                    <div for="password" *ngIf="password.invalid && (password.touched || password.dirty || resetPasswordForm.submitted) && (password.errors.pattern && !password.errors.minlength)"
                        class="mage-error register-err msg-error">Mật khẩu phải bao gồm cả số lẫn chữ.
                    </div>
                </div>
            </div>
            <div class="field confirmation required">
                <label class="label" for="password-confirmation">
                    <b>
                        <span>Xác nhận mật khẩu</span>
                    </b>
                </label>
                <div class="control">
                    <input [ngClass]="{'mage-error': passwordRetype.invalid && (passwordRetype.touched || passwordRetype.dirty || resetPasswordForm.submitted)}"
                        #passwordRetype="ngModel" ngModel placeholder="Nhập lại mật khẩu" type="password" class="input-text"
                        name="password_confirmation" id="password-confirmation" autocomplete="off" maxlength="20" required validateEqual="password">

                    <div for="passwordRetype" *ngIf="passwordRetype.invalid && !passwordRetype.errors.required && (passwordRetype.touched || passwordRetype.dirty || resetPasswordForm.submitted)"
                        class="mage-error">Thông tin không trùng khớp, bạn vui lòng nhập lại.
                    </div>

                    <div for="passwordRetype" *ngIf="passwordRetype.invalid && passwordRetype.errors.required && (passwordRetype.touched || passwordRetype.dirty || resetPasswordForm.submitted)"
                        class="mage-error">Vui lòng nhập dữ liệu.
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar">
            <div>
                <button type="submit" class="action submit primary large">
                    <span>Thiết lập mật khẩu mới</span>
                </button>
            </div>
        </div>
    </form>
</div>