<section class="page-title-lt">
    <div class="container-lt">
        <h1><a href="/style-feed">Style feed</a></h1>
        <ul class="feed-nav">
            <ng-container *ngFor="let menuItem of menuItems">
                    <li [ngClass]="{'active': 'ALL' == menuItem.label}" >
                        <a href="{{ menuItem.url }}">#{{ menuItem.label }}</a>
                        <div class="inner">
                            <div class="content" [innerHTML]="loadMenuInner(menuItem.label)"></div>
                        </div>
                    </li>
            </ng-container>
        </ul>
    </div>
</section>
