<section id="content">
  <!--start container-->
  <div class="container">

    
    <!--card widgets start-->
    <div id="card-widgets">
      <div class="row">
        <div class="col s12 m4">
          <ul id="task-card" class="collection with-header">
            <li class="collection-header teal accent-4">
              <h4 class="task-card-title">{{patient?.name}}</h4>
              <p class="task-card-date">{{patient?.birthday.substring(0, 10)}}</p>
            </li>
            <ng-container *ngIf="bills.length > 0;else noBills;">
              <li class="collection-item dismissable" *ngFor="let bill of bills">
                <input type="checkbox" id="task{{bill.id}}" />
                <label for="task{{bill.id}}">{{bill?.symptom}}
                  <a href="#" class="secondary-content">
                    <span class="ultra-small">{{bill?.billdate.substring(0, 10)}}</span>
                  </a>
                </label>
                <span class="task-cat cyan">Bác sỹ: {{bill?.doctor?.fullname}}</span>
              </li>
            </ng-container>
           <ng-template #noBills>
            <p>No bills</p>
           </ng-template>
            
          </ul>
        </div>
      
        <div class="col s12 m8">
          <ul id="projects-collection" class="collection z-depth-1">
            <li class="collection-item avatar">
              <i class="material-icons cyan circle">card_travel</i>
              <h6 class="collection-header m-0">Projects</h6>
              <p>Your Favorites</p>
            </li>
            <li class="collection-item">
              <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <!-- <i class="material-icons prefix">perm_identity</i> -->
                            <input type="text" name="symptom" id="symptom" autocomplete="off" class="validate" value="{{billDetail?.symptom}}">
                            <label for="symptom" class="active">Triệu chứng</label>
                            <span class="helper-text" data-error="wrong" data-success="right"></span>
                        </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                          <!-- <i class="material-icons prefix">perm_identity</i> -->
                          <input type="text" name="diagnosis" id="diagnosis" autocomplete="off" class="validate" value="{{billDetail?.diagnosis?.name}}">
                          <label for="diagnosis" class="active">Chẩn đoán chính</label>
                          <span class="helper-text" data-error="wrong" data-success="right"></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                          <!-- <i class="material-icons prefix">perm_identity</i> -->
                          <input type="text" name="diagnosis" id="subdiagnosis" autocomplete="off" class="validate" value="{{billDetail?.subdiagnosis || 'Không có'}}">
                          <label for="subdiagnosis" class="active">Chẩn đoán phụ</label>
                          <span class="helper-text" data-error="wrong" data-success="right"></span>
                      </div>
                    </div>
            
                
                </form>
            </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--card widgets end-->
    
 
    
    <!-- //////////////////////////////////////////////////////////////////////////// -->
  </div>
  <!--end container-->
</section>