<div class="modal-lt fade-lt show-lt" style="display: block;">
    <div class="lotteria-options-popup">
        <div class="modal-dialog-lt">
            <div class="modal-content-lt">
                <div class="modal-body">
                    <button type="button" class="close" (click)="closeModal()">
                        <span>×</span>
                    </button>
                    <div class="lotteria-content">
                        <div class="product-content clearfix">
                            <div class="field-img">
                                <img src="{{product.image_url}}" alt="{{product.name}}">
                            </div>
                            <div class="info">
                                <div class="field-name">{{product.name}}</div>
                                <div class="sort-desc" [innerHtml]="product?.short_description"></div>
                                <div class="field-qty">SL: {{addedQty}} phần</div>
                                <div class="field-price">
                                    <span class="old-price" *ngIf="curSelected?.price?.VND?.default !== curSelected?.price?.VND?.price">{{curSelected?.price?.VND?.price_formated}}</span>
                                    <span class="current-price">{{curSelected?.price?.VND?.default_formated}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="options-list">
                            <ng-container *ngFor="let attribute of configurableAttributes | array_sort:'position'">
                                <h4><strong>{{attribute.name}}</strong></h4>
                                <ng-container *ngFor="let data of attribute?.values | arrange2Item1Line">
                                    <ul class="clearfix">
                                        <li *ngFor="let value of data;let idx = index">
                                            <label class="checked-content">
                                                {{value}}
                                                <input name="radio_opt_{{attribute.attr_id}}" type="radio" [value]="value" [(ngModel)]="curSelected[attribute.attr_id]" (click)="selectOption(attribute, value)">
                                                <span class="radiobtn"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </ng-container>
                            </ng-container>
                            <!--<h4><span>*Bắt buộc chọn 1 loại</span><strong>Mức đường</strong></h4>-->
                        </div>
                        <div class="product-footer clearfix">
                            <div class="left-footer">
                                <div class="field-qty-col clearfix">
                                    <button class="btn-minute" type="button" (click)="changeQty(-1)"><span>-</span></button>
                                    <input type="number" [(ngModel)]="addedQty" maxlength="2" min="1" (keyup)="validateProductQty($event)">
                                    <button class="btn-plus" type="button" (click)="changeQty(1)"><span>+</span></button>
                                </div>
                            </div>
                            <div class="right-footer">
                                <div class="total">Tạm tính: {{(addedQty * curSelected?.price?.VND?.default).toString().toVndCurrency()}}</div>
                                <button class="btn-addtocard" (click)="addToCart()"><span>Thêm vào giỏ hàng</span></button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop-lt fade-lt show-lt"></div>