<div class="review-content-lt">
    <h2>Đánh giá &amp; nhận xét {{ (reviews$ | async)?.reviews ? '(' + (reviews$ | async)?.reviews.length + ')' : ''}}</h2>
    <p class="head-txt" *ngIf="!isFormShown">Xin vui lòng chia sẻ đánh giá của bạn về sản phẩm này
        <a class="button-bg" title="Gửi đánh giá" (click)="isFormShown = true">Gửi đánh giá</a>
    </p>
    <div class="review-form-block-lt" *ngIf="isFormShown">
        <form #reviewForm="ngForm" (ngSubmit)="submitReview(reviewForm)" novalidate>
            <div class="review-rating-lt">
                <h3>Nhận xét về sản phẩm</h3>
                <div class="product-rating-type-lt clearfix">
                    <bar-rating [(rate)]="newReview.validate_rating" [theme]="'default'" [max]="5"></bar-rating>
                </div>
                <p class="note" [ngClass]="{'msg-error-lt': reviewForm.submitted && !newReview.validate_rating}">Vui lòng chấm sao cho sản phẩm</p>
            </div>
            <div class="review-rating-form-lt">
                <div class="form-row-lt full-border-lt">
                    <div class="form-col">
                        <label class="form-label" [ngClass]="{'active': nickname.focus || nickname.value, 'focus-lt': nickname.focus, 'error-lt': nickname.invalid && (nickname.touched || nickname.dirty || reviewForm.submitted)}">
                            <span class="form-text">Tên hiển thị <span>*</span></span>
                            <input type="text" name="nickname" #nickname="ngModel" [(ngModel)]="newReview.nickname"
                                   class="input-text form-input" (focus)="nickname.focus = true" (blur)="nickname.focus = false" required>
                        </label>
                        <div class="mage-error" for="nickname" *ngIf="nickname.invalid && (nickname.touched || nickname.dirty || reviewForm.submitted)">Vui lòng nhập dữ liệu</div>
                    </div>
                    <div class="form-col">
                        <label class="form-label active" [ngClass]="{'active': email.focus || email.value, 'focus-lt':email.focus, 'error-lt': email.invalid && (email.dirty || email.touched || reviewForm.submitted) && email?.errors.required}">
                            <span class="form-text">E-mail <span>*</span></span>
                            <input name="email" type="email" #email="ngModel" [(ngModel)]="newReview.email" [pattern]="REGEX_EMAIL"
                                   class="input-text form-input" (blur)="email.focus = false" (focus)="email.focus = true" required>
                        </label>
                        <div for="email" *ngIf="email.invalid && (email.dirty || email.touched) && email?.errors.required" class="mage-error">Vui lòng nhập đúng email</div>
                        <div class="mage-error" for="email" *ngIf="email.invalid && (email.dirty || email.touched) && email?.errors.pattern">
                            Vui lòng nhập 1 địa chỉ email hợp lệ (Ví dụ: johndoe@domain.com).
                        </div>
                    </div>
                    <div class="form-col">
                        <label class="form-label active" [ngClass]="{'active focus-lt': phone.focus || phone.value}">
                            <span class="form-text">Số điện thoại (không bắt buộc)</span>
                            <input class="input-text form-input" (blur)="phone.focus = false" (focus)="phone.focus = true" name="phone" maxlength="11" type="number" #phone="ngModel" [(ngModel)]="newReview.phone">
                        </label>
                    </div>
                </div>
                <div class="form-row-lt full-border-lt">
                    <div class="form-col form-col-full">
                        <label class="form-label active" [ngClass]="{'active': detail.focus || detail.value,'focus-lt': detail.focus, 'error-lt':detail.invalid && (detail.touched || detail.dirty || reviewForm.submitted)}">
                            <span class="form-text">Nhận xét <span>*</span></span>
                            <textarea class="input-text form-input" cols="5" name="detail" rows="3" (blur)="detail.focus = false" (focus)="detail.focus = true" #detail="ngModel" [(ngModel)]="newReview.detail" required></textarea>
                        </label>
                        <div class="mage-error" for="detail" *ngIf="detail.invalid && (detail.touched || detail.dirty || reviewForm.submitted)">Vui lòng nhập dữ liệu</div>
                    </div>
                </div>
                <div class="btn-actons">
                    <button class="button-bg" ><span>Gửi đánh giá</span></button>
                    <span class="btn-term-review"><a (click)="openReviewRulesDialog()">Tiêu chí duyệt nhận xét</a> của LOTTE.vn</span>
                </div>

            </div>
        </form>
    </div>
    <div class="review-content-block-lt" *ngIf="!(reviews$ | async).reviews?.length">
        <span class="icon">&nbsp;</span>
        <p><strong>Hãy lên tiếng, ý kiến của bạn được lắng nghe!</strong></p>
    </div>

    <!-- review list -->
    <div class="review-list-lt" *ngIf="(reviews$ | async).reviews?.length > 0">
        <div class="headline clearfix ">
            <div class="inner" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingCount" content = "{{(reviews$ | async).reviews?.length}}" />
                <meta itemprop="bestRating" content="5" />
                <meta itemprop="worstRating" content="1" />
                <span>Đánh giá về sản phẩm này:</span>
                <div class="score-average" itemprop="ratingValue">{{(reviews$ | async).average_rating}}</div>
                <div class="product-rating-type-lt clearfix">
                    <bar-rating [rate]="(reviews$ | async).average_rating" [readOnly]="true" [max]="5"></bar-rating>
                </div>
                <span>({{(reviews$ | async).reviews?.length}} đánh giá)</span>
            </div>
            <!--<div class="fiter-blocks">-->
                <!--<select class="select">-->
                    <!--<option selected="">Lọc theo</option>-->
                    <!--<option>123</option>-->
                    <!--<option>456</option>-->
                <!--</select>-->
                <!--<select class="select">-->
                    <!--<option selected="">Sắp xếp theo</option>-->
                    <!--<option>123</option>-->
                    <!--<option>456</option>-->
                <!--</select>-->
            <!--</div>-->
        </div>
        <ol class="review-items-lt">
            <li class="item" *ngFor="let review of (reviews$ | async).reviews">
                <div class="review-left-lt">
                    <div class="review-author">{{ review.nickname }}</div>
                    <div class="product-rating-type-lt clearfix">
                        <bar-rating [rate]="review.value" [readOnly]="true" [max]="5"></bar-rating>
                    </div>
                    <p *ngIf="review.customer_buy.toString() !== '0'"><span class="msg-status">Đã mua</span></p>
                </div>
                <div class="review-right-lt">
                    <p class="review-date">{{ review.created_at }}</p>
                    <div class="review-content">
                        <p>{{ review.detail }}</p>
                    </div>
                </div>
            </li>
        </ol>
        <!--<div class="pager-lt">-->
            <!--<ul>-->
                <!--<li class="first"><span>❮❮</span></li>-->
                <!--<li class="previou"><span>❮</span></li>-->
                <!--<li class="current"><span>1</span></li>-->
                <!--<li><span>2</span></li>-->
                <!--<li><span>3</span></li>-->
                <!--<li><span>4</span></li>-->
                <!--<li><span>5</span></li>-->
                <!--<li class="next"><span>❯</span></li>-->
                <!--<li class="last"><span>❯❯</span></li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>



</div>