<div class="content-method">
    <form ngForm #localAtmForm="ngForm">

        <div class="form-row">
            <label for="bank">Ngân hàng</label>
            <div class="inner">
                <select class="input-text"
                        name="bank" id="bank" type="select"
                        [ngClass]="{'mage-error' : (bank.invalid && (bank.touched || bank.dirty || localAtmForm.submitted))}"
                        [pattern]="regexString"
                        [(ngModel)]="selectedPayment.additional_data.local_atm_bank"
                        #bank="ngModel" required>
                    <option value=0>Chọn ngân hàng của bạn</option>
                    <option value="{{bank.value}}" *ngFor="let bank of paymentRules.banks">{{ bank.label }}</option>
                </select>
            </div>
            <div class="mage-error" *ngIf="(bank.invalid) && (bank.touched || bank.dirty || localAtmForm.submitted)" >Vui lòng chọn ngân hàng</div>
        </div>

        <p>Để thực hiện việc thanh toán, thẻ ATM của bạn phải có đăng ký sử dụng dịch vụ Internet Banking.</p>
        <p>Bạn có thể sẽ được chuyển hướng về cổng thanh toán của ngân hàng để hoàn tất thanh toán.</p>

        <p class="noted">Dịch vụ được cung cấp và chứng nhận bởi <span class="icon-bank">VietinBank</span></p>
        <button style="display: none" class="btn-action" id="local_atm_submit" title="Thanh Toán" (click)="placeOrder()" type="submit">Thanh Toán</button>
    </form>
</div>