<!--<div class="message notice">-->
    <!--<div class="inner">-->
        <!--<h3>Rất tiếc, chúng tôi không tìm thấy kết quả cho từ khóa</h3>-->
        <!--<p class="keyword">"<span>{{(searchKeyword$ | async)}}</span>"</p>-->
        <!--<p class="info">Vui lòng kiểm tra chính tả, sử dụng các từ tổng quát hơn và thử lại!</p>-->
        <!--<a id="back-home" class="button primary back-button" title="Quay lại" href="javascript:window.history.back();">Quay lại</a>-->
    <!--</div>-->
<!--</div>-->

<div class="search-result-notfound">
    <h3>Rất tiếc, chúng tôi không tìm thấy kết quả cho từ khóa</h3>
    <p class="keyword">"<span>{{(searchKeyword$ | async)}}</span>"</p>
    <p class="info">Vui lòng kiểm tra chính tả, sử dụng các từ tổng quát hơn và thử lại!</p>
    <a class="button-bg" href="#" title="Quay lại">Quay lại</a>
</div>