<section class="section-breadcrumb lt-breadcumb" *ngIf="breadcrumbs && urlInfo?.type === 'category'">
    <div class="container-v">
        <ul class="content">
            <li class="subcate" *ngFor="let breadcumb of breadcrumbs; let idx = index">
                <a *ngIf="idx > 0" href="category/{{breadcumb.id}}/{{breadcumb.url_key}}" (click)="goToCategoryPage(breadcumb)">{{breadcumb.label}}</a>
                <a *ngIf="idx == 0" href="/" (click)="backToHome()">LOTTE.vn</a>
                <span *ngIf="breadcumb?.categories?.length" class="arrow"></span>

                <div class="subcate-content" *ngIf="breadcumb?.categories?.length">
                    <ul class="inner">
                        <ng-container *ngFor="let cat of breadcumb?.categories">
                            <li [hidden]="cat.id == breadcumb.id">
                                <a href="category/{{cat.id}}/{{cat.url_key}}" (click)="goToCategoryPage(cat)">{{cat.label}}</a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="section-breadcrumb lt-breadcumb" *ngIf="urlInfo?.type === 'brand'">
    <div class="container-v">
        <ul class="content">
            <li class="home">
                <a href="/" (click)="selectStoreLotteVn()">LOTTE.vn</a>
            </li>
            <li class="subcate">
                {{urlInfo?.brand?.name}}
            </li>
        </ul>
    </div>
</section>

<section class="section-breadcrumb lt-breadcumb" *ngIf="urlInfo?.type === 'vendor'">
    <div class="container-v">
        <ul class="content">
            <li class="home">
                <a href="/" (click)="selectStoreLotteVn()">LOTTE.vn</a>
            </li>
            <li class="subcate">
                {{urlInfo?.vendor?.vendor_name}}
            </li>
        </ul>
    </div>
</section>

<section class="section-breadcrumb lt-breadcumb" *ngIf="urlInfo?.type === 'product'">
    <div class="container-v">
        <ul class="content">
            <li class="home">
                <a href="/" (click)="selectStoreLotteVn()">LOTTE.vn</a>
            </li>
            <li class="subcate">
                {{urlInfo?.product?.name}}
            </li>
        </ul>
    </div>
</section>

<section class="section-breadcrumb lt-breadcumb" *ngIf="urlInfo?.type === 'search'">
    <div class="container-v">
        <ul class="content">
            <li class="home">
                <a href="/" (click)="selectStoreLotteVn()">LOTTE.vn</a>
            </li>

            <li class="subcate">
                Kết quả tìm kiếm
            </li>
        </ul>
    </div>
</section>
