<section class="product-filters-wrap">
  <div class="product-filters">
    <div class="container-lt">
      <ul class="filters-group">
        <app-common-fs-product-filter-sort-by></app-common-fs-product-filter-sort-by>
        <ng-container *ngFor="let facet of facetsInfo" [ngSwitch]="facet.attribute_code">
          <!--<app-common-fs-product-filter-category></app-common-fs-product-filter-category>-->
          <!--<app-common-fs-product-filter-brand *ngSwitchCase="'product_brand'"></app-common-fs-product-filter-brand>-->
          <ng-container *ngSwitchCase="'mkt_delivery_time'"></ng-container>
          <app-common-fs-product-filter-price *ngSwitchCase="'price'" [Facet]="facet"></app-common-fs-product-filter-price>
          <app-common-fs-product-filter-vendor *ngSwitchCase="'udropship_vendor'" [Facet]="facet"></app-common-fs-product-filter-vendor>
          <app-common-fs-product-filter-category *ngSwitchCase="'leaf_categories'" [Facet]="facet"></app-common-fs-product-filter-category>
          <app-common-fs-product-filter-dynamic *ngSwitchDefault [Facet]="facet"></app-common-fs-product-filter-dynamic>
          <!--<app-common-fs-product-filter-color></app-common-fs-product-filter-color>-->
          <!--<app-common-fs-product-filter-size></app-common-fs-product-filter-size>-->
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="filters-chosen" *ngIf="(productState | facets)?.length">
    <div class="container-lt">
      <a class="btn-clearall" (click)="resetAllFilter()">Xóa tất cả</a>
      <ul class="items">
        <li *ngFor="let selected of productState | facets; let idx = index" (click)="removeFilter(selected.type, selected)">
          <a class="btn-remove">x</a>
          <span>{{selected.data.name}}</span></li>
      </ul>
    </div>
  </div>
</section>