<div class="modal-lt fade-lt show-lt" style="display: block;">
    <div class="modal-dialog-lt">
        <div class="modal-content-lt">
            <div class="modal-header-lt">
                <h5 class="modal-title">Khu vực giao hàng</h5>
                <button type="button" class="close" (click)="closeModal()">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="area-delivery area-delivery-lot">
                    <p>Nhà cung cấp chỉ giao hàng đến 1 số quận huyện:</p>
                    <p *ngFor="let area of vendorShippingArea">
                        {{area.name}} -
                        <ng-container *ngFor="let district of area.districts;let idx = index">
                            {{district.name}}{{idx < area.districts.length - 1?', ':''}}
                        </ng-container>
                    </p>

                </div>
                <!--<p class="btn-popup-type"><a href="#" class="button-bg">Xem chi tiết</a></p>-->
                <p class="btn-popup-type" (click)="closeModal()"><a class="button-bg">Đóng</a></p>
            </div>
        </div>
    </div>
</div>