<div class="form-inner payment-form" *ngIf="allowMoMo(); else warning">
    <ul class="payment-steps-block">
        <li>
            <img src="https://cdn.lotte.vn/media/wysiwyg/static/ui/cart-page/step-1.jpg" alt="">
            <div class="inner">
                <p>Nhấn <strong>"Tiến hành thanh toán"</strong> để tiếp tục.</p>
                <p>Lưu ý: Chỉ áp dụng cho khách hàng có tài khoản hoặc đã cài đặt ứng dụng MoMo. Hướng dẫn thanh toán qua MoMo. <a href="https://www.lotte.vn/campaign/huong-dan-thanh-toan-momo" target="_blank">Chi tiết</a></p>
            </div>
        </li>

    </ul>
</div>

<button *ngIf="allowMoMo()" class="action primary checkout" type="submit" title="Thanh Toán" (click)='submitPayment()' ></button>

<ng-template #warning>
    <div class="form-inner payment-form">
        <p>MoMo chỉ chấp nhận thanh toán cho đơn hàng từ 1.000đ đến 20.000.000đ </p>
    </div>
</ng-template>
