<form class="use_new_cc_card" ngForm #cardForm="ngForm">
    <div class="visa-form-content">
            <div class="card-left">
                <div class="form-row-lt" >
                    <div class="form-col form-col-full" >
                        <label class="form-label" [ngClass]="{'active focus-lt': number.focus || number.value, 'error-lt': number.invalid && (number.dirty || number.touched) && number?.errors.required }">
                            <span class="form-text">Số thẻ</span>
                            <input type="number" class="input-text"
                                [pattern]="regexCardNumber" name="number" #number="ngModel" [(ngModel)]="card.number" required
                                (focus)="number.focus = true && description=1" (blur)="number.focus = false" cardNoLuhnValidator (change)="cardNoChange()"
                                >
                            <img class="card-icon current" src="https://cdn.lotte.vn/media/wysiwyg/static/ui/cart-page/visa.png" alt="" width="23" height="15">
                            <img class="card-icon" src="https://cdn.lotte.vn/media/wysiwyg/static/ui/cart-page/master.png" alt="" width="23" height="15">
                            <img class="card-icon" src="https://cdn.lotte.vn/media/wysiwyg/static/ui/cart-page/jcb.png" alt="" width="23" height="15">
                        </label>
                        <div *ngIf="cardNoValid && number.invalid && (number.dirty || number.touched)" class="mage-error">Vui lòng nhập số thẻ hợp lệ.</div>
                        <div *ngIf="!cardNoValid && (number.dirty || number.touched)" class="mage-error">Đầu thẻ không được hỗ trợ thanh toán.</div>
                    </div>
                </div>
                <div class="form-row-lt">
                    <div class="form-col form-col-full"  >
                        <label class="form-label" [ngClass]="{'active focus-lt': placeholder.focus || placeholder.value,
                            'error-lt': placeholder.invalid && (placeholder.dirty || placeholder.touched) && placeholder?.errors.required }">
                            <span class="form-text">Tên chủ thẻ</span>
                            <input type="text" class="input-text" name="placeholder" #placeholder="ngModel" [(ngModel)]="card.placeholder" required
                                (focus)="placeholder.focus = true && description=2" (blur)="placeholder.focus = false"
                                >
                        </label>
                        <div *ngIf="placeholder.invalid && (placeholder.dirty || placeholder.touched)" class="mage-error">Vui lòng nhập dữ liệu.</div>
                    </div>
                </div>

                <div class="form-row-lt expiry-date-info">
                    <div class="form-col"  >
                        <label class="form-label" [ngClass]="{'active focus-lt': dated.focus || dated.value, 'error-lt': dated.invalid && (dated.dirty || dated.touched) && dated?.errors.required }">
                            <span class="form-text">Ngày hết hạn</span>
                            <input type="text" class="input-text" name="dated" #dated="ngModel" [(ngModel)]="card.date" required
                                (focus)="dated.focus = true && description=3" (blur)="dated.focus = false"
                                placeholder="MM/YY" expiredDateValidator
                                [textMask]="{mask:mask, guide:true, keepCharPositions:true, pipe: autoCorrectedDatePipe}"
                                >
                        </label>
                        <div *ngIf="dated.invalid && (dated.dirty || dated.touched)" class="mage-error">Vui lòng nhập ngày hết hạn hợp lệ.</div>
                    </div>
                    <!--
                    <div class="control vietin-expiry-control">
                            <div class="fields group group-2">
                                <div class="field no-label month vietin-select-date" style="display: block !important;" (click)="description = 3">
                                    <div class="control">
                                        <select class="select select-month" name="month" #month="ngModel" [(ngModel)]="card.month" required>
                                            <option value="null"> Chọn tháng</option>
                                            <option *ngFor="let month of months" [ngValue]="month">{{ month }}</option>
                                        </select>
                                        <div *ngIf="month.invalid && (month.dirty || month.touched)" class="mage-error">Vui lòng nhập dữ liệu.</div>
                                    </div>
                                </div>

                                <div class="field no-label year vietin-select-date" style="display: block !important;" (click)="description = 3">
                                    <div class="control">
                                        <select class="select select-year" name="year" #year="ngModel" [(ngModel)]="card.year" required>
                                            <option value="null">Chọn năm</option>
                                            <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
                                        </select>
                                        <div *ngIf="year.invalid && (year.dirty || year.touched)" class="mage-error">Vui lòng nhập dữ liệu.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    -->

                    <div class="form-col" >
                        <label class="form-label" [ngClass]="{'active focus-lt': cvv.focus || cvv.value, 'error-lt': cvv.invalid && (cvv.dirty || cvv.touched) && cvv?.errors.required }">
                            <span class="form-text">CCV</span>
                            <input type="text" class="input-text" [pattern]="regexCvv" name="cvv" #cvv="ngModel" [(ngModel)]="card.cvv" required
                                (focus)="cvv.focus = true && description=4" (blur)="cvv.focus = false" maxlength="3"
                            >
                            <span class="ccv-icon"></span>
                        </label>
                        <div *ngIf="cvv.invalid && (cvv.dirty || cvv.touched)" class="mage-error">Vui lòng nhập số xác nhận thẻ tín dụng đúng.</div>
                    </div>
                </div>
                <!--
                <div class="form-row-lt">
                    <div class="form-col form-col-full">
                        <label class="checked-content">
                            Lưu thẻ
                            <input checked="checked" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <span class="note-txt">Thông tin được mã hóa và lưu trữ an toàn.</span>
                    </div>
                </div>
                -->
            </div>
            <div class="card-right">
                <img *ngIf="description == 1" class="current" src="https://cdn.lotte.vn/media/wysiwyg/static/ui/cart-page/card_number_hint.png" width="232" height="148" alt="">
                <img *ngIf="description == 2" class="current" src="https://cdn.lotte.vn/media/wysiwyg/static/ui/cart-page/card_number_hint_name.png" width="232" height="148" alt="">
                <img *ngIf="description == 3" class="current" src="https://cdn.lotte.vn/media/wysiwyg/static/ui/cart-page/card_number_hint_date.png" width="232" height="148" alt="">
                <img *ngIf="description == 4" class="current" src="https://cdn.lotte.vn/media/wysiwyg/static/ui/cart-page/card_number_hint_ccv.png" width="232" height="148" alt="">
            </div>
        </div>


        </form>
