<div id="maincontent" class="page-cart" [ngClass]="{'checkout-onepage-success': currentStep === 4,'checkout-onepage-failure':currentStep === -1}">
        <header class="header-cart">
            <div class="container-lt">
                <a (click)="backToHome()" href="/" class="logo-lotte">
                    <img src="{{(commonStoreLogos$ | async)}}">
                </a>
                <ul class="checkout-steps" *ngIf="currentStep != 4 && currentStep != -1">
                    <li (click)="selectCheckoutStep(1)" [ngClass]="{'current': currentStep === 1 || !cartItemCount , 'btn-back-step' : currentStep > 1 }"><span>Giỏ hàng</span></li>
                    <li (click)="selectCheckoutStep(2)" [ngClass]="{'current': currentStep === 2 && cartItemCount , 'btn-back-step' : currentStep > 2}"><span>Địa chỉ giao hàng</span></li>
                    <li (click)="selectCheckoutStep(3)" [ngClass]="{'current': currentStep === 3 && cartItemCount  }"><span>Thanh toán</span></li>
                </ul>
            </div>
        </header>
        <main class="main-cart" >
            <div class="container-lt">
                <!--
                    [ngClass]="{'lt-checkout-onepage': currentStep === -1 || currentStep === "4"}
                <div class="page-title-wrapper" *ngIf="currentStep == 4">
                    <h1 class="page-title success">
                        <span class="base" data-ui-id="page-title-wrapper">Hoàn thành đặt hàng</span>
                    </h1>
                </div>
                <div class="page-title-wrapper" *ngIf="currentStep === -1">
                    <h2 class="page-title">
                        <span class="base" data-ui-id="page-title-wrapper">Đơn hàng thanh toán không thành công</span>
                    </h2>
                </div>
                -->
                    <ng-container><!-- !isFirstLoad -->

                        <!--<lt-checkout-noitem *ngIf="( !(cartItemCount$ | async) && !(cartIsLoading$ | async) && currentStep > 1 && currentStep != 4)" [currentStep]="currentStep"> </lt-checkout-noitem>-->
                        <lt-checkout-noitem *ngIf="( !cartItemCount && cartIsLoading && currentStep > 1 && currentStep != 4)" [currentStep]="currentStep"> </lt-checkout-noitem>

                        <lt-checkout-cart [isLoggedIn]="isLoggedIn$ | async" *ngIf="currentStep == 1"> </lt-checkout-cart>
                        <lt-checkout-shipping *ngIf="cartItemCount && currentStep == 2"> </lt-checkout-shipping>
                        <lt-checkout-payment *ngIf="cartItemCount && currentStep == 3"> </lt-checkout-payment>
                        <lt-checkout-success *ngIf="currentStep == 4"> </lt-checkout-success>
                        <lt-checkout-failure *ngIf="currentStep == -1"></lt-checkout-failure>
                    </ng-container>

            </div>
        </main>

        <footer class="footer-cart">
            <div class="container-lt">
                <!--<p *ngIf="cartItemCount && currentStep == 3" class="terms">Bằng việc nhấn vào nút thanh toán, Quý khách cam kết đồng ý với: <a href="/customer_service/" target="_blank">Chính sách</a>, <a href="/dieu-kien-va-dieu-khoan" target="_blank">Điều khoản &amp; Điều kiện</a> mua hàng và sử dụng dịch vụ trên website LOTTE.vn</p>-->
                <p>Trung tâm tư vấn &amp; hỗ trợ khách hàng <strong>1900 1907</strong>&nbsp;&nbsp;|&nbsp;&nbsp;Thu tiền tại nhà (COD)&nbsp;&nbsp;|&nbsp;&nbsp;VISA&nbsp;&nbsp;|&nbsp;&nbsp;MASTERCARD&nbsp;&nbsp;|&nbsp;&nbsp;JCB</p>
            </div>
            <div class="footer content" [innerHTML]="footerHtml" runScripts></div>
        </footer>

        <!--
        <footer class="page-footer">
            <div class="footer content" [innerHTML]="footerHtml">

            </div>
        </footer>
        -->
    </div>
