<ng-container *ngIf="!(userInfo$ | async).lpoint_active; else templateLpoint">
    <div class="message notice empty"><span>Bạn nên mua hàng để trở thành thành viên và tích điểm trên hệ thống L-point</span></div>
    <div class="message info empty"><span>Không có đơn hàng nào được tìm thấy.</span></div>
</ng-container>
<ng-template #templateLpoint>
    <div class="page-title-wrapper">
        <h1 class="page-title">
            <span class="base" data-ui-id="page-title-wrapper">LỊCH SỬ GIAO DỊCH L.POINT</span>
        </h1>
    </div>

    <div *ngIf="lpointBanner?.content" [innerHTML]="lpointBanner?.content | safeHtml"></div>
    <!-- <div class="lpoint-info-banner">
        <img src="{{'wysiwyg/static/promotions/072017/lpoint/lpoint.png'.toMediaUrl()}}" alt="">
        <a [routerLink]="['/account/edit']" class="link-1" title="Cập nhật thông tin">Cập nhật thông tin</a>
        <a href="/campaign/l-point-launching/" target="_blank" class="link-2" title="Chi tiết chương trình L.Point">Chi tiết
            chương trình L.Point</a>
    </div> -->
    <div class="orders-history-new">
        <div class="info-history">
            <div class="logo"></div>
            <div class="info">
                <div class="row current-point">Điểm L-point hiện có</div>
                <div class="row update">{{Lpoint?.lpoint_update_at}}</div>
                <div class="row point">{{Lpoint?.lpoint}} p</div>
            </div>
            <div class="btn-update">
                <a class="btn-refresh" (click)="updateLPoint()" href="javascript:void(0);">Cập nhật
                    <i></i>
                </a>
            </div>
        </div>
        <div class="about-history">
            <a href="/campaign/l-point-launching/" target="_blank" class="introduce">
                <i></i>Giới thiệu về L-point</a>
        </div>
    </div>
    <div class="message info empty" *ngIf="!lpointHistory?.items?.length; else tableHistory">
        <span>Không có đơn hàng nào được tìm thấy.</span>
    </div>
    <ng-template #tableHistory>
    <div class="my_orders" *ngIf="lpointHistory">
        <div class="orders-table-new">
            <div class="box-LPoint">
                <ul class="LPoint-title">
                    <li class="plus"></li>
                    <li class="time-order">Ngày đặt hàng</li>
                    <li class="id-order">Mã đơn hàng</li>
                    <li class="point-before">Điểm trước Giao Dịch</li>
                    <li class="point">Điểm Giao Dịch</li>
                    <li class="point-after">Điểm sau Giao Dịch</li>
                </ul>
                <ul class="LPoint-content">
                    <ng-container *ngFor="let historyLpoint of lpointHistory?.items; let idx=index">
                        <li>
                            <span class="plus">
                                <a (click)="showDetail(historyLpoint.order_id)" href="javascript:void(0);">
                                    <div class="btn-plus" [class.active]="isLPointShown[historyLpoint.order_id]"></div>
                                </a>
                            </span>
                            <span class="time-order">{{historyLpoint?.order_created_at | date: 'dd/MM/yyyy'}}</span>
                            <span class="id-order">{{historyLpoint?.order_increment_id}}</span>
                            <span class="point-before">{{historyLpoint?.point_before_order}}</span>
                            <span class="point">{{historyLpoint?.transaction_point}}</span>
                            <span class="point-after">{{historyLpoint?.point_after_order}}</span>
                        </li>
                        <li class="LPoint-plus" *ngIf="isLPointShown[historyLpoint.order_id]">
                            <div class="table-LPoint">
                                <ol class="plus-title">
                                    <li class="id-trans">Mã giao dịch</li>
                                    <li class="time-trans">Ngày giao hàng</li>
                                    <li class="order-trans">Mã đơn giao hàng</li>
                                    <li class="id-return">Mã hoàn trả hàng</li>
                                    <li class="trans-point">Điểm giao dịch</li>
                                    <li class="trans-type">Loại giao dịch</li>
                                    <li class="status">Tình trạng</li>
                                </ol>
                                <ng-container *ngIf="delailLpoint">
                                    <ol class="plus-content" *ngFor="let detail of delailLpoint?.items">
                                        <li>
                                            <span class="id-trans">{{detail?.transaction_id}}</span>
                                            <span class="time-trans">{{detail?.delivered_date}}</span>
                                            <span class="order-trans">{{detail?.shipment_id}}</span>
                                            <span class="id-return">{{detail?.refun_id}}</span>
                                            <span class="trans-point">{{detail?.transaction_points}}</span>
                                            <span class="trans-type">{{detail?.lpoint_type}}</span>
                                            <span class="status">{{detail?.lpoint_transaction_status}}</span>
                                        </li>
                                    </ol>
                                </ng-container>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div><!--/ box-LPoint -->
        </div>
    </div>
    <lt-point-pagination (goPage)="goToPage($event)"
                         (goNext)="goNext()"
                         (goPrev)="goPrev()"
                         [pagesToShow]="3"
                         [page]="lpointHistory?.current_page"
                         [perPage]="lpointHistory?.page_size"
                         [count]="lpointHistory?.page_count"></lt-point-pagination>
    <!-- Table -->
    </ng-template>
</ng-template>
