<div class="bigbang-game-popup bigbang-game-lpoint-popup">
        <div class="modal-dialog-lt">
            <div class="modal-content-wrap-lt">
                <div class="modal-content-lt">
                    <div class="modal-body">
                        <!--
                        <button type="button" class="close" (click)="closeModal()">
                            <span>×</span>
                        </button>
                        -->
                        <div class="modal-lpoint-content">
                            <p><strong>
                                Để đăng ký tích điểm L.POINT thành công vui lòng điền đầy đủ các thông tin bên dưới!
                            </strong></p>

                            <form #registerForm="ngForm" (ngSubmit)="submitForm(registerForm);">
                                    <div class="form-row clearfix">
                                        <label>Họ</label>
                                        <div class="input-text">
                                            <input name="lastname" #lastname="ngModel" ngModel type="text" required>
                                        </div>
                                        <div *ngIf="lastname.invalid && (lastname.touched || lastname.dirty || registerForm.submitted)" class="mage-error">
                                            Vui lòng điền Họ
                                        </div>
                                    </div>

                                    <div class="form-row clearfix">
                                        <label>Tên</label>
                                        <div class="input-text">
                                            <input name="firstname" #firstname="ngModel" ngModel type="text" required>
                                        </div>
                                        <div *ngIf="firstname.invalid && (firstname.touched || firstname.dirty || registerForm.submitted)" class="mage-error">
                                            Vui lòng điền Tên
                                        </div>
                                    </div>
                                    <div class="form-row clearfix">
                                        <label>Số điện thoại</label>
                                        <div class="input-text">
                                            <input name="telephone"
                                                [ngClass]="{'mage-error': telephone.invalid && (telephone.touched || telephone.dirty || registerForm.submitted)}"
                                                #telephone="ngModel" ngModel autocomplete="off"
                                                type="text" class="input-text" [pattern]="phonePattern" required>
                                        </div>
                                        <div *ngIf="telephone.invalid && (telephone.touched || telephone.dirty || registerForm.submitted)" class="mage-error">
                                            Vui lòng nhập số điện thoại hợp lệ, Ví dụ: 0981234567, +84981234567. Lưu ý theo thông báo của nhà mạng, vui lòng nhập đầu số điện thoại mới từ ngày 14/11/2018.
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="birthday-input">Ngày sinh:</label>
                                        <div class="input-text">
                                            <input name="dob" id="birthday-input" #dob="ngModel" ngModel
                                                class="birthday-input datepicker" type="text"
                                                placeholder="DD / MM / YYYY" (click)="openDatePicker()" [readonly]="true" required>
                                        </div>
                                        <div *ngIf="dob.invalid && registerForm.submitted" class="mage-error">
                                            Vui lòng điền ngày sinh
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label>Giới tính:</label>
                                        <div class="input-text">
                                            <label class="checked-content">
                                                Nam
                                                <input class="input_radio radio-type" id="married-1" name="gender" [value]="4" type="radio" checked>
                                                <span class="radiobtn"></span>
                                            </label>
                                            <label class="checked-content">
                                                Nữ
                                                <input class="input_radio radio-type" id="married-2" name="gender" [value]="2" type="radio">
                                                <span class="radiobtn"></span>
                                            </label>
                                        </div>
                                    </div>

                                <p class="btn-dongy">
                                    <button type="submit" title="Đồng ý"><img src="https://cdn.lotte.vn/media/wysiwyg/static/promotions/2018/12/conheo/btn-4.png" alt=""></button>
                                </p>
                            </form>
                            <p *ngIf="errorMessage !== null">{{errorMessage}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
