<section class="product-filters-wrap">
  <div class="product-filters">
    <div class="container-lt">
      <ul class="filters-group">
        <app-cfs-product-filter-sort-by></app-cfs-product-filter-sort-by>
        <app-cfs-product-filter-vendor></app-cfs-product-filter-vendor>
        <app-cfs-product-filter-brand></app-cfs-product-filter-brand>
        <app-cfs-product-filter-price></app-cfs-product-filter-price>
        <app-cfs-product-filter-color></app-cfs-product-filter-color>
        <app-cfs-product-filter-size></app-cfs-product-filter-size>
      </ul>
    </div>
  </div>
  <div class="filters-chosen" *ngIf="(productState | facets)?.length">
    <div class="container-lt">
      <a class="btn-clearall" (click)="resetAllFilter()">Xóa tất cả</a>
      <ul class="items">
        <li *ngFor="let selected of productState | facets; let idx = index" (click)="addFilter(selected.type, selected)"><a class="btn-remove">x</a><span>{{selected.name}}</span></li>
      </ul>
    </div>
  </div>
</section>