<div class="modals-wrapper">
    <aside *ngIf="isSuccess" class="modal-popup wrapper-popup modal-slide _show" style="z-index: 901;">
        <div class="modal-inner-wrap">
            <header class="modal-header" style="display: none;">
                <h1 class="modal-title">Khôi phục mật khẩu</h1>
                <button class="action-close" type="button" (click)="closeModal()">
                    <span>Close</span>
                </button>
            </header>
            <div class="modal-content"><div id="forgot-password-successfully-modal" class="lg-user-container">
                <div class="block block-account block-customer-forgotpass">
                    <div class="alert-text">
                        <p class="text-center"><img src="{{'wysiwyg/icon-2.jpg'.toMediaUrl()}}" alt=""></p>
                        <p>Chúng tôi đã gửi một liên kết để tạo lại mật khẩu mới đến email bạn đã đăng ký. <br>Vui lòng kiểm tra <span class="blue-color">Hộp thư (Inbox)</span> hoặc <span class="blue-color">Thư rác (Spam)</span> <br>của email để thực hiện theo hướng dẫn. </p>
                        <div class="btn-groups">
                            <a href="/" (click)="startShopping()" class="btn-action btn-submit" title="Bắt đầu mua sắm"><span>Bắt đầu mua sắm</span></a>
                        </div>
                    </div>
                </div>
            </div></div>
            <footer class="modal-footer" style="display: none;">
                <button class="" type="button" (click)="closeModal()"><span>Ok</span></button>
            </footer>
        </div>
    </aside>
    <aside *ngIf="!isSuccess" class="modal-popup wrapper-popup forgot-popup modal-slide _show" style="z-index: 901;">
        <div class="modal-inner-wrap">
            <header class="modal-header">
                <h1 class="modal-title">Quên mật khẩu</h1>
                <button class="action-close" type="button" (click)="closeModal()">
                    <span>Hủy</span>
                </button>
            </header>
            <div class="modal-content">
                <div id="forgot-password-modal" class="lg-user-container">
                    <div class="block block-account block-customer-forgotpass">
                        <form #forgotPasswordForm="ngForm" (ngSubmit)="submitForgotPassword(forgotPasswordForm)" class="form form-password-forget form-password-forget-ajax form-content">
                            <div class="form-row">Hãy điền địa chỉ email bạn đăng ký trước đó, chúng tôi sẽ gửi cho bạn một liên kết để thay đổi mật khẩu.</div>
                            <div class="form-row">
                                <label class="form-label" [ngClass]="{'form-label-active': email.focus || email.value}">
                                    <span class="form-name">E-mail</span>
                                    <input name="email"
                                           [ngClass]="{'mage-error': email.invalid && (email.touched || email.dirty || forgotPasswordForm.submitted)}"
                                           (focus)="email.focus = true" (blur)="email.focus = false"
                                           #email="ngModel" [pattern]="appConstants.REGEX.EMAIL" ngModel autocomplete="off"
                                           id="email" type="email" class="input-text" title="E-mail" required>
                                    <div for="email"
                                         *ngIf="email.invalid && (email.touched || email.dirty || forgotPasswordForm.submitted) && email.errors.pattern"
                                         class="mage-error">Vui lòng nhập Email hợp lệ.
                                    </div>
                                    <div for="email"
                                         *ngIf="email.invalid && (email.touched || email.dirty || forgotPasswordForm.submitted) && email.errors.required"
                                         class="mage-error">Vui lòng nhập dữ liệu.
                                    </div>
                                </label>
                            </div>
                            <div *ngIf="isError" class="form-row msg-error mage-error forgot-password-err">{{errorMsg}}</div>
                            <div class="form-row btn-groups btn-no-margin">
                                <button type="submit" class="btn-action btn-submit">
                                    <span>Gửi</span>
                                </button>
                            </div>
                            <p class="btn-register-now">Bạn chưa là thành viên? <a class="opensignup" (click)="showRegisterModal()" >Đăng kí ngay!</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>
