<div class="wishlist-products-popup" data-role="modal" data-type="popup"
    tabindex="0" >
    <div class="modal-dialog-lt" data-role="focusable-scope">
        <div class="modal-content-lt">
            <div class="modal-header-lt">
                <h5 class="modal-title">Danh sách yêu thích</h5>
                <button type="button" class="close" (click)="closeModal()">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="(userWishlist?.length > 0 ); else warning">
                <div class="cart-table wishlist-products">
                    <ng-container *ngFor="let item of userWishlist; let i = index">
                        <div class="cart-row-inner" id="{{ 'wishlist-' + item.wishlist_item_id }}">
                            <div class="option-col">
                                <label class="checked-content">
                                    <input type="checkbox" (change)="onCheckboxChange(item,$event)" />
                                    <span class="checkmark" ></span>
                                </label>
                            </div>
                            <div class="field-img-col">
                                <a href="{{ '/product/' + item?.product?.product_id + '/' + item?.product?.url_key }}" title="{{item?.product?.name}}">
                                    <img src="{{'/media/catalog/product/' +  item?.product?.small_image}}" alt="" height="74" width="57">
                                </a>
                            </div>
                            <div class="field-content-col">
                                <p class="field-brand"><a href="{{item?.brand?.brand_path}}" title="{{item?.brand?.brand_name}}">{{item?.brand?.brand_name}}</a></p>
                                <p class="field-name">
                                    <a href="{{ '/product/' + item?.product?.product_id + '/' + item?.product?.url_key }}" title="{{item?.product?.name}}">{{item?.product?.name}}</a>
                                </p>

                                <div class="options" *ngIf="!item.product?.is_in_stock">
                                    <span>Hết hàng</span>
                                </div>

                                <div class="field-others">
                                    <a (click)="removeItem(item)" class="btn-remove" title="Xóa">Xóa</a>
                                </div>

                            </div>
                            <div class="field-price-col">
                                <p class="last-price">{{item.product?.min_price?.toString()?.toVndCurrency()}}</p>
                                <p class="old-price">{{item.product?.price?.toString()?.toVndCurrency()}}</p>
                            </div>


                            <div class="field-color-col" *ngIf="item.product?.options?.color && item.product?.options?.color?.values?.length > 0">
                                <select id="{{item.product?.options?.color?.id}}" (change)="onProductOptionChange(item,$event)">
                                    <ng-container *ngFor="let option of item.product?.options?.color?.values; let idx = index">
                                        <option value="{{option.value}}">{{option.label}}</option>
                                    </ng-container>
                                </select>
                            </div>

                            <div class="field-size-col" *ngIf="item.product?.options?.size && item.product?.options?.size?.values?.length > 0">
                                <select id="{{item.product?.options?.size?.id}}" (change)="onProductOptionChange(item,$event)">
                                    <ng-container *ngFor="let option of item.product?.options?.size?.values; let idx = index">
                                        <option value="{{option.value}}">{{option.label}}</option>
                                    </ng-container>
                                </select>
                            </div>


                        </div>
                    </ng-container>


                </div>

                <p class="btn-type">
                    <button class="button-bg" type="button" (click)="addWishlistTocart()" [disabled]="!(checkedList?.length > 0)">Thêm vào giỏ hàng ({{checkedList?.length}})</button>
                </p>
            </div>
            <ng-template #warning>
                <div class="modal-body">
                    <div class="wishlist-no-products">
                        <p>Bạn không có sản phẩm nào trong danh sách yêu thích</p>
                    </div>
                </div>
            </ng-template>
        </div>

    </div>
</div>
