<section class="highlight-tpo" lazy-load-images>
    <div class="container-lt clearfix">
        <div class="left-content" *ngIf="leftContent?.content" [innerHTML]="leftContent?.content | safeHtml" runScripts>
        </div>
        <div class="right-content">
            <div *ngIf="rightContent?.content" [innerHTML]="rightContent?.content | safeHtml" runScripts></div>
            <div class="tab-wrap">
                <ul class="tab-menu">
                    <li (mouseover)="selectedTab = idx" [class.active]="selectedTab === idx" *ngFor="let trend of trending; let idx = index">
                        <a title="{{trend.tab_name}}">
                            <span>{{trend.tab_name}}</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="content" [class.hidden]="selectedTab !== idx" *ngFor="let trend of trending; let idx = index">
                        <ul class="tpo-list">
                            <li *ngFor="let tag of trend.tags; let tagIdx = index">
                                <!--[LT-606] huytt: bind href instead of routerlink to init new state-->
                                <a [href]="'/xu-huong/chi-tiet/'+ tag.url_key" class="tpo-item">
                                <!--<a routerLink="/xu-huong/chi-tiet/{{tag.url_key}}" class="tpo-item">-->
                                    <span class="field-img">
                                        <img class="img-banner" attr.data-layer="{{'Home_Z2_' +  (2 + idx * tagIdx + tagIdx)}}" title="#{{tag.name}}" attr.data-src="{{tag.thumbnail}}" alt="" width="164">
                                        <span class="view-info">
                                            <strong>{{tag.view}}</strong> Xem &nbsp;|&nbsp;
                                            <strong>{{tag.like}}</strong> Thích
                                        </span>
                                    </span>
                                    <span class="field-name">#{{tag.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content hidden">
                        Popular
                    </div>
                    <div class="content hidden">
                        New Arrival
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>