

<ng-container *ngFor="let post of posts; let i = index;">
        <masonry-brick class="brick" ng-class="{'masonry-brick': true}" >
            <div class="grid-item">
                <div class="content">
                    <div [ngClass]="{'icon-video': post.type=='video'}"  class="post-field-image">
                        <a href="{{ post.post_url }}"><img src="{{ post.images?.thumbnail }}" alt="" width="298" height="216"></a>
                    </div>
                    <div class="post-info">
                        <div class="post-cate-name" *ngIf="post.categories.children">
                            <ng-container *ngFor="let children of post.categories.children; let i = index">
                                <a *ngIf="i == 0" href="{{ children.category_url }}">{{ children.name }}</a>
                            </ng-container>
                        </div>
                        <div class="post-title"><a href="{{ post.post_url }}">{{ post.name }}</a></div>
                        <div class="post-body">{{ post.description }}</div>
                        <div class="post-date">
                            <span class="date">{{ post.post_date }}</span>
                            <ng-container *ngFor="let parent of post.categories.parent; let i = index">
                                | <a href="{{ parent.category_url }}" class="cate-type">#{{ parent.name }}</a>
                            </ng-container>
                        </div>
                    </div>


                <div *ngIf="post.products.nbHits > 0" class="suggested-product">
                    <h4><span>Gợi ý cho bạn</span></h4>
                    <div class="inner">
                        <div class="item-product" *ngFor="let product of post.products.hits">
                            <a href="{{ product.url }}">
                                <span class="product-image">
                                    <img src="https:{{ product.thumbnail_url }}" alt="">
                                </span>
                                <span class="product-info">
                                    <span class="product-brand">{{ product.product_brand }}</span>
                                    <span class="product-name">{{ product.name }}</span>
                                    <span class="field-price">
                                        <span class="old-price" *ngIf="product.price?.VND?.default !== product.price?.VND?.price" >
                                            {{product.price?.VND?.price_formated}}
                                        </span>
                                        <span class="final-price">
                                            {{product.price?.VND?.default_formated}}
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>     <!-- and item-product -->
                    </div>
                </div> <!-- and products -->

            </div> <!-- content -->
        </div>
    </masonry-brick>
</ng-container>
