<div class="block block-search">
    <form class="search-item-block" (submit)="goToSearchResult(keyword)">
        <div id="search_mini_form" class="form minisearch" [ngClass]="{'active': isSearchInputFocus}">
            <!-- Search query -->
            <input (ngModelChange)="search($event)" (focus)="searchInputFocus()" (blur)="hideSearch()" id="search" type="text"
                name="q" class="input-text algolia-search-input aa-input" autocomplete="off" spellcheck="false" autocorrect="off"
                autocapitalize="off" [(ngModel)]="keyword" placeholder="Tìm sản phẩm, thương hiệu bạn mong muốn" dir="auto">
            <div class="actions">
                <button type="submit" title="Tìm kiếm" class="action search" id="search-submit" [disabled]="submitPending$ |async">
                    <span>Tìm kiếm</span>
                </button>
            </div>
        </div>
        <!---->
        <div id="algolia-autocomplete-container" class="reverse" [hidden]="!isSearchInputFocus">
            <div class="aa-dropdown-menu aa-without-campaigns aa-with-products">
                <div class="autocomplete-wrapper">
                    <div class="history-wrapper" [hidden]="keyword || !searchHistory.length">
                        <div class="aa-dataset-history">
                            <h3 class="title">
                                <span class="text">Lịch sử tìm kiếm</span>
                                <a class="clear-history" (click)="clearSearchHistory($event)">Xóa</a>
                            </h3>
                            <span class="aa-suggestions" style="display: block;">
                                <div class="aa-suggestion" *ngFor="let key of searchHistory">
                                    <a class="algoliasearch-autocomplete-hit" (click)="search(key, true)">{{key}}</a>
                                </div>
                            </span>
                        </div>
                        <div class="autocomplete-line" style="display: block;"></div>
                    </div>

                    <div class="popular-wrapper" [hidden]="keyword">
                        <div class="aa-dataset-popular">
                            <h3 class="title">
                                <span class="text">Được tìm kiếm nhiều nhất</span>
                            </h3>
                            <span class="aa-suggestions" style="display: block;">
                                <div class="aa-suggestion" *ngFor="let key of (searchSuggestionAll$ | async)?.hits">
                                    <a class="algoliasearch-autocomplete-hit" (click)="search(key.query_text, true)" style="white-space: normal;">{{key.query_text}}</a>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="suggestion-wrapper" [hidden]="!keyword || !(searchSuggestion$ | async)?.hits?.length">
                        <div class="aa-dataset-suggestion">
                            <span class="aa-suggestions" style="display: block;">
                                <div class="aa-suggestion" *ngFor="let key of (searchSuggestion$ | async)?.hits">
                                    <a class="algoliasearch-autocomplete-hit" (click)="search(key.query_text, true)" style="white-space: normal;">{{key.query_text}}</a>
                                </div>
                            </span>
                        </div>
                        <div class="autocomplete-line" style="display: block;"></div>
                    </div>

                    <div _ngcontent-c3="" class="tpo-search-wrapper" [hidden]="!keyword || !(searchTpo$ | async)?.hits?.length">
                        <ul>
                            <li *ngFor="let tpo of (searchTpo$ | async)?.hits">
                                <a href="{{tpo.url}}">
                                    <span class="thumb">
                                        <img src="{{tpo.thumbnail}}">
                                    </span>
                                    <!--<span class="info" *ngIf="tpo?._highlightResult?.name?.value" [innerHtml]="tpo?._highlightResult?.name?.value"></span>-->
                                    <span class="info">
                                            #{{tpo?.name}}
                                    </span>
                                </a>
                            </li>
                        </ul>

                        <div _ngcontent-c3="" class="autocomplete-line" style="display: block;"></div>
                    </div>


                    <div class="campaign-wrapper" [hidden]="!keyword || !(searchCampaign$ | async)?.hits?.length">
                        <div class="aa-dataset-campaigns">
                            <h3 class="title">
                                <span class="text">Khuyến Mãi Liên Quan</span>
                            </h3>
                            <span class="aa-suggestions" style="display: block;">
                                <div class="aa-suggestion" role="option" *ngFor="let campaign of (searchCampaign$ | async)?.hits">
                                    <a class="algoliasearch-autocomplete-hit" href="{{campaign.url}}" style="white-space: normal;">
                                        <span class="thumb">
                                            <img src="{{campaign.search_thumb}}">
                                        </span>
                                        <span class="info">
                                            {{campaign.name}}
                                        </span>
                                    </a>
                                </div>
                            </span>
                        </div>
                        <div class="autocomplete-line" style="display: block;"></div>
                    </div>

                    <div class="product-wrapper" [hidden]="!keyword">
                        <div class="aa-dataset-products">
                            <h3 class="title">
                                <span class="text">Sản phẩm</span>(
                                <span class="num">{{searchResult?.nbHits}})</span>
                            </h3>
                            <span class="aa-suggestions" *ngIf="searchResult?.hits?.length" style="display: block;">
                                <div class="aa-suggestion" *ngFor="let product of searchResult.hits">
                                    <a class="algoliasearch-autocomplete-hit" routerLink="/product/{{product.id}}/{{product.url.toUrlKey()}}" style="white-space: normal;">
                                        <div class="thumb">
                                            <img src="{{'https:' + product.thumbnail_url}}">
                                        </div>

                                        <div class="info">
                                            <div *ngIf="product?._highlightResult?.name?.value" [innerHtml]="product?._highlightResult?.name?.value | safeHtml"></div>
                                            <div *ngIf="!product?._highlightResult?.name?.value">{{product?.name}}</div>

                                            <div class="algoliasearch-autocomplete-price">
                                                <span class="after_special promotion">
                                                    {{product.price?.VND?.default_formated}}
                                                </span>
                                                <span class="before_special" *ngIf="product.price?.VND?.price !== product.price?.VND?.default">
                                                    {{product.price?.VND?.price_formated}}
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </span>
                            <div class="aa-no-results-products" *ngIf="!searchResult?.hits?.length">
                                <div class="title">Không có sản phẩm {{keyword}}</div>
                                <div class="suggestions">

                                    <div>
                                        <a (click)="search(key.query_text, true)" *ngFor="let key of (searchSuggestionAll$ | async)?.hits; let idx = index">
                                            <span *ngIf="idx">, </span>{{key.query_text}}
                                        </a>
                                        <br>
                                        <div style="margin-top: 30px;">Hoặc
                                            <b>
                                                <a href="/">Hiển thị tất cả sản phẩm</a>
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: center">
                            <button style="margin: 0 auto 10px;" *ngIf="searchResult?.hits?.length" type="submit" class="view-all-btn button">Hiển thị tất cả {{searchResult?.nbHits}} kết quả
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>