<div class="delivery-to-block" #deliveryBlock >
    <div class="lbl">Giao đến:
        <span (click)="togglePopup()" (mouseenter)="showNoInfoShip(true)" (mouseleave)="showNoInfoShip(false)">
            <ng-container *ngIf="!curRegion?.city || curRegion?.city === 'null'">
                Chọn địa chỉ nhận hàng của bạn
            </ng-container>
            <ng-container *ngIf="curRegion?.city">
                {{curRegion.ward?curRegion?.ward?.name + ', ':''}}{{curRegion.district?curRegion?.district?.name + ', ':''}}{{curRegion.city.name}}
            </ng-container>
        </span>
    </div>

    <ng-template #noShipInfo>
        <div class="delivery-to-dropdown delivery-to-note" [ngStyle]="{'display': isShowPopupInfo?'block':''}">
            <div class="inner">
                <div class="delivery-to-info">
                    <a class="btn-close" (click)="isShowPopupInfo = false; isShowPopup = false">&nbsp;</a>
                    <p>Hãy chọn địa chỉ nhận hàng để được dự báo thời gian giao hàng cùng phí đóng gói, vận chuyển chính xác nhất.</p>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-container *ngIf="!isShowPopupInfo || curRegion?.city else noShipInfo">
        <div class="delivery-to-dropdown" [ngStyle]="{'display': isShowPopup?'block':''}">
            <div class="inner">
                <ng-container *ngIf="userAddresses?.length > 0">
                    <div class="recently-address">
                        <h3>Địa chỉ sử dụng gần đây</h3>
                        <ul>
                            <li *ngFor="let address of userAddresses">
                                <label class="checked-content">
                                    <input name="options" ng-control="options" [value]="address.id" [(ngModel)]="curUserAddressId" type="radio" (change)="selectUserAddress()">
                                    <span class="radiobtn"></span>
                                    <span class="txt">{{address.ward}}, {{address.district}}, {{address.region?.region}}</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="break-text"><span>hoặc chọn địa chỉ giao hàng khác</span></div>
                </ng-container>
                <form>
                    <div class="form-row-lt">
                        <div class="form-col form-col-full">
                            <label class="form-label" [ngClass]="{'active focus-lt':city.focus}">
                                <select class="select" [compareWith]="equals" name="city" #city="ngModel" [(ngModel)]="curRegion.city" (change)="selectArea('city')"
                                        (focus)="city.focus = true" (blur)="city.focus = false"
                                >
                                    <option [value]="null">Tính / Thành phố</option>
                                    <option [ngValue]="city" *ngFor="let city of regions">{{city.name}}</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="form-row-lt">
                        <div class="form-col form-col-full">
                            <label class="form-label" [ngClass]="{'active focus-lt':district.focus}">
                                <select class="select" [compareWith]="equals" name="district" #district="ngModel" [(ngModel)]="curRegion.district" (change)="selectArea('district')"
                                        (focus)="district.focus = true" (blur)="district.focus = false"
                                >
                                    <option [value]="null">Quận / Huyện</option>
                                    <option [ngValue]="district" *ngFor="let district of curRegion.city?.districts">{{district.name}}</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="form-row-lt">
                        <div class="form-col form-col-full">
                            <label class="form-label" [ngClass]="{'active focus-lt':ward.focus}">
                                <select class="select" [compareWith]="equals" name="ward" #ward="ngModel" [(ngModel)]="curRegion.ward" (change)="selectArea('ward')"
                                        (focus)="ward.focus = true" (blur)="ward.focus = false"
                                >
                                    <option [value]="null">Phường / Xã</option>
                                    <option [ngValue]="ward" *ngFor="let ward of curRegion.district?.wards">{{ward.name}}</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <p class="btn-type">
                        <button class="button-bg" #btnSelect title="Chọn" (click)="storeLSAddress()">Chọn</button>
                    </p>
                </form>
                <ng-container *ngIf="!userInfo?.id">
                    <div class="break-text"><span>hoặc</span></div>
                    <p class="link-type"><a (click)="showLoginModal()">Đăng nhập để chọn địa chỉ giao hàng</a></p>
                </ng-container>
            </div>
        </div>
    </ng-container>

</div>