<div class="sidebar-phonecard">
    <div class="block block-menu">
        <div class="inner">
            <div class="content">
                <ul>
                    <li class="icon-card" [ngClass]="{'current' : currentPage=='phonecard'}"><a href="{{appConstants.HOST_NAME}}/mobilerecharge/phonecard" title="Mua thẻ cào">Mua thẻ cào</a></li>
                    <li class="icon-mobile" [ngClass]="{'current' : currentPage=='topup'}"><a href="{{appConstants.HOST_NAME}}/mobilerecharge/topup" title="Nạp tiền điện thoại">Nạp tiền điện thoại</a></li>
                    <li class="icon-game " [ngClass]="{'current' : currentPage=='gamecard'}"><a href="{{appConstants.HOST_NAME}}/mobilerecharge/gamecard" title="Mua thẻ game">Mua thẻ game</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>