<div class="columns">
    <div class="column">
        <form class="form shared wishlist">
            <div class="wishlist-shared">
                <div class="table-account" id="wishlist-table">
                    <h2 class=""></h2>
                    <ul class="table-account-title">
                        <li class="col count"></li>
                        <li class="col images"></li>
                        <li class="col name" scope="col">Sản phẩm</li>
                        <li class="col prices"></li>
                        <li class="col actions" scope="col">Thêm vào giỏ hàng</li>
                    </ul>
                    <ul class="table-account-content">
                        <li *ngFor="let item of wishlist">
                            <div class="col count">
                                <span>1</span>
                            </div>
                            <div class="col images">
                                <a class="product photo" routerLink="/product/{{item.product?.product_id}}/{{item.product?.url_key}}" style="position: relative;">
                                    <img src="{{item.product?.image?.toProductUrl()}}" width="113" height="147" alt="{{item.product?.name}}">
                                </a>
                            </div>
                            <div data-th="Sản phẩm" class="col name">
                                <strong class="product name">
                                    <a routerLink="/product/{{item.product?.product_id}}/{{item.product?.url_key}}">
                                        {{item.product?.name}} </a>
                                </strong>

                            </div>
                            <div class="col prices">
                                <div class="price-box price-configured_price">
                                    <p class="price-as-configured">
                                        <span class="final-price">
                                            {{item.product?.min_price?.toString()?.toVndCurrency()}}
                                        </span>

                                        <span class="discount-label" *ngIf="item.product?.price !==item.product?.min_price">
                                            {{item.product?.min_price | percentize : item.product?.price }}
                                        </span>
                                    </p>

                                    <p class="old-price" *ngIf="item.product?.price !==item.product?.min_price">
                                        <span class="final-price ">
                                            {{item.product?.price?.toString()?.toVndCurrency()}}
                                        </span>
                                    </p>
                                </div>

                                <div class="box-tocart" *ngIf="!item.product?.is_in_stock">
                                    <p class="unavailable stock" title="Availability">
                                        <span>Hết hàng</span>
                                    </p>
                                </div>
                            </div>
                            <div data-th="Thêm vào giỏ hàng" class="col actions">
                                <button type="button" title="Thêm vào giỏ hàng" (click)="addToWishlist(item.product)" class="action tocart" *ngIf="isLoggedIn$ | async">
                                    <span>Thêm vào danh sách yêu thích</span>
                                </button>
                                <br>
                                <button type="button" title="Thêm vào giỏ hàng" *ngIf="item.product?.is_in_stock" (click)="addToCart(item.product)" class="action tocart">
                                    <span>Thêm vào giỏ hàng</span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="actions-toolbar">
                <div class="primary">
                    <button *ngIf="!isWishlistOutOfStock" type="button" title="Thêm tất cả vào Giỏ hàng" (click)="addWishlistToCart()" class="action tocart primary">
                        <span>Thêm tất cả vào Giỏ hàng</span>
                    </button>
                </div>
                <div class="secondary">
                    <a href="" class="action back">
                        <span>Quay lại</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>