<section class="cate-filter-menu" *ngIf="categories?.child?.length > 0">
    <div class="container-lt">
        <h3>Danh mục</h3>
        <div class="content">
            <ul>
                <ng-container *ngFor="let subcate of categories?.child">
                    <li><a href="category/{{subcate?.id}}/{{subcate?.url_key}}" (click)="selectCategory(subcate, $event, true)">{{subcate?.name}}</a></li>
                </ng-container>
                <!--<li><a href="#">Smart Tivi (148)</a></li>-->
                <!--<li><a href="#">Máy lạnh gắn tường (78)</a></li>-->
                <!--<li><a href="#">Dàn Âm Thanh (8)</a></li>-->
                <!--<li><a href="#">Hệ Thống Âm Thanh (8)</a></li>-->
                <!--<li><a href="#">Tủ lạnh 3 cửa trở lên (2)</a></li>-->
                <!--<li><a href="#">Loa (9)</a></li>-->
                <!--<li><a href="#">Máy giặt (78)</a></li>-->
                <!--<li><a href="#">Tủ lạnh 2 cửa (8)</a></li>-->
                <!--<li><a href="#">Tivi LED (82)</a></li>-->
                <!--<li><a href="#">Thiết bị giải trí (8)</a></li>-->
            </ul>
        </div>
    </div>
</section>
<!--<div class="block cate-menu-content" *ngIf="productsState?.requestBody?.type === 'category' && categories.id">-->
    <!--<h3>{{categories?.name}}</h3>-->
    <!--<ul class="categories-tree" *ngIf="!categories?.level2">-->
        <!--<ng-container *ngFor="let level1 of categories?.child">-->
            <!--<li *ngIf="level1.is_active" [ngClass]="{'active': level1?.isSelected}">-->
                <!--<a href="category/{{level1.id}}/{{level1.url_key}}" (click)="selectCategory(level1, $event, true)">{{level1?.name}} </a>-->

                <!--<ul class="categories-tree" *ngIf="level1?.isSelected">-->
                    <!--<ng-container *ngFor="let subcat of level1?.child">-->
                        <!--<li *ngIf="subcat.is_active">-->
                            <!--<a href="category/{{subcat.id}}/{{subcat.url_key}}" (click)="selectCategory(subcat, $event, false)" title="Áo Thun ">{{subcat?.name}}</a>-->
                        <!--</li>-->
                    <!--</ng-container>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ng-container>-->
    <!--</ul>-->

    <!--<ul class="categories-tree" *ngIf="categories?.level2">-->
        <!--<li class="active current">-->
            <!--<a (click)="selectCategory(categories.level1, $event, true)">{{categories?.level1?.name}}</a>-->
        <!--</li>-->

        <!--<ul class="categories-tree">-->
            <!--<ng-container *ngFor="let level2 of categories?.level1?.child">-->
                <!--<li *ngIf="level2.is_active" (click)="selectCategory(level2, $event, true)" [ngClass]="{'active': categories?.level2?.id == level2.id && !categories?.level3}">-->
                    <!--<a href="category/{{level2.id}}/{{level2.url_key}}" title="{{ level2.name }}">{{level2.name}}</a>-->

                    <!--<ul class="categories-tree" *ngIf="categories?.level2 && categories?.level2?.id === level2.id">-->
                        <!--<ng-container *ngFor="let level3 of categories?.level2?.child">-->
                            <!--<li *ngIf="level3.is_active" (click)="selectCategory(level3, $event, true)" [ngClass]="{'active': categories?.level3?.id == level3.id}">-->
                                <!--<a href="category/{{level3.id}}/{{level3.url_key}}" title="{{ level3.name }}">{{level3.name}}</a>-->

                                <!--<ul class="categories-tree" *ngIf="categories?.level3 && categories?.level3?.id === level3.id">-->
                                    <!--<ng-container *ngFor="let level4 of categories?.level3?.child">-->
                                        <!--<li *ngIf="level4.is_active" (click)="selectCategory(level4, $event, true)" [ngClass]="{'active': categories?.level4?.id == level4.id}">-->
                                            <!--<a href="category/{{level4.id}}/{{level4.url_key}}" title="{{ level4.name }}">{{level4.name}}</a>-->
                                        <!--</li>-->
                                    <!--</ng-container>-->
                                <!--</ul>-->
                            <!--</li>-->
                        <!--</ng-container>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ng-container>-->
        <!--</ul>-->
    <!--</ul>-->
<!--</div>-->
<!--<div class="umicrosite-index-landingpage">-->
    <!--<div class="vendor-info block" *ngIf="productsState?.requestBody?.type === 'vendor'">-->
        <!--<h4>Người bán hàng</h4>-->
        <!--<h3 class="vendor-name block-title">{{urlInfo?.vendor?.vendor_name}}</h3>-->
        <!--<div class="rating-summary">-->
            <!--<div class="rating-result" title="{{urlInfo?.vendor?.rating_summary ? urlInfo?.vendor?.rating_summary : 0 + '%'}}">-->
                <!--<span [ngStyle]="{'width': ((urlInfo?.vendor?.rating_summary ? urlInfo?.vendor?.rating_summary : 0) +'%')}">-->
                        <!--<span>{{urlInfo?.vendor?.rating_summary ? urlInfo?.vendor?.rating_summary : 0}}%</span>-->
                <!--</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<span class="rate-counter">({{urlInfo?.vendor?.reviews_count ? urlInfo?.vendor?.reviews_count : 0}} đánh giá)</span>-->
    <!--</div>-->
<!--</div>-->