  <!-- START HEADER -->
  <header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
      <nav class="navbar-color gradient-45deg-light-blue-cyan">
        <div class="nav-wrapper">
          <div class="header-search-wrapper hide-on-med-and-down">
            <i class="material-icons">search</i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize" />
          </div>
          <ul class="right hide-on-med-and-down">          
         
            <li>
              <a (click)="signOut()" href="/login" title="Log out" data-activates="chat-out" class="waves-effect waves-block waves-light settings_ethernet">
                <i class="material-icons" >format_indent_increase</i>
              </a>
            </li>
          </ul>         
        </div>
      </nav>
    </div>
    <!-- end header nav-->
  </header>
  <!-- END HEADER -->