@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
.one-year-look-back-page{
    background:url(https://cdn.lotte.vn/media/wysiwyg/static/one-year-look-back/bg.jpg) 50% 0 no-repeat #613ff1
}
.one-year-look-back-page .container-lt{
    width:1080px;
    padding-bottom:20px
}
.one-year-look-back-page .top-banner{
    max-width:640px;
    color:#fff;
    padding-top:100px;
    font-size:15px;
    font-family:Montserrat;
    height:350px;
    padding-bottom:20px
}
.one-year-look-back-page .top-banner h3{
    text-transform:uppercase;
    margin-top:0;
    margin-bottom:10px;
    font-size:21px;
    font-weight:400
}
.one-year-look-back-page .top-banner h2{
    text-transform:uppercase;
    margin-top:0;
    margin-bottom:10px;
    font-size:54px;
    color:#f5b400;
    line-height:100%;
    font-weight:400
}
.one-year-look-back-page .top-banner h2 span{
    display:block;
    font-weight:700;
    font-size:33px
}
.one-year-look-back-page .highlight-content{
    background:#f6f6f6;
    padding:60px 110px;
    margin-bottom:80px;
    position:relative
}
.one-year-look-back-page .highlight-content .bottom-text{
    margin-bottom:0;
    width:100%;
    text-align:center;
    position:absolute;
    left:0;
    bottom:-24px
}
.one-year-look-back-page .highlight-content .bottom-text span{
    display:inline-block;
    text-transform:uppercase;
    font-size:17px;
    font-weight:700;
    background-color:#e7e7e7;
    border:1px solid #c5c5c5;
    padding:15px 25px;
    border-radius:35px;
    -webkit-border-radius:35px;
    box-shadow:0 5px 7px -5px #000;
    -webkit-box-shadow:0 5px 7px -5px #000
}
.one-year-look-back-page .highlight-content .field-email,.one-year-look-back-page .highlight-content .field-name{
    text-align:center
}
.one-year-look-back-page .highlight-content .field-name{
    font-size:31px;
    font-weight:700;
    line-height:100%;
    margin-bottom:5px
}
.one-year-look-back-page .highlight-content .field-email{
    margin-bottom:40px
}
.one-year-look-back-page .highlight-content .items{
    max-width:710px;
    margin:0 auto 30px;
    text-align:center
}
.one-year-look-back-page .highlight-content .items ul{
    margin-left:-15px;
    margin-right:-15px;
    display:inline-block
}
.one-year-look-back-page .highlight-content .items li{
    list-style:none;
    width:50%;
    min-width:340px;
    float:left;
    padding:0 15px;
    margin-bottom:20px;
    font-size:0
}
.one-year-look-back-page .highlight-content .items li .content{
    font-size:14px;
    text-align:left;
    border-radius:10px;
    -webkit-border-radius:10px;
    position:relative;
    overflow:hidden
}
.one-year-look-back-page .highlight-content .items li .content .inner{
    padding:15px 20px;
    min-height:180px;
    position:relative;
    z-index:3
}
.one-year-look-back-page .highlight-content .items li .content:before{
    content:"";
    width:30px;
    height:3px;
    background:#fff;
    opacity:.7;
    z-index:1;
    position:absolute;
    left:20px;
    bottom:20px
}
.one-year-look-back-page .highlight-content .items li .content:after{
    content:"";
    z-index:2;
    width:100%;
    height:100%;
    position:absolute;
    right:0;
    bottom:0;
    opacity:.3
}
.one-year-look-back-page .highlight-content .items li .content.bg-1{
    background-color:#ab95fd;
    background-image:linear-gradient(to right,#debafc,#ab95fd)
}
.one-year-look-back-page .highlight-content .items li .content.bg-1:after{
    background:url(https://cdn.lotte.vn/media/wysiwyg/static/one-year-look-back/bg-1.png) 100% 100% no-repeat
}
.one-year-look-back-page .highlight-content .items li .content.bg-2{
    background-color:#f36fae;
    background-image:linear-gradient(to right,#ffa9d3,#f36fae)
}
.one-year-look-back-page .highlight-content .items li .content.bg-2:after{
    background:url(https://cdn.lotte.vn/media/wysiwyg/static/one-year-look-back/bg-2.png) 100% 100% no-repeat;
    opacity:.3
}
.one-year-look-back-page .highlight-content .items li .content.bg-3{
    background-color:#b59afe;
    background-image:linear-gradient(to right,#b5dbf8,#b59afe)
}
.one-year-look-back-page .highlight-content .items li .content.bg-3:after{
    background:url(https://cdn.lotte.vn/media/wysiwyg/static/one-year-look-back/bg-3.png) 100% 100% no-repeat;
    opacity:.6
}
.one-year-look-back-page .highlight-content .items li .content.bg-4{
    background-color:#51ade3;
    background-image:linear-gradient(to right,#8ce0eb,#51ade3)
}
.one-year-look-back-page .highlight-content .items li .content.bg-4:after{
    background:url(https://cdn.lotte.vn/media/wysiwyg/static/one-year-look-back/bg-4.png) 100% 100% no-repeat;
    opacity:.7
}
.one-year-look-back-page .highlight-content .items .field-text{
    font-size:11px;
    min-height:32px;
    margin-bottom:5px
}
.one-year-look-back-page .highlight-content .items .field-number{
    font-size:39px;
    font-weight:700;
    line-height:100%;
    margin-bottom:5px
}
.one-year-look-back-page .highlight-content .items .field-body{
    font-weight:700;
    text-transform:uppercase
}
.one-year-look-back-page .highlight-content .items.items-2 li{
    min-width:370px
}
.one-year-look-back-page .highlight-content .items.items-2 .field-text{
    font-size:14px;
    text-transform:uppercase;
    font-weight:700;
    min-height:10px;
    padding-top:20px
}
.one-year-look-back-page .highlight-content .items.items-2 .field-body{
    font-weight:400;
    text-transform:none;
    font-size:12px
}
.one-year-look-back-page .highlight-content .items.items-2 .field-number{
    font-size:33px
}
.one-year-look-back-page .avatar-name{
    width:138px;
    height:138px;
    margin:-105px auto 25px;
    background:#fff;
    border:1px solid #000;
    text-align:center;
    padding:43px 10px 10px;
    text-transform:uppercase;
    font-size:48px;
    color:#fcd270;
    line-height:100%;
    font-weight:700;
    border-radius:50%;
    -webkit-border-radius:50%
}
.one-year-look-back-page .avatar-name span{
    opacity:.6
}
.one-year-look-back-page .content-type{
    border-top:2px solid #dcdcdc;
    padding-top:40px;
    text-align:center
}
.one-year-look-back-page .content-type h2{
    font-size:28px;
    font-weight:700;
    margin-top:0;
    margin-bottom:10px;
    line-height:1.1;
    text-transform:uppercase
}
.one-year-look-back-page .content-type .sub{
    font-size:16px
}
.one-year-look-back-page .content-type .btn-type{
    padding-top:30px
}
.one-year-look-back-page .content-type .btn-type a{
    min-width:360px
}
.one-year-look-back-page .content-type .text-type{
    text-transform:uppercase;
    margin-bottom:10px;
    font-size:20px
}
.one-year-look-back-page .code-block{
    width:613px;
    height:260px;
    background:url(https://cdn.lotte.vn/media/wysiwyg/static/one-year-look-back/bg-code.jpg) no-repeat;
    margin:0 auto;
    color:#fff;
    font-size:16px;
    font-weight:700;
    padding:63px 100px
}
.one-year-look-back-page .code-block .text{
    text-transform:uppercase;
    margin-bottom:5px
}
.one-year-look-back-page .code-block .code{
    text-transform:uppercase;
    font-size:38px;
    color:#fec31f;
    margin-bottom:0
}
.one-year-look-back-page .code-block .text-2{
    font-size:19px
}
.one-year-look-back-page .code-block .text-2 strong{
    font-size:30px
}
.one-year-look-back-page .campaign-products{
    background:#fff;
    margin-bottom:20px
}
.one-year-look-back-page .campaign-products .campaign-title{
    background-color:#f5b400;
    color:#333;
    text-align:center;
    padding:12px 15px 10px;
    font-size:18px;
    text-transform:uppercase;
    margin:0;
    line-height:1.2
}
.one-year-look-back-page .campaign-content{
    padding:15px
}
.one-year-look-back-page .msg-block{
    text-align:center;
    margin-bottom:40px;
    position:relative;
    padding-top:30px
}
.one-year-look-back-page .msg-block:before{
    content:"";
    width:28px;
    height:3px;
    background-color:#303030;
    position:absolute;
    left:50%;
    top:0;
    margin-left:-14px;
    z-index:1
}
.one-year-look-back-page .msg-block p{
    margin-bottom:20px
}
.one-year-look-back-page .msg-block img{
    display:block;
    margin:0 auto;
    border-radius:10px;
    -webkit-border-radius:10px;
    border:2px solid #667479
}
.one-year-look-back-page .msg-block h3{
    font-weight:700;
    text-transform:uppercase;
    font-size:22px
}
@media (max-width:1199px){
    body{
        min-width:320px;
        background-color:#fff
    }
    .breadcrumb-lt,.campaign-promotion-sale,.footer-lt,.head-txt,.section-promotion-sale,.sticky-header,.subscrible-section,.topbar{
        display:none
    }
    .one-year-look-back-page{
        background-color:#fff;
        background-size:auto 450px
    }
    .one-year-look-back-page .container-lt{
        min-width:320px;
        width:auto;
        padding-bottom:0
    }
    .one-year-look-back-page .highlight-content{
        margin-bottom:0;
        margin-left:-15px;
        margin-right:-15px;
        padding:20px 15px
    }
    .one-year-look-back-page .highlight-content .items{
        margin-bottom:10px
    }
    .one-year-look-back-page .highlight-content .items.items-2 .field-number{
        font-size:28px
    }
    .one-year-look-back-page .highlight-content .bottom-text{
        position:static;
        bottom:0;
        padding-top:20px;
        margin-bottom:25px
    }
    .one-year-look-back-page .top-banner{
        height:260px;
        padding-top:50px
    }
    .one-year-look-back-page .top-banner h3{
        font-size:16px
    }
    .one-year-look-back-page .top-banner h2{
        font-size:36px
    }
    .one-year-look-back-page .top-banner h2 span{
        font-size:26px
    }
    .one-year-look-back-page .content-type{
        padding-top:30px
    }
    .one-year-look-back-page .content-type h2{
        font-size:24px
    }
    .one-year-look-back-page .content-type .sub{
        font-size:14px
    }
    .one-year-look-back-page .msg-block h3{
        font-size:18px
    }
    .one-year-look-back-page .campaign-content{
        padding-left:0;
        padding-right:0
    }
    .one-year-look-back-page .products-cate-list .item-product{
        width:25%
    }
}
@media (max-width:767px){
    .one-year-look-back-page{
        background-size:auto 290px
    }
    .one-year-look-back-page .top-banner{
        height:170px;
        padding-top:25px
    }
    .one-year-look-back-page .top-banner h2{
        font-size:23px
    }
    .one-year-look-back-page .top-banner h2 span{
        font-size:20px
    }
    .one-year-look-back-page .top-banner h3{
        font-size:14px
    }
    .one-year-look-back-page .highlight-content .items{
        margin-bottom:30px
    }
    .one-year-look-back-page .highlight-content .items ul{
        display:block;
        margin-right:0;
        margin-left:0
    }
    .one-year-look-back-page .highlight-content .items li{
        padding-right:0;
        padding-left:0;
        min-width:290px!important;
        width:100%;
        float:none
    }
    .one-year-look-back-page .highlight-content .field-name{
        font-size:24px
    }
    .one-year-look-back-page .content-type .btn-type a{
        min-width:260px
    }
    .one-year-look-back-page .avatar-name{
        width:100px;
        height:100px;
        font-size:40px;
        padding-top:30px;
        margin-top:-45px;
        margin-bottom:15px
    }
    .one-year-look-back-page .code-block{
        background-size:auto 123px;
        width:290px;
        height:123px;
        padding:24px 43px;
        font-size:14px
    }
    .one-year-look-back-page .code-block .code{
        font-size:26px;
        line-height:100%
    }
    .one-year-look-back-page .code-block .text{
        margin-bottom:0
    }
    .one-year-look-back-page .code-block .text-2{
        font-size:14px
    }
    .one-year-look-back-page .code-block .text-2 strong{
        font-size:22px;
        line-height:100%
    }
    .one-year-look-back-page .products-cate-list .item-product{
        width:50%
    }
}
@media (max-width:799px){
    .forgot-popup.wrapper-popup.lt-login-modal,.signup-popup.wrapper-popup.lt-login-modal{
        max-width:460px;
        width:auto;
        padding:0;
        background:0 0
    }
    .forgot-popup.wrapper-popup .login-right-content,.signup-popup.wrapper-popup .login-right-content{
        display:none
    }
}
@media (max-width:479px){
    .forgot-popup.wrapper-popup.lt-login-modal,.signup-popup.wrapper-popup.lt-login-modal{
        max-width:340px
    }
    .forgot-popup.wrapper-popup .modal-inner-wrap,.signup-popup.wrapper-popup .modal-inner-wrap{
        width:auto;
        max-width:340px
    }
}
@media (max-width:359px){
    .forgot-popup.wrapper-popup.lt-login-modal,.signup-popup.wrapper-popup.lt-login-modal{
        max-width:290px
    }
    .forgot-popup.wrapper-popup .modal-inner-wrap,.signup-popup.wrapper-popup .modal-inner-wrap{
        width:auto;
        max-width:290px
    }
    .forgot-popup.wrapper-popup .lt-login-modal__content,.signup-popup.wrapper-popup .lt-login-modal__content{
        padding:15px
    }
    .forgot-popup.wrapper-popup .lt-login-modal__close,.signup-popup.wrapper-popup .lt-login-modal__close{
        right:15px
    }
    .forgot-popup.wrapper-popup .lt-login-modal__content--tabs li,.signup-popup.wrapper-popup .lt-login-modal__content--tabs li{
        margin-right:10px
    }
}
