<div class="order-products-toolbar toolbar bottom lt-pagings">
    <div class="toolbar toolbar-products">
        <div class="pager">
            <div class="pages">
                <strong class="label pages-label" id="paging-label">Page</strong>
                <ul class="items pages-items" aria-labelledby="paging-label">
                    <li class="item pages-item-first" [ngClass]="{'disabled' : page === 1}"
                        (click)="onPage(1)">
                        <a class="action first" title="First Page">
                            <span class="label">Page</span>
                            <span>1</span>
                        </a>
                    </li>
                    <li class="item pages-item-previous" [ngClass]="{'disabled' : page === 1}"
                        (click)="onPage(page - 1)">
                        <a class="action previous" title="Trước đó">
                            <span class="label">Page</span>
                            <span><</span>
                        </a>
                    </li>
                    <li class="item" *ngFor="let pageNum of getPages()" (click)="onPage(pageNum)">
                        <a class="page" [ngClass]="{'action active': pageNum === page}">
                            <span class="label">Page</span>
                            <span>{{pageNum}}</span>
                        </a>
                    </li>
                    <li class="item pages-item-next"
                        [ngClass]="{'disabled' : lastPage()}"
                        (click)="onPage(page + 1)">
                        <a class="action next" title="Tiếp tục">
                            <span class="label">Page</span>
                            <span>&gt;</span>
                        </a>
                    </li>
                    <li class="item pages-item-last next-last-item"
                        [ngClass]="{'disabled' : lastPage() }"
                        (click)="onPage(getMax())">
                        <a class="action last" title="Last Page">
                            <span class="label">Page</span>
                            <span>>></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
