<div class="products-cate-list">
  <!--item -->
  <div class="item-product" *ngFor="let product of Products; let idx = index">
    <div class="inner">
      <div class="field-img">
        <a class="thumb-img" routerLink="/product/{{product.id}}/{{product.url.toUrlKey()}}">
          <img attr.src="{{'https:' +  product.image_url}}" width="234" height="304" alt="">
        </a>
        <div class="field-badge-top">
          <img src="../demo/badge-1.png" alt="">
        </div>
        <div class="quick-view">
          <a href="javascript: void(0);">&nbsp;</a>
        </div>
        <div class="field-badge-bottom">
          <div class="gift-info">
            <button class="btn-gift"><span>Gift info</span></button>
            <div class="gift-tips">
              <div class="inner">
                <p>• Lorem ipsum dolor sintet.</p>
                <p>• Lorem ipsum dolor sintet.</p>
                <p>• Lorem ipsum dolor sintet.</p>
              </div>
            </div>
          </div>
          <button class="btn-save"><span>Save for later</span></button>
        </div>
      </div>
      <div class="info">
        <div class="field-brand"><span class="brand-name">
          <a routerLink="/brand/{{product.product_brand_id}}/{{product.product_brand.toSlugify()}}">{{product.product_brand}}</a>
          <!--<a href="#">{{product.product_brand}}</a>-->
        </span><span class="tag">new</span></div>
        <div class="field-name"><a routerLink="/product/{{product.id}}/{{product.url.toUrlKey()}}">{{product.name}}</a></div>
        <div class="field-price"><span class="old-price" *ngIf="product.price?.VND?.default !== product.price?.VND?.price">{{product.price?.VND?.price_formated}}</span> {{product.price?.VND?.default_formated}}</div>
        <div class="bottom">
          <div class="color-options">
            <a class="current" href="#">Đỏ</a>
            <a href="#">Xanh lá</a>
            <a href="#">Tím</a>
            <a href="#">Xanh dương</a>
            <a href="#">...</a>
          </div>
          <div class="more-info">
            <div class="size-options">
              <a href="#">S</a> / <a href="#">M</a> / <a href="#">L</a> / <a href="#">XL</a>
            </div>
            <div class="others">
              <span class="location">Hà Nội</span><span class="sep">/</span><span class="delivery-type">Giao nhanh</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end item -->
</div>