<div class="phonecard-page">
    <div class="top-banner-card" [innerHTML]="bannerTopHtml"></div>
    <div class="container-lt clearfix">
        <app-recharge-sidebar></app-recharge-sidebar>
        <div class="phonecard-content">
            <div class="phonecard-content-inner">
                <div class="head-info">
                    <h2>NẠP TIỀN ĐIỆN THOẠI</h2>
                    <app-topup-input-phone></app-topup-input-phone>
                    <app-topup-provider></app-topup-provider>
                </div>
                <div class="phonecart-block clearfix">
                    <div class="left-content">
                        <app-topup-product-list></app-topup-product-list>
                        <div [hidden]="!cartRequest?.product_id">
                            <app-recharge-promotion></app-recharge-promotion>
                            <app-recharge-payment></app-recharge-payment>
                        </div>
                    </div>
                    <div class="right-content">
                        <app-topup-summary></app-topup-summary>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="cartRequest?.product_id">
                <app-term-condition></app-term-condition>
            </ng-container>
        </div>
    </div>
    <div class="bottom-banner-card" [innerHTML]="bannerBottomHtml"></div>

</div>


<ng-container >
    <!-- popup-->
    <div class="modal fade show in" *ngIf="configs?.recharge_active == 0">
        <div class="phonecard-note-popup" style="display: block">
            <div class="modal-dialog-lt">
                <div class="modal-content-lt">
                    <div class="modal-header-lt">
                        <h5 class="modal-title">Thông báo</h5>
                    </div>
                    <div class="modal-body">
                        <div class="content" [innerHTML]="warningActiveHtml"></div>
                        <div class="count-down-lt">
                            <!--<p style="text-align:center">THỜI GIAN CÒN LẠI</p>-->
                            <div class="inner">
                                <ul>
                                    <li><span>{{leftMinute}}</span> phút</li>
                                    <li><span>{{leftSecond}}</span> giây</li>
                                </ul>
                            </div>
                        </div>
                        <p class="btn-type">
                            <a href="/" class="button-bg" title="Mua sắm sản phẩm khác">Mua sắm sản phẩm khác</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop-lt fade-lt show-lt" *ngIf="configs?.recharge_active == 0"></div>
</ng-container>