<app-cfs-product-filter></app-cfs-product-filter>
<!--<app-cfs-tpo></app-cfs-tpo>-->
<main class="main">
    <div class="container-lt">
        <p class="cat-count">{{total}} Items Found</p>

        <app-cfs-product-list [Products] = "Products"></app-cfs-product-list>

        <div class="product-viewed-footer">
            <div class="product-showed-bar">
                <p class="txt">You've viewed {{count}} of {{total}} products</p>
                <div class="status-bar"><div style="width: 30%"></div></div>
            </div>
            <a (click)="viewMore()" class="button-border" [ngClass]="{'state-loading':isLoading}">Xem thêm</a>
        </div>
    </div>
</main>
